@import '~shared/style/variables/index.less';
/* stylelint-disable */

.permit-search {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;

  .change-warning {
    .alert.modal .modal-close {
      display: inline-block;
    }

    .aaui-button-secondary {
      display: none;
    }
  }

  .permit-company,
  .permit-agent {
    display: inline-flex;
  }

  .permit-agent {
    padding-left: 26px;
  }

  .permit-search-title {
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: @semibold;
    line-height: 150%;
  }

  .permit-search-item {
    margin-top: 5px;
    line-height: 30px;

    .prt-srch-itm-radio {
      display: inline-flex;
    }

    .prt-srch-itm-link {
      display: inline-flex;
      padding-left: 10px;

      a {
        color: @color-blue;

        &:hover {
          text-decoration: none;
          color: @color-blue-darker;
        }

        i {
          display: inline-block;
          margin-right: 4px;
        }
      }
    }

    .prt-srch-itm-showName {
      display: inline;
      padding-left: 30px;
      font-weight: @semibold;
    }

    .prt-srch-itm-agent {
      label {
        margin-right: 20px;
      }

      .noAgents {
        font-size: 14px;
        color: #738187;
      }
    }

    form {
      input {
        display: none;
      }
    }
  }
}
