.an-list {
  .test {
    display: flex;
    justify-content: space-between;
  }
}

.sample-form {
  width: 970px;

  .row {
    .field {
      width: 100%;
    }
  }
}

.side-bar {
  position: static;
  width: 970px;
  margin-left: 0;
  margin-top: 0;

  .options {
    .row {
      display: inline-block;

      .label {
        font-size: 14px;
        color: white;
        display: inline-block;
        width: 150px;
        text-align: right;
        padding-right: 10px;
      }
      input,
      select,
      textarea {
        width: 150px;
        border-radius: 5px;
        display: inline-block;
      }
      textarea {
        height: 100px;
      }
    }
  }
}
