.steps-example {
  .butotn-container {
    margin-top: 20px;
    margin-bottom: 20px;
    .prev-button {
      margin-right: 10px
    }
  }


  .self-set-icon {
    margin-bottom: 20px;
    .an-steps__item {

      &-icon {
        i {
          font-size: 30px;
        }
      }

      &--finish {
        color: @color-blue;
      }

      &--wait {
        color: @arrow-disabled-color;
      }

      &--process {
        color: @color-blue;
      }

      &--error {
        color: @state-warning-text;
      }

    }
  }
}