@import '~react-base-ui/lib/less/variables/color.less';

.enrollform__sections {
  .section .an-collapse-item__content {
    padding: 14px 20px;
    overflow: visible;
  }

  .section__disabled:hover {
    border-color: transparent;
  }
}
