
.booking-resources__link-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button:first-child {
    height: 32px;
  }

  .runningCart-wrapper {
    margin-left: 10px;

    .runningCart {
      z-index: 1003;
    }
  }
}
