@import '../../../src/less/variables/index.less';

.mock-back-top {
  right: 30px;
  bottom: 60px;
}

.customize-back-top {
  padding: 10px 20px;
  background-color: @color-blue-science;
  color: @color-gray;
}
