/* stylelint-disable */

.month-view {
  flex: 1;

  .an-rc-event-seg {
    font-size: 12px;
    font-weight: 600;
  }

  .an-rc-grid-header {
    .grid-cell {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .resource-name {
    width: 150px;
    font-size: 12px;
    font-weight: normal;
  }

  .resource-cell {
    .cell-content {
      display: flex;
      align-items: flex-start;
      word-break: break-all;
    }
  }
}
