.an-settingspanel{
  width: 100%;
  height: 100%;
  font-size: 14px;
  left: 0;
  right: 0;
  bottom: 0px;
  box-shadow: 0 -4px 18px 5px rgba(0,0,0,.5);
  background-color: #222;
  color: white;
  position: relative;
  
  &__tabs{
    position: absolute;
    right: 30px;
    top: -38px;
    font-size: 24px;
    color: #3c82c1;

    .tab{
      margin-right: 12px;
      cursor: pointer;
      box-shadow: 2px -4px 16px 0px rgba(0,0,0,0.5)
    }

    .tab i:hover{
      color: #0e4a7e;
    }
  }

  &__tabcontent{
    width: 100%;
    height: 100%;
  }

  .group{
    height: 100%;
    display: inline-block;
  }

  .col{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    height: 100%;
  }

  .col.full{
    flex-wrap: nowrap;
    width: 100%;
  }

  .col.full{
    .tip{
      margin-left: 10px;
    }
  }

  .console{
    width: 100%;
    height: 100%;
  }

  .group-label{
    font-size: 20px;
    color: #f97828;
    margin: 0px 10px;
  }

  .field{
    margin-top: 6px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    &__label{
      margin: 0 4px;
    }
  }

  .field.spread{
    justify-content: space-between;
  }

  h4{
    color: white;
  }

  input[type=checkbox], [type=radio]{
    margin: 8px 4px;
  }
}