@import '../variables.less';

@media @media-query-small, @media-query-medium {
  .alert {
    width: 100%;
    padding: 10px;

    span:first-of-type {
      margin-right: 12px;
      margin-left: 2px;
      font-size: @new-gd-font-size-m;
    }
  }
}
