/* stylelint-disable property-no-vendor-prefix,declaration-no-important  */

@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes moveLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes moveLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes moveLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes moveRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
}

@-ms-keyframes moveRight {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(-100%);
  }
}

@-o-keyframes moveRight {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(-100%);
  }
}

@keyframes moveRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

.move-left {
  -webkit-animation: moveLeft 0.2s ease-in-out 0.2s backwards;
  -moz-animation: moveLeft 0.2s ease-in-out 0.2s backwards;
  -o-animation: moveLeft 0.2s ease-in-out 0.2s backwards;
  -ms-animation: moveLeft 0.2s ease-in-out 0.2s backwards;
  animation: moveLeft 0.2s ease-in-out 0.2s backwards;
}

.move-right {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation: moveRight 0.2s ease-in-out 0.2s backwards;
  -moz-animation: moveRight 0.2s ease-in-out 0.2s backwards;
  -o-animation: moveRight 0.2s ease-in-out 0.2s backwards;
  -ms-animation: moveRight 0.2s ease-in-out 0.2s backwards;
  animation: moveRight 0.2s ease-in-out 0.2s backwards;
}

.fade-in {
  opacity: 1 !important;
  -webkit-animation: fadeIn 0.2s ease-in-out 0.2s backwards;
  -moz-animation: fadeIn 0.2s ease-in-out 0.2s backwards;
  -o-animation: fadeIn 0.2s ease-in-out 0.2s backwards;
  -ms-animation: fadeIn 0.2s ease-in-out 0.2s backwards;
  animation: fadeIn 0.2s ease-in-out 0.2s backwards;
}

.fade-out {
  opacity: 0 !important;
  -webkit-animation: fadeOut 0.2s ease-in-out 0.2s backwards;
  -moz-animation: fadeOut 0.2s ease-in-out 0.2s backwards;
  -o-animation: fadeOut 0.2s ease-in-out 0.2s backwards;
  -ms-animation: fadeOut 0.2s ease-in-out 0.2s backwards;
  animation: fadeOut 0.2s ease-in-out 0.2s backwards;
}
