@import '../variables.less';

.@{an-basename}-flexbox {
  .flex('flexbox');

  align-items: flex-start;
}

.@{an-basename}-flex-col {
  .flex-col;
}

/**
 * asce - ascending
 * desc - descending
 */
.@{an-basename}-flex-col-order {
  &-asce {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-desc {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}
