
.input-numeric-list {
  .an-list__body-single-row {
    padding-right: 5px;

    .rowcontainer {
      .rowText {
        flex-grow: 1;
        padding-left: 0;
        text-align: right;
      }
    }
  }
}
