.content-pane{
  padding-top: 200px;
  padding-left: 10px;
  text-align: center;
  font-size: 60px;
  color: grey;
}

.gallary{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading-sm,
.loading-md,
.loading-lg{
  width: 200px;
  height: 200px;
  border: solid 1px gray;
}

.button-group{
  margin: 4px;
  span {
    width: 160px;
    display: inline-block;
  }
}

.field {
  display: flex;
  padding: 5px;
  span {
    width: 200px;
  }
  input {
    width: 150px;
    border-radius: 5px;
    height: 25px;
  }
}
