.buttonBar-example {
    .button-bar {
        .button1-gap {
            margin-right: 10px;
        }
        
        .button2-gap {
            margin-right: 5px;
        }
    }
    
    .list {
        padding: 10px;
    
        li {
            list-style: none;
            padding: 5px 0;
        }
    }
}