@import '~shared/styles/variables.less';

.futurecharges {
  h4 {
    padding: 15px 0 10px;
  }

  .futurecharge {
    padding: 10px;
    font-size: 14px;
    border-top: dotted @an-split-line-border-dot-color 1px;

    &-list {
      width: 45%;
    }

    &-desc {
      font-weight: @font-weight-semiBold;

      span {
        word-break: normal;
        word-wrap: break-word;
      }
    }

    &-duedate {
      display: flex;
      padding: 10px 0;

      &__label {
        padding-right: 5px;
        color: @river-bed;
      }

      &__content {
        width: 150px;
      }
    }
  }

  .first {
    border-top: solid @an-split-line-border-color 2px;
  }

  .last {
    border-bottom: solid @an-split-line-border-color 2px;
  }
}

@media @media-query-medium {
  .futurecharges {
    .futurecharge {
      &-list {
        width: 45%;
      }

      &-duedate {
        &__content {
          width: 30%;
        }

        &__label {
          width: 10%;
        }
      }

      &-paymentinfo {
        padding-bottom: 2px;
      }
    }
  }
}

@media @media-query-small {
  .futurecharges {
    .futurecharge {
      padding: 10px 0 20px 0;

      &-list {
        width: 100%;
        padding-bottom: 6px;
      }

      &-duedate {
        flex-direction: column;
        padding: 10px 0 4px 0;

        &__content {
          width: 30%;
        }

        &__label {
          width: 10%;
        }
      }

      &-paymentinfo {
        padding-bottom: 10px;
      }
    }
  }
}
