section.signature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .signature-container,
  .signature-line,
  .signature-container-additional {
    width: 455px;
  }

  .signature-line {
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #313741;

    span {
      line-height: 19px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #222;
  }

  .signature-info {
    margin-top: 20px;

    p.signature-info-name {
      font-weight: 600;
    }
  }

  .signature-date {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #313741;

    span {
      line-height: 19px;
    }
  }

  .signature-container-additional {
    margin-top: 50px;
  }
}
