@import '~shared/style/variables/color.less';
/* stylelint-disable */

.event-info {
  margin: 20px auto;
  color: #222;
  border: solid 2px @color-gray-border;

  header {
    padding: 18px;
    background-color: #eef9fd;

    .event-info__header-box {
      display: flex;
      justify-content: space-between;

      .event-name {
        font-size: 20px;
        font-weight: 600;
        word-break: break-all;
      }

      .event-data {
        display: inline-block;
        padding-right: 20px;
        font-size: 14px;

        strong {
          font-weight: 600;
        }
      }
    }

    .event-notes {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 14px;
      word-wrap: break-word;

      strong {
        font-weight: 600;
      }

      p {
        margin-bottom: 0;
        word-wrap: break-word;
      }
    }
  }
}
