/* stylelint-disable */

.datenav {
  .datenav__prev-button,
  .datenav__next-button {
    height: inherit;
    min-width: inherit;
    padding: 0 10px;
    border-radius: 3px;

    &:after {
      top: 0;
      left: 0;
      font-size: 14px/1;
    }
  }

  .datenav__next-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &:after {
      font-family: 'aui_icons';
      content: '\f054';
    }
  }

  .datenav__prev-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:after {
      font-family: 'aui_icons';
      content: '\f053';
    }
  }

  .datenav__date-text {
    display: inline-block;
    width: 140px;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    vertical-align: bottom;
    color: #000;
    background-color: #e6eef1;
    border: 1px solid #d6e3e8;
  }

  .date-picker {
    position: absolute;
    right: 0;
    left: 0;
    height: 24px;
    font-weight: normal;

    input {
      position: absolute;
      left: -2000px;
      height: 24px;
      padding: 0;
      color: transparent;
      background-color: transparent;
      border: none;
    }
  }
}
