//
// Dropdown mixin
// --------------------------------------------------

@width: 100%;

.m-dropdown-button(
  @font-size;
  @color;
  @background-color;
  @border-color;
  @border-radius;
  @focus-color;
  @arrow-color;
  @expand-background-color;
  @dropdown-disabled-color;
  @disabled-background-color;
  ) {
  width: @width;
  display: block;
  cursor: pointer;
  text-align: left;
  min-height: auto;
  padding: 0;
  font-size: @font-size;
  line-height: @input-line-height;
  color: @color;
  background-color: @background-color;
  background-image: none;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  box-shadow: none;
  transition: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: normal;
  word-wrap: break-word;
  &.expand {
    border: 1px solid @border-color;
    background-color: @expand-background-color;
  }
  &.collapse {
    background-color: @background-color;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: @disabled-background-color;
    color: @dropdown-disabled-color;

    .dropdown__prefix-icon {
      color: @dropdown-disabled-color;
    }

    [class^='icon-'] {
      color: @dropdown-disabled-color;
    }
  }
  .dropdown__button-text {
    width: ~'calc(100% - 40px)';
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: normal;
    word-wrap: break-word;
    margin-left: 10px;
  }
  [class*=' icon-'],
  [class^='icon-'] {
    font-size: @font-size;
    display: inline-block;
    color: @arrow-color;
    margin: auto 10px;
    width: 10px;
    float: right;
    line-height: @input-line-height;
  }
  .dropdown__prefix-icon {
    float: left;
    color: @color;
    + .dropdown__button-text {
      width: ~'calc(100% - 60px)';
      margin-left: 0;
    }
  }
}

.m-dropdown__menu(
  @border-color;
  @background-color;
  @border-radius;
  @hover-background-color;
  @font-size;
  @color;
  @zIndex;
  ) {
  width: 100%;
  display: none;
  margin-top: 1px;
  border: 1px solid @border-color;
  background-color: @background-color;
  border-radius: @border-radius;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  height: auto;
  z-index: @zIndex;
  li {
    background-color: @background-color;
    padding-left: 0px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      background-color: @hover-background-color;
      a {
        color: @background-color;
      }
    }
    a {
      display: block;
      white-space: normal;
      color: @color;
      padding: 3px 20px;
      vertical-align: middle;
      line-height: @dropdown-line-height-base;
      font-size: @font-size;
      &:hover {
        color: @background-color;
        text-decoration: none;
      }
    }

    &.selected {
      background-color: @hover-background-color;
      a {
        color: @background-color;
      }
    }
  }
}

.m-dropdown-grandient(@background-color;@focus-color) {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(@background-color, @focus-color);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
}

.m-dropdown-grandient-active(@background-color;@focus-color;@border-color) {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(@background-color, @focus-color);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-color: @border-color;
}
