//
// Flex mixin
// --------------------------------------------------

.m-flexAlign(@display: flex; @direction: row;@vAlign: center; @hAlign: space-between) {
  display: flex;
  flex-direction: @direction;
  justify-content: @hAlign;
  align-items: @vAlign;
}
