.m-radio-wrapper-size(@radio-size, @radio-inner-size, @radio-inner-offset) {
  .radio__inner {
    width: @radio-size;
    height: @radio-size;
    border-radius: @radio-size;
  }

  .radio__inner::after {
    top: @radio-inner-offset;
    left: @radio-inner-offset;

    width: @radio-inner-size;
    height: @radio-inner-size;

    border-radius: @radio-inner-size;
  }
}
