.an-list {
  .test {
    display: flex;
    justify-content: space-between;
  }
}

.side-bar {
  .options {
    .row {
      span {
        font-size: 15px;
        color: white;
        width: 200px;
        display: inline-block;
      }
      input[type="text"],
      select,
      textarea {
        width: 260px;
        height: 30px;
        border-radius: 5px;
        display: inline-block;
      }
      textarea {
        height: 100px;
      }
    }
  }
}