@import '~shared/style/variables/color.less';
/* stylelint-disable */

@page {
  padding: 1px;
  margin: 36px 0 106px 0;
  size: A4;

  @bottom-center {
    content: element(pdffooter);
  }
}

@page :first {
  margin-top: 0;
}

.page-container.pdf {
  section,
  header {
    display: block;
  }

  h1 {
    line-height: 60px;
  }

  .permit-logo {
    * {
      display: block;
    }

    img {
      top: 0;
      margin: auto;
    }
  }

  div {
    &.customer-info {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #d7d8db;
    }
  }

  section {
    table {
      table-layout: fixed;

      &.table {
        width: 100%;

        tr {
          th {
            div {
              padding: 0 20px;
              border-right: 0;
              border-left: 1px solid #d7d8db;
            }

            &:first-child {
              div {
                border-left: none;
              }
            }
          }

          td {
            &.format-waiver-signature {
              p,
              div.waiver-signature-line {
                display: inline-block;
              }
            }

            &:last-child {
              div {
                padding-right: 20px;
              }
            }
          }
        }

        .align-right {
          text-align: right;
        }
      }
    }

    .collapse-panel__header {
      height: 28px;
    }

    &.event-info {
      .event-info__header-box {
        div:first-child {
          display: inline;
        }

        div:last-child {
          float: right;
        }
      }
    }

    &.booking-summary {
      border: none;

      .resource-info {
        div {
          display: inline-block;
          vertical-align: top;

          &:first-child {
            width: 61%;
            margin-right: 3%;
          }

          &:last-child {
            width: 32%;
          }
        }
      }
    }

    .waiver-table {
      td.format-waiver-content,
      td.format-waiver-status {
        padding-right: 30px;
        padding-left: 20px;

        div {
          padding: 0;
        }
      }

      td.format-waiver-content {
        padding-left: 30px;
      }
    }

    &.payment-schedules {
      margin-top: 20px;

      .collapse-panel__header {
        .collapse-panel__title {
          float: left;
        }

        .collapse-panel__summary {
          float: right;

          p:first-child {
            float: left;
          }

          p:last-child {
            float: right;
          }
        }
      }
    }

    &.question-answer {
      table.question-table {
        thead {
          tr {
            th:last-child {
              div {
                border-left: 1px solid #d7d8db;
              }
            }
          }
        }
      }
    }

    &.signature {
      margin-bottom: 0;
      page-break-inside: avoid;

      .signature-container {
        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }
      }
    }
  }

  .amendment {
    .event-detail-header {
      display: block;
      zoom: 1;
      overflow: hidden;

      > div:first-child {
        float: left;
      }

      > div:last-child {
        float: right;
      }
    }

    .amendment-action-resource-table {
      th.event-detail-amount,
      td.event-detail-amount,
      th.event-detail-attendee,
      td.event-detail-attendee {
        padding-right: 20px;
      }
    }

    .amendment-action-table {
      .event-action {
        width: 138px;

        & > div {
          display: block;
          width: 100px;
        }
      }

      .event-information {
        .table-status-content {
          .table-status-from,
          .table-status-to {
            span {
              display: inline-block;
              vertical-align: top;

              &:last-child {
                width: 625px;
              }
            }
          }
        }
      }
    }
  }

  .footer-pdf {
    position: running(pdffooter);
    display: block;
    width: 936px;
    padding: 10px 0 10px 20px;
    margin: 0 auto;
    border: solid 2px @color-gray-border;

    div,
    span {
      display: inline-block;
    }

    &__permit {
      width: 100px;
    }

    &__status {
      width: 695px;
    }

    &__statusLabel {
      margin-right: 10px;
      font-weight: 600;
    }

    &__page {
      text-align: right;
    }

    &__pageLabel {
      b {
        margin-right: 10px;
      }

      &:after {
        content: counter(page) ' of ' counter(pages);
      }
    }
  }
}
