/* stylelint-disable */

table.table.an-table.question-table {
  table-layout: fixed;

  th div,
  td div {
    width: 100%;
  }

  .format-question,
  .format-answer {
    text-align: left;
  }

  .format-question {
    width: 566px;

    > div {
      padding-left: 30px;
    }
  }

  .format-answer {
    width: 370px;

    > div {
      padding-right: 30px;

      > div {
        padding: 0;
      }
    }
  }

  .sub-question {
    background-color: #f8f8f8;

    div,
    p {
      width: 100%;
    }

    .sub-question-icon {
      display: flex;

      i {
        margin-right: 6px;
        line-height: 18px;
      }
    }
  }
}
