@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth,font-weight-notation,no-descending-specificity,declaration-block-semicolon-newline-after, declaration-block-no-duplicate-properties,order/properties-order,declaration-empty-line-before */

.creat-base-layout(navigation);

.an-navigation {
  &__wrapper {
    font-size: 14px; //for matching old cui style.

    > ul {
      .flex('flexbox');

      flex-wrap: nowrap;

      li {
        list-style: none;
      }

      > li {
        position: relative;
        font-size: 14px; //for matching old cui style.
        line-height: 14px;
        color: #fff;
        .flex-col();
        .flex('flexbox');
        .flex-layout('top');
        align-self: stretch;

        > a {
          align-self: stretch;
          width: 100%;
          text-decoration: none;
          color: #fff;

          &.active {
            font-weight: bold;
          }
        }

        &:hover {
          .nav-secondary-menu {
            .flex('table');
          }
        }
      }

      > li:not(.mycart) {
        > a > span {
          float: left;
          width: 100%;
          padding: 10px 15px;
          text-align: left;
          word-break: break-word;
          word-wrap: break-word;
        }
      }
    }

    .nav-secondary-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      display: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      padding: 15px 20px 20px 30px;
      background: #fafafa;
      border: 1px solid #ccc;

      &-column {
        padding: 0 10px;

        li {
          width: 190px;
          padding: 6px 0;
        }

        a {
          font-size: 12px; // for matching old cui style.
          color: #666;

          &:hover {
            color: #005580;
          }
        }

        &:last-child {
          li:last-child {
            a {
              color: #08c;

              &:after {
                .icon();

                margin-left: 2px;
                font-size: 12px;
                vertical-align: middle;
                content: '\f054';
              }
            }
          }
        }
      }
    }

    &.nav-has-secondary-menu {
      &:hover:after {
        .icon();

        position: absolute;
        bottom: -22px;
        left: 50%;
        z-index: 11;
        margin-left: -12px;
        font-size: 32px;
        color: #c9c9c9;
        content: '\f0d7';
      }
    }

    .placeholder {
      flex: 1 0 20px;

      &:hover {
        background: transparent;
      }
    }

    .mycart {
      right: 0;
      flex: 0 0 140px;
      order: 1;
      cursor: pointer;

      > a {
        flex: 1;
        padding: inherit 0;
        text-align: left;
        .flex('flexbox');
        .flex-layout('middle');

        &.active {
          font-weight: normal;
          color: @white;
        }
      }

      .icon-svg-shopping-cart {
        padding: 0;
        margin-top: -2px;
        margin-right: 5px;
        margin-left: 15px;
        line-height: 0;
        vertical-align: middle;
        color: @white;
        .svg-size(18px);
      }
    }

    button {
      position: absolute;
      top: -1000px;
      left: 0;
      display: inline-block;
      width: 125px;
      padding: 5px 0;
      font-size: 10px;
      background-color: #fafafa;
      border: 0;

      &:focus {
        top: 36px;
      }
    }

    .expand-menu {
      .flex('table');
    }
  }
}

.an-app--theme-legacy {
  .an-navigation {
    > li {
      line-height: 14px;
      color: #fff;

      &:hover {
        background: linear-gradient(to top, #c7c7c7 0%, #dcdcdc);
        background: -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), to(#dcdcdc));
      }
    }

    .mycart {
      &.active {
        color: #fff;
      }

      &:hover {
        box-shadow: inset 0 0 17px rgba(65, 97, 9, 1);
      }

      &:before {
        margin-right: 5px;
        font-size: 18px;
      }
    }

    .placeholder {
      &:hover {
        background: transparent;
      }
    }
  }

  .an-footer__separation-line {
    border-color: #afafaf;
  }
}

.ProximaNova--loaded {
  .an-app--theme-legacy {
    .an-navigation *:not(.icon) {
      .legacy-cui-font-family;
    }
  }
}
