@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth, no-descending-specificity */

@li-background-color: #40b0dc;
@current-menu-color: #40b0dc;
@tap-highlight-color: #40b0dc;
@short-name-background-color: #b3c042;

.creat-base-layout(responsiveNavigation);

.an-app {
  div.an-responsiveNavigation {
    position: absolute;
    top: 48px;
    z-index: 3;
    display: block;
    box-shadow: inset 0 1px 0 0 @gray-medium;
    overflow-y: auto;
    background-color: @white;
  }

  div.an-responsiveNavigation--is-hide {
    display: none;
  }
}

.an-responsiveNavigation {
  &__wrapper {
    height: 100%;

    > ul {
      height: 100%;

      > li:not(.sign-in-bar) {
        align-self: stretch;
        font-size: @font-size-base;
        list-style: none;

        &:hover {
          color: @white;
          background-color: @li-background-color;

          .user-info__chevron-right {
            color: @white;
          }
        }

        > a {
          display: inline-block;
          align-self: stretch;
          box-shadow: inset 0 1px 0 0 @gray-medium;
          width: 100%;
          padding-top: 16px;
          padding-bottom: 14px;
          text-decoration: none;
          color: inherit;

          &:hover,
          &.active {
            background-color: @li-background-color;
          }
        }
      }

      > li:not(.mycart) {
        > a > span {
          width: 100%;
          min-width: 73px;
          padding-left: 15px;
          text-align: left;
          word-break: break-word;
          word-wrap: break-word;
        }
      }

      .user-info {
        align-self: stretch;
        width: 100%;
        margin: 0;

        a {
          box-shadow: none;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: -6px;

          .user-info__wrapper {
            padding-top: 3px;
            padding-bottom: 0;
            margin-bottom: -3px;
          }
        }

        &__wrapper {
          position: relative;
          display: flex;
          padding-top: 16px;
          padding-bottom: 14px;
        }

        &__name {
          flex: 1;
          word-break: break-word;
          word-wrap: break-word;

          &__short-name {
            display: inline-block;
            box-shadow: inset -1px 2px 0 0 rgba(0, 0, 0, 0.1);
            width: 48px;
            height: 48px;
            padding-top: 10px;
            margin-right: 10px;
            margin-left: 15px;
            font-size: 21px;
            text-align: center;
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            color: @white;
            background-color: @short-name-background-color;
            border-radius: 24px;
          }

          &__full-name {
            display: inline-block;
            width: 180px;
            font-size: 18px;
            font-weight: @font-weight-Sbold;
            vertical-align: middle;
          }
        }
      }

      li.placeholder {
        box-shadow: 0 1px 0 0 @gray-medium;
        width: 100%;

        > a {
          font-size: 0;
        }
      }

      li.sign-out {
        box-shadow: 0 1px 0 0 @gray-medium;
        width: 100%;
      }

      li.sign-in-bar {
        align-self: stretch;
        box-shadow: inset 0 1px 0 0 @gray-medium;
        width: 100%;
        margin: -3px 0 0 0;
        overflow: hidden;

        div {
          text-align: center;
          cursor: pointer;

          a {
            display: inline-block;
            width: 100%;
            padding: 24px 0;
            color: @river-bed;

            &:hover {
              text-decoration: none;
              color: @white;
            }
          }

          &:hover {
            background-color: @li-background-color;
          }
        }

        .sign-in {
          padding-bottom: 9999px;
          margin-bottom: -9999px;
          border-right: 1px solid @gray-medium;
        }
      }

      li.current-menu {
        font-size: @font-size-base;
        font-weight: @font-weight-Sbold;
        color: @current-menu-color;
      }
    }

    .placeholder {
      flex: 1 0 60px;

      &:hover {
        background: transparent;
      }
    }
  }

  &__shadow {
    position: fixed;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin-top: 47px;
    background-color: rgba(48, 54, 65, 0.9);
    opacity: 0;
  }

  &__full-site {
    padding: 15px;
    font-size: 14px;
    line-height: 1.8;
  }
}

@media @media-query-medium {
  .an-app {
    div.an-responsiveNavigation {
      width: 307px;
    }

    .page-header {
      margin-top: 9px;
    }
  }
}

@media @media-query-small {
  .an-app {
    div.an-responsiveNavigation {
      width: 100%;

      &__wrapper {
        > ul {
          .user-info {
            &__name {
              &__full-name {
                width: 65%;
              }
            }
          }
        }
      }
    }

    .page-header {
      margin-top: 9px;

      .logo-wrapper {
        display: inline-block;
        width: 80px;
        text-align: right;

        img {
          position: static;
        }
      }

      .an-breadcrumb {
        display: inline-block;
        width: ~'calc(100% - 80px)';
        vertical-align: top;
      }
    }
  }
}
