@import '../../less/variables/index.less';

@backTopPrefixClass: an-back-top;

.@{backTopPrefixClass} {
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: @zindex-back-top;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    background-color: @black;
    border-radius: 50%;
    opacity: 0.54;

    .icon-svg-arrow-up {
      color: @white;
    }
  }
}
