@import '~shared/styles/variables.less';

@receipt-tax-color:#748288;
/* stylelint-disable max-nesting-depth, no-descending-specificity */

.fee-summary {
  .flex('flexbox');

  flex-direction: column;
  margin-top: 10px;

  > * {
    width: 100%;
  }

  &-list {
    margin-top: 10px;

    li {
      .flex('flexbox');
      .flex-layout('top');
      .flex-layout('between');

      flex-wrap: nowrap;
      margin: 10px 0;
      list-style: none;

      > span.field-label {
        flex: 1 0 70%;
        font-weight: @font-weight-semiBold;
      }

      > span.field-value {
        flex: 0 0 30%;
        text-align: right;
        word-break: break-all;
      }
    }
  }

  &-total {
    .flex('flexbox');
    .flex-layout('between');

    margin-top: 4px;
    font-size: 21px;
    font-weight: @font-weight-semiBold;

    > strong {
      > span {
        display: inline-block;
        word-break: break-word;
        word-wrap: break-word;
      }
    }

    > b {
      > span {
        display: inline-block;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

  &-total.is-unexpanded {
    align-content: flex-end;
    align-items: flex-end;
    flex: 0 0 30%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    font-size: 18px;
    text-align: right;
    word-wrap: break-word;

    > strong {
      > span {
        display: inline-block;
        word-break: break-word;
        word-wrap: break-word;
      }
    }

    > b {
      > span {
        display: inline-block;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

  @media @media-query-large {
    > h3 {
      margin-top: -8px;
    }
  }
}
