/* stylelint-disable */

.deposits-section {
  .aaui-table-header {
    border-top: none;

    .cell {
      padding-right: 10px;
      font-size: 14px;
      color: #748288;
    }
  }

  .cell {
    padding: 4px 0 5px 0;
    font-size: 16px;

    .aaui-table-cell {
      padding-right: 10px;
    }
  }

  .deposits-total {
    align-content: flex-end;
    justify-content: flex-end;
    padding: 10px 10px 0 0;

    &-label {
      font-weight: 600;
    }

    &-amount {
      text-align: right;
    }
  }

  .aaui-table-row {
    padding-left: 6px;
  }
}
