@import '~shared/style/variables/index.less';
/* stylelint-disable */

.schedules {
  margin-top: 20px;

  .table {
    .resource-name {
      width: 180px;
    }

    .center-name {
      width: 110px;
    }

    .event-name {
      width: 132px;
    }

    .start-date,
    .start-time,
    .end-date {
      width: 130px;
    }

    .end-time {
      width: 120px;
    }

    .start-date {
      div {
        text-align: left;
      }
    }

    .start-time,
    .end-date,
    .end-time {
      div {
        text-align: right;
      }
    }
  }

  thead th {
    border-top: 1px solid @color-gray-border !important;
  }

  tbody {
    td div {
      word-wrap: break-word;
    }
  }
}
