@import '~shared/styles/variables.less';

.enrollform__sections .section.enroll-session .an-collapse-item__content {
  padding: 0;
}

.enroll-session {
  background-color: @white;

  &__alert {
    margin-bottom: 0;
  }

  .session-card-container {
    padding: 14px 20px;
  }

  .weekly-summary-container {
    padding: 4px 20px 6px;

    .weekly-sessions {
      padding-top: 24px;
    }

    .session-card__status {
      top: -5px;
      right: auto;
      left: 0;
    }
  }
}

@media @media-query-medium {
  .enroll-session {
    .weekly-summary-container {
      padding: 4px 26px 4px 24px;

      .session-card__content {
        margin-left: 0;
      }
    }

    .session-card-container {
      width: 100%;
      padding: 16px 20px 6px 18px;
    }
  }
}

@media @media-query-small {
  .enroll-session {
    .weekly-summary-container {
      padding: 4px 12px 2px;

      .weekly-summary {
        padding-left: 4px;
      }

      .session-card__body {
        padding-left: 0;
      }
    }

    .session-card-container {
      width: 100%;
      padding: 16px 10px 6px 18px;
    }
  }
}
