@import '~shared/style/variables/index.less';
/* stylelint-disable */

.an-eventinfo-tooltip {
  &__content {
    padding: 20px;
    font-size: 14px;
  }

  label {
    display: inline-block;
    width: 140px;
    margin-right: 20px;
    font-weight: @semibold;
    text-align: right;
  }

  span {
    display: inline-flex;
    width: 158px;
  }

  .permit-tooltip-loading-error {
    color: #d93a20;
  }
}

.permits-list {
  .aaui-table {
    min-width: 940px;

    .aaui-table-header,
    .aaui-table-body {
      border-top: none;
      border-bottom: 2px solid #d6d7da;

      &.empty {
        border-bottom: none;
      }
    }

    .aaui-table-header {
      flex-wrap: nowrap;
      height: 34px;

      .aaui-table-header-cell {
        cursor: pointer;

        &.grid-status-checkbox-column {
          height: 0;
          padding: 0;
          line-height: 0;
        }
      }
    }

    .aaui-table-row {
      flex-wrap: nowrap;
      border-bottom: 1px solid #d6d7da;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
        background-color: #ebf7fb;
      }
    }

    .aaui-table-cell .text-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .aaui-table-header-cell {
      padding: 6px 0;

      > .aaui-flexbox {
        padding-right: 10px;
        padding-left: 5px;
        line-height: 16px;
        border-right: solid 1px #d7d8db;
      }
    }

    .control-cell {
      .status-circle {
        display: inline-flex;
        width: 12px;
        height: 12px;
        margin-right: 14px;
        border-radius: 50%;
      }
    }

    .grid-event-name-column {
      width: 20%;
      min-width: 115px;
    }

    .grid-email-column,
    .grid-customer-name-column {
      width: 20%;
    }

    .grid-customer-name-column,
    .grid-email-column,
    .grid-permit-start-date-cell {
      min-width: 105px;
    }

    .grid-permit-start-date-cell {
      width: 11%;
    }

    .grid-permit-number-column {
      width: 20%;
    }

    .grid-permit-number-column {
      min-width: 100px;

      .aaui-flexbox {
        padding-right: 15px;
      }
    }

    .grid-permit-status-attachment-column {
      width: 11%;
      min-width: 110px;

      .aaui-flexbox {
        border-right: none;
      }
    }

    .permit-status-cell,
    .attachment-cell {
      display: inline-block;
    }

    .permit-status-cell {
      line-height: 24px;
    }

    .attachment-cell {
      margin: auto 0 auto 15px;

      .icon-paperclip {
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: @color-blue;
      }
    }
  }

  .aaui-table-header-cell {
    .control-cell {
      border-left-color: transparent;
    }
  }

  .grid-status-checkbox-column {
    width: 60px;
    min-width: 60px;
  }
}
