@import '~shared/styles/variables.less';
@dev-icon-printable-color: #748288;

.receipt-code__pannel {
  padding-top: 8px;

  .receipt__content {
    padding-top: 15px;

    .icon-svg {
      margin-left: 4px;
      color: @dev-icon-printable-color;
    }
  }

  .receipt__share {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
}

@media @media-query-large {
  .receipt-code__pannel {
    .an-panel {
      padding: 0;
      margin-bottom: 0;
      border: 0;
    }
  }
}

@media @media-query-medium {
  .receipt-code__pannel {
    width: 100%;
    padding-top: 13px;

    .an-panel {
      padding: 0;
      margin-bottom: 0;
    }

    .receipt-pannel {
      padding: 20px;
      border-radius: 5px;
    }
  }
}

@media @media-query-small {
  .receipt-code__pannel {
    width: 100%;
    padding-top: 3px;

    .an-panel {
      padding: 0;
      margin-bottom: 0;
    }

    .receipt-pannel {
      padding: 10px 15px 20px 15px;
      border-radius: 5px;

      .receipt__content {
        padding-top: 5px;
      }
    }
  }
}
