@import './variables';

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.an-zoom-enter {
  animation-duration: @enter-duration;
  animation-name: zoomIn;
  animation-timing-function: @enter-timing-function;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.an-zoom-exit {
  animation-duration: @exit-duration;
  animation-name: zoomOut;
  animation-timing-function: @exit-timing-function;
  animation-fill-mode: forwards;
}
