@import '~shared/styles/variables.less';

.page-header {
  position: relative;
  margin: 20px 0 10px 0;

  &-specific {
    margin: 20px 0;
  }

  > div {
    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
