@import '~shared/styles/variables.less';

.program-extra {
  margin-bottom: 40px;

  .detail-item {
    clear: both;
    width: 100%;
    overflow: hidden;

    .an-split-line {
      margin-top: 20px;
      border-bottom-width: 1px;
    }

    &__head {
      margin: 20px 0 12px;
      font-size: @font-size-large-base;
      font-weight: @font-weight-semiBold;
      line-height: 1.2;
    }

    &__attachment {
      clear: both;
      padding-top: 6px;
    }
  }

  .an-paragraph-img {
    margin-left: 0;
  }
}

@media @media-query-medium {
  .program-extra .detail-item__attachment {
    padding-top: 16px;
  }
}

@media @media-query-small {
  .program-extra {
    .detail-item__attachment {
      padding-top: 16px;
    }

    .an-paragraph-img {
      display: block;
      float: none;
      max-width: 100%;
      max-height: none;
      margin: 0 auto 10px;
    }
  }
}
