.datepicker-disabled-area-demo {
  display: flex;
  align-items: center;
  .date-picker__calendar {
    font-size: 0;
    * {
      font-size: 16px;
    }
    .date-picker__table {
      .date-picker__disabled {
        cursor: default;
        color: #ede6e6;
        &:hover {
          background: white;
          color: #ede6e6;
        }
      }
    }
  }
}