.fc {
  .fc-resource-day-view {
    .fc-header {
      display: flex;
      border-width: 1px 1px 1px 1px;
      border-color: #ddd;
      border-style: solid;
      background: #fff;
      &-axis {
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 1px\0;
        border-right: 1px solid #ddd;
      }
      &-container {
        flex-grow: 0;
        flex-shrink: 0;
        .fc-scroll-hide {
          overflow: hidden;
        }
      }
    }
  }
}
