.fc {
  .fc-resource-week-view{
    .fc-scollbar-actor{
      position: relative;
      top: -1px;
    }
    .fc-scollbar-actor-output{
      height: 1px;
    }
    .fc-rs-cell{
      cursor: pointer;
    }
    .fc-rs-cell-allowed{
      background: #efefef;
    }
  }
  .fc-resource-week-view.time-grid-has-scrollbar{
    .fc-header-container .fc-scroll{
      margin-right: 0px;
      border-bottom: 1px solid #ddd;
    }
    .fc-header-split-dates{
      border-right: 1px solid #ddd;
      box-sizing: border-box;
    }
  }
}
