{
  "extends": "an",
  "rules": {
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "globals": {
    "window": true,
    "__TESTING__": true,
    "__SERVERRENDER__": true,
    "__STATIC__": true,
    "__TESTINGHOST__": true,
    "__TESTINGPORT__": true,
    "__DEV__": true,
    "expect": true,
    "mockAPI": true,
    "cleanMock": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./test/webpack.config.eslint"
      }
    }
  }
}
