@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth,no-descending-specificity,block-closing-brace-newline-before */

.payment-comp {
  .card-list {
    margin: 0 0 10px;
    list-style: none;

    > li {
      margin-bottom: 10px;
      border: 1px solid @an-panel-border-color;
      border-radius: 5px;

      &:hover {
        border-color: @tags-input-icon-color;
      }

      .radio-wrapper,
      .radio-wrapper .radio {
        .flex('flexbox');

        flex-direction: row;
        flex-grow: 1;
      }

      .radio-wrapper {
        padding: 0;
        margin: 0;
      }

      .radio {
        padding: 10px 20px;
      }

      .radio__inner + span {
        flex-grow: 1;
        padding: 0;
        margin-left: 15px;

        > .an-grid {
          flex-grow: 1;
          .flex-layout('middle');
        }
      }

      p {
        margin: 0;
      }

      .icon {
        font-size: 22px;
      }
    }

    .card-item {
      &-info {
        text-align: right;
      }

      &-number {
        margin-bottom: 4px;
      }

      &-active {
        .card-item-title {
          font-weight: @font-weight-semiBold;
        }
      }
    }
  }

  .collapseTrigger {
    a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    .icon-svg {
      margin-left: 5px;
    }
  }

  .security-guarantee {
    margin-bottom: 0;

    &-content {
      padding-top: 10px;

      .icon-svg {
        color: @rolling-stone;
      }
    }
  }

  .card-form {
    .form--horizontal {
      margin: 10px 0;
    }

    .form__wraper {
      .flex('flexbox');

      .form__filed__error {
        width: 100%;
        padding: 5px 0 0 0;
      }
    }

    .popover {
      white-space: pre-line;
    }

    .checkbox__text {
      padding: 0;
      margin-left: 10px;
    }

    .icon-question-circle {
      text-decoration: none;
      color: @cerulean;
    }
  }
}

@media @media-query-small {
  .payment-comp {
    .card-list {
      > li {
        .radio {
          padding: 10px 10px;

          > span:nth-child(3) {
            flex: 1 1 0;
          }
        }
      }
    }

    .card-form {
      .fake-question-circle {
        margin-top: 5px;
      }
    }
  }
}
