@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth */

@dev-grid-border-color: #d6d7da;

.read-config {
  &-col-bold {
    font-weight: @font-weight-semiBold;
  }

  &-successful {
    font-size: @font-size-less-base;

    h1 {
      margin-bottom: 20px;
    }

    .an-simple-table {
      background-color: white;

      thead {
        font-weight: @font-weight-Bold;
        border-bottom: 2px solid @dev-grid-border-color;
      }

      thead,
      tbody {
        td {
          vertical-align: top;
          border-bottom: 1px dotted @dev-grid-border-color;
        }

        td + td {
          text-align: left;
          word-break: break-all;
          word-wrap: break-word;
        }
      }

      @media @media-query-small {
        tbody {
          td,
          th {
            &:before {
              min-width: 40%;
              margin-right: 10px;
              font-weight: @font-weight-semiBold;
            }
          }
        }
      }
    }
  }
}
