@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth, declaration-block-semicolon-newline-after, font-weight-notation, order/properties-order,src/index/components/Master/components/Footer/index.less */

.creat-base-layout(footer);

div.an-footer {
  padding: 10px 0 15px 0;
  font-size: 14px; //for matching old style.
  line-height: 1.67;
  word-break: break-word;
  word-wrap: break-word;
  color: @white;
  background-color: #666;

  .legacy-cui-font-family;

  a {
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: @white;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__site-notice {
    width: 100%;

    .an-footer__site-notice__wrapper {
      padding-right: 20px;
      margin: 10px 0 0;

      ul {
        padding-left: 40px;
        list-style-type: initial;

        li {
          display: list-item;
          list-style: initial;
        }
      }

      dt {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
      }

      dd {
        margin: 0;
        font-size: 11px;
      }
    }

    > .an-col {
      > dl:nth-child(2) {
        margin-top: 20px;
      }
    }
  }

  &__links {
    position: relative;
    .flex('flexbox');
    .flex-layout('top');

    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: space-between;
    font-size: 10px;
  }

  &__links__wrapper {
    width: 100%;
    font-weight: bold;

    &:first-child {
      width: ~'calc(100% - 120px)';
    }
    .flex('flexbox');
  }

  &__links__item {
    > span {
      &:after {
        margin: 0 12px;
        content: '|';
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  &__copyright {
    margin: 0;
    font-weight: @font-weight-Bold;
    text-align: left;
  }

  &__links__logo {
    flex: 0 0 120px;
    width: 160px;
    text-align: center;
  }

  &__logo {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__separation-line {
    height: 1px;
    margin: 15px 0 8px 0;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
  }
}

@media @media-query-large {
  .an-footer {
    margin-top: 48px;

    &__sticky {
      margin-top: 0;
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@media @media-query-medium {
  div.an-footer {
    &__wrapper {
      padding: 0 15px;
    }

    &__copyright {
      width: 100%;
    }

    &__links__wrapper {
      margin-bottom: 3px;
    }
  }
}

@media @media-query-small {
  div.an-footer {
    padding: 0 16px 31px 16px;

    div.an-col {
      width: 100%;
      padding-left: 30px;
      margin-bottom: 15px;
    }

    &__site-notice {
      text-align: center;
    }

    &__links__item {
      width: 100%;

      > span {
        display: block;
        margin-top: 15px;
        text-align: center;

        &:after {
          margin: 0;
          content: '';
        }

        &:last-child:after {
          content: '';
        }
      }
    }

    p.an-footer__copyright {
      width: 100%;
      margin-top: 20px;

      span {
        display: block;
        text-align: center;
      }
    }

    &__logo {
      position: static;
      top: unset;
      right: unset;
      width: 100%;
      padding: 0;
      margin-top: 20px;
      text-align: center;
    }

    &__links__wrapper {
      margin-bottom: 0;

      &:first-child {
        width: 100%;
      }
    }
  }
}
