#root {
  margin: 50px;
}

.input-bank-card {
  width: 300px !important;
}


.form {
  margin-right: 300px;
  padding-bottom: 100px;

  .warp {
    margin: 10px 50px 20px;
    background-color: #f6f6f6;
    border-color: 1px solid #aaa;
    padding: 10px;
  }

  .sample-btton {
    text-align: center;
    padding: 50px;
  }

  .btns {
    button {
      margin: 0px 0px 10px 10px;
    }
  }

  .demo-ul {
    >li {
      width: 30%;
      display: inline-flex;
      color: #333;
      margin: 3px;
      line-height: 60px;
      list-style: none;
      justify-content: center;
      background-color: #ddd;
    }
  }
}

.side-input {
  width: 100%;
}

.samples__input-bank-card {
  .row {
    > span {
      width: 160px;
      line-height: 30px;
    }
  }
}
