.an-mainframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &__sidebar{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    will-change: transform;
    overflow-y: auto
  }

  &__content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    transition: left .3s ease-out, right .3s ease-out;
  }

  &__overlay{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out, visibility .3s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__draghandle{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0
  }
}
