@import '~shared/style/variables/index.less';

@disabled-color: #ccc;
@color-hint: #738187;
@check-thin-approved: #1f97c6;
@search-thin-color: #bcbcbc;
@tootip-background-color: #323842;

.stage-sequence-page {
  margin-bottom: 45px;

  .no-stage {
    text-align: center;
  }

  .an-collapse-item__header {
    cursor: default;
  }

  .an-steps__item-icon {
    min-width: 24px;
  }

  .stage-sequence-count {
    margin-left: 10px;
    font-size: @font-size-lg;
    font-weight: @headings-font-weight;
    color: @color-hint;
  }

  .header-section__add-link {
    padding-top: 15px;
    font-size: @font-size-base;
    cursor: pointer;
    color: @color-blue;
  }

  .an-collapse {
    min-width: 940px;
    margin-bottom: 30px;
  }

  .aaui-flex {
    .afx-col {
      font-size: @font-size-base;
    }
  }

  .stage-sequence-name {
    display: inline-block;
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  .step-item-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .stage-collapse-header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .icon-delete-m {
      cursor: pointer;
    }

    .icon-box {
      position: relative;
      width: 24px;
      height: 24px;
      min-width: 24px;
      text-align: center;
      border: 2px solid @disabled-color;
      border-radius: 24px;

      > i {
        position: absolute;
        top: 1px;
        left: 2px;
        font-size: @font-size-base;
        line-height: normal;
        color: @disabled-color;
      }
    }

    .stage-finish {
      background-color: @color-blue;
      border: 2px solid @color-blue;

      .icon-check-thin {
        color: @white;
      }
    }

    .stage-error {
      background-color: @state-warning-text;
      border: 2px solid @state-warning-text;

      .icon-close {
        top: 2px;
        color: @white;
      }
    }

    .header-content {
      width: 100%;
      margin-left: 19px;

      &-title {
        font-size: @font-size-lg;
      }

      .icon-chevron-down {
        vertical-align: middle;
      }
    }

    .delete-container {
      text-align: right;

      i {
        font-size: @font-size-lg;
        color: @color-blue;
      }
    }
  }

  .stage-collapse {
    border-color: @color-blue-lighter;
  }

  .an-steps__item-content {
    position: relative;
    top: -5px;
  }

  .stage-item {
    width: 100%;

    &__name {
      display: inline-block;
      max-width: 370px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon-email-wring {
      margin-right: 5px;
      margin-left: -20px;
      font-size: @font-size-base;
      color: @tango;
    }

    .is-hidden {
      display: none;
    }

    .stage-owner-container {
      position: relative;
      min-width: 330px;
      font-size: @font-size-base;
      font-weight: @headings-font-weight;
    }

    .icon-stage-status {
      width: 16px;
      margin-right: 5px;
      margin-left: -20px;
      font-size: @font-size-base;

      &.icon-check-thin {
        color: @check-thin-approved;
      }

      &.icon-close {
        color: @state-warning-text;
      }

      &.icon-question {
        color: @color-hint;
      }
    }

    .process-stage-owner {
      color: @color-blue;
    }

    .no-stage-owner {
      display: inline-block;
      height: 34px;
      color: @color-hint;
    }

    .commment-button {
      text-align: right;
      cursor: pointer;
      color: @color-blue;

      &.is-extend {
        color: @disabled-color;
      }
    }

    &__comment {
      padding-top: 6px;
      padding-bottom: 14px;
      font-size: @font-size-base;
      white-space: pre-wrap;
      color: @color-black-lighter;
    }
  }

  .step-item-form {
    padding-bottom: 19px;
    margin-top: 12px;

    .stage-comment-textarea {
      height: 68px;
      font-size: @font-size-base;

      &--error {
        background-color: @state-danger-bg;
        border: 1px solid @state-danger-border;
      }
    }

    &__error {
      margin-right: 20px;
      color: @state-danger-text;
    }
  }

  .stage-owner-name {
    display: inline-block;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  .change-custom {
    display: inline-block;
    min-width: 170px;
    color: @color-blue;

    .icon-exchange {
      margin-right: 10px;
      margin-left: 10px;
      font-size: @font-size-base;
    }

    span {
      cursor: pointer;
    }
  }

  .add-stage-item {
    display: flex;
    padding: 20px 22px;
    cursor: pointer;

    &__content-title span {
      font-size: @font-size-lg;
      font-weight: @headings-font-weight;
    }
  }

  .stage-item-checkbox {
    margin-right: 19px;

    .checkbox__inner {
      width: 24px;
      height: 24px;
    }

    .checkbox--checked {
      .checkbox__inner {
        background-color: @color-blue;
        border-color: @color-blue;
      }

      .checkbox__inner:after {
        top: 3px;
        left: 8px;
        border-color: @white;
      }

      .checkbox__inner:before {
        border-color: @white;
      }
    }
  }
}

.tooltip-associations {
  max-width: 700px;
}

.no-email-tooltip {
  width: 325px;
  font-size: 14px;
  color: @white;
  background-color: @tootip-background-color;
  opacity: 0.9;

  &:after {
    display: none;
  }

  &:before {
    display: none;
  }
}

.change-user-form {
  display: none;
}
