.payment-credit-card {
  .credit-cart-dropdown {
    margin: 0 10px;
  }

  &-methods {
    padding-left: 10px;
  }

  .aaui-flexbox {
    justify-content: space-between;
  }

  &-iframe {
    padding: 0 10px;
  }
}
