@aaui-modal-width: 650px;
/* stylelint-disable */

.modal {
  .modal-header {
    line-height: 1.2;

    .modal-title {
      font-weight: normal;
    }
  }

  &-box {
    width: @aaui-modal-width;
  }

  &-body {
    padding-bottom: 5px;
    overflow: visible;
  }
}
