@import '../variables/index.less';

.@{an-basename}-panel {
  padding: @an-panel-padding;
  margin-bottom: @an-panel-margin-bottom;
  border: @an-panel-border;

  &:hover {
    border-color: @an-panel-hover-border-color;
  }

  &__header {
    margin-top: 0;
    margin-bottom: @an-panel-margin-bottom;
    font-size: @font-size-lg;
    font-weight: @headings-font-weight;
    line-height: @an-panel-header-line-height;
  }
}

.panel {
  // remove after an-panel applied
  padding: 15px;
  margin-bottom: 20px;
  border: solid 2px rgba(240, 240, 240, 0.8);

  &:hover {
    border-color: fade(#c5e2ed, 80%);
  }
}
