.@{stepsPrefixClass}--vertical {
  display: block;

  .@{stepsPrefixClass}__item {
    display: flex;
    overflow: visible;

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 19px;
      text-align: center;

      &-inner {
        margin-right: 16px;
      }
    }

    &-content {
      flex-grow: 2;
      padding-bottom: 10px;

      &-box {
        border-bottom: 1px dashed @color-gray-lighter;
      }
    }

    &-title {
      width: 100%;
      line-height: 26px;

      &:after {
        display: none;
      }
    }

    &-description {
      padding-bottom: 10px;
    }

    &-tail {
      position: absolute;
      top: 7px;
      left: 11px;
      width: 1px;
      height: 100%;
      padding: 15px 0 5px 0;

      &:after {
        width: 2px;
        height: 100%;
      }
    }
  }
}

.@{stepsPrefixClass}-label--vertical {
  .@{stepsPrefixClass}__item {
    overflow: visible;

    &-tail {
      padding: 0 24px;
      margin-left: 48px;
    }

    &-content {
      display: block;
      width: 120px;
      margin-top: 8px;
      text-align: center;
    }

    &-icon {
      display: inline-block;
      margin-left: 36px;
    }

    &-title {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}
