@containerWidth: 35px;
@arrowColor: #fdfdfd;
@outerArrowSize: 6px;
@innerArrowSize: 4px;
@arrowWidth: 2px;
@arrowArcControl: 0;
@lineArrowInterval: -4px;
@arrowBackgroundColor: #707070;

.intro-arrow {
  position: relative;
  width: @containerWidth;
  height: @containerWidth;
  overflow: hidden;

  &:after,
  &:before {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    border: solid transparent;
    content: ' ';
  }

  &:before {
    right: 0;
    bottom: -@outerArrowSize;
    margin-left: -@arrowWidth;
    border-color: transparent;
    border-top-color: @arrowColor;
    border-width: @outerArrowSize;
  }

  &:after {
    right: @arrowWidth;
    bottom: -(@innerArrowSize - @arrowWidth);
    border-color: transparent;
    border-top-color: @arrowBackgroundColor;
    border-width: @innerArrowSize;
  }

  &-line {
    position: absolute;
    right: @innerArrowSize + @arrowWidth / 2;
    z-index: 1;
    width: 2 * @containerWidth;
    height: 2 * @containerWidth;
    margin-top: @arrowArcControl;
    border: 2px solid @arrowColor;
    border-radius: @containerWidth;
  }

  &-line-wrapper {
    position: relative;
    top: @lineArrowInterval;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
