@step-element-z-index: 1000;
@show-element-z-index: @step-element-z-index + 2;
@step-mask-z-index: @step-element-z-index + 4;
@interval: 35px;

.intro {
  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    opacity: 0.8;
  }

  &-showElement {
    position: relative;
    z-index: @show-element-z-index;
  }

  &-step-wrapper {
    position: absolute;
  }

  &-step,
  &-step-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-step {
    z-index: @step-element-z-index;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  &-step-mask {
    z-index: @step-mask-z-index;
    background: transparent;
  }

  &-tooltip {
    position: absolute;
    display: flex;
    font-style: oblique;
    white-space: nowrap;
    color: #d8d5d5;

    .intro-arrow {
      position: absolute;
    }

    &-right {
      top: 50px;
      left: 100%;
      margin-left: @interval;

      .intro-arrow {
        top: -30px;
        left: 0;
        transform: rotate(90deg) scaleX(-1);
      }
    }

    &-left {
      top: 50px;
      right: 100%;
      margin-right: @interval;

      .intro-arrow {
        top: -30px;
        right: 0;
        transform: rotate(-90deg);
      }
    }

    &-left-bottom,
    &-right-bottom,
    &-middle-bottom {
      top: 100%;
      margin-top: @interval;

      .intro-arrow {
        bottom: 50%;
      }
    }

    &-left-bottom {
      left: 50px;

      .intro-arrow {
        left: -30px;
        transform: rotate(180deg);
      }
    }

    &-right-bottom {
      right: 50px;

      .intro-arrow {
        right: -30px;
        transform: rotate(180deg) scaleX(-1);
      }
    }

    &-middle-bottom {
      left: 50%;
      transform: translate(-60%, 0);

      .intro-arrow {
        right: -30px;
        transform: rotate(180deg) scaleX(-1);
      }
    }

    &-left-top,
    &-right-top,
    &-middle-top {
      bottom: 100%;
      align-items: flex-end;
      margin-bottom: @interval;

      .intro-arrow {
        top: 50%;
      }
    }

    &-left-top {
      left: 50px;

      .intro-arrow {
        left: -30px;
        transform: scaleX(-1);
      }
    }

    &-right-top {
      right: 50px;

      .intro-arrow {
        right: -30px;
      }
    }

    &-middle-top {
      left: 50%;
      transform: translate(-60%, 0);

      .intro-arrow {
        right: -30px;
      }
    }
  }

  &-display-inline-block {
    display: inline-block;
  }

  &-control-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: @step-element-z-index;
    transform: translate(-50%, -50%);
  }
}
