@import '~shared/styles/variables.less';

.secondary-payment {
  > h4 {
    padding-top: 20px;
    margin: 10px 0;

    > .icon-svg {
      margin-right: 5px;
      .svg-size(16px);
    }
  }

  &-tips {
    margin-bottom: 15px;
    font-style: italic;
  }
}
