@import '~shared/style/variables/index.less';

.payment-cash {
  .aaui-flexbox {
    justify-content: space-between;
  }

  &-change {
    position: relative;
    padding: 18px 10px 10px 0;
    text-align: right;
    background-color: #eef9fd;

    &-indent {
      padding-right: 36px;
    }

    .aaui-flexbox {
      justify-content: flex-end;
    }

    label {
      padding-right: 20px;
      font-size: 16px;
      font-weight: @semibold;
      line-height: 1.5;
    }
  }

  &-change-amount {
    width: 112px;
    text-align: left;
  }

  &-paid {
    margin-bottom: 15px;
  }

  .rectangle {
    position: absolute;
    top: -4px;
    left: 42px;
    width: 8px;
    height: 8px;
    background-color: #eef9fd;
    transform: rotate(45deg);
  }
}
