@table-striped-bg: #f3f3f3;
@table-font-color: #222222;
@table-icon-color: #40b0dc;
/* stylelint-disable */

table.table.an-table {
  width: 936px;
  font-family: 'ProximaNova';
  border-collapse: separate;

  .icon {
    display: inline-block;
  }

  .icon-chevron-up,
  .icon-chevron-down {
    margin-left: 5px;
    cursor: pointer;
  }

  .icon-sort,
  .icon-sort-asc,
  .icon-sort-desc {
    margin-left: 5px;
  }

  th,
  td {
    padding: 8px 0 8px 0;
    cursor: default;
    border-top: 0;
    border-bottom: 0;

    &.sortable {
      cursor: pointer;
    }

    div {
      padding: 0 20px 0 20px;
      margin: 0;
      color: @table-font-color;
    }
  }

  tr {
    &.striped {
      background-color: @table-striped-bg;
    }
  }

  thead {
    border-bottom: 1px solid @ghost;

    tr {
      th {
        border-bottom: 1px solid @ghost;

        div {
          line-height: 1.14;
          border-right: 1px solid @ghost;
        }

        &:last-child {
          div {
            border-right: 0;
          }
        }
      }
    }
  }

  tbody {
    tr {
      &.extra-row {
        td {
          border-top: 1px dotted @ghost;
        }
      }

      &.rowSeperator {
        td {
          border-top: 1px dotted @ghost;
        }
      }

      &:first-child {
        td {
          border-top: none;
        }
      }

      td {
        border: none;

        div {
          line-height: 1.43;
        }
      }
    }
  }
}

