@import '~shared/style/variables/index.less';
/* stylelint-disable */

.refund-payer {
  h2 {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.5;
    color: #313741;
  }

  &-item {
    label {
      padding-right: 20px;
      text-transform: capitalize;
      vertical-align: middle;
    }

    &.aaui-flexbox {
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .prt-srch-itm-radio {
      padding-right: 20px;
    }

    .prt-srch-itm-link {
      a {
        color: @color-blue;

        &:hover {
          text-decoration: none;
          color: @color-blue-darker;
        }

        i {
          display: inline-block;
          margin-right: 4px;
        }
      }
    }


    .prt-srch-itm-agent {
      margin-left: 30px;

      .noAgents {
        font-size: 14px;
        color: #738187;
      }
    }
  }

  &-item-company.aaui-flexbox {
    .prt-srch-itm-showName,
    .prt-srch-itm-link,
    .prt-srch-itm-agent {
      display: inline-block;
      vertical-align: top;
    }
  }

  &-custom-list,
  &-agents-list,
  &-company-list {
    width: 190px;
    max-height: 280px;
  }

  &-agents-list {
    vertical-align: top;
  }
}
