
form{
	display: flex;
    justify-content: center;
    margin-top: 50px;
}

.validation{
	width:50%;
	padding: 30px;
    border: 1px solid #C5C2C2;
    flex-direction: column;

    .icon{
	    font-size: 10px;
    	color: red;
    	font-size: 10px;
	    color: red;
	    margin-right: 3px;
    }

    .title{
        font-size: 16pt;
        margin-bottom: 20px;
    }
    .box{
		display: flex;
	}

    .content{
        padding-left: 27px;
        div{
            margin-bottom: 5px;
        }
    }
    .aaui-label-info{
        color: black;
        background: none;
        font-size: 16px;
        margin-right: 10px;
        width: 130px;
        text-align: right;
        display: inline-block;
    }

    .aaui-dropdown, .aaui-input, .aaui-datepicker{
        width: 350px;
    }



    .error{
    	  display: inline-block;
		  margin-left: 25px;
		  color: red;
    }

    .footer{
    	margin-left: 260px;
    	margin-top: 60px;

    	button:first-child{
    		margin-right: 40px;
    	}
    }
}