.fc {
  .fc-resource-view{
    * {
      box-sizing: border-box;
    }
    .fc-axis {
      padding: 0;
    }
    .fc-scroll {
      position: relative;
      overflow: hidden;
    }
    .fc-slats-output{
      position: relative;
    }
    .fc-time-grid {
      min-width: 100%;
    }
    .fc-slats-labels td,
    .fc-time-grid .fc-slats td {
      height: 2.0em;
      border-bottom: 0;
    }
    .fc-slats-labels{
      td {
        height: 2.0em;
        border-bottom: 0;
      }
      .fc-minor td {
        border-top-style: dotted;
      }
    }
    .fc-day-grid{
      .fc-row{
        min-height: 3em;
      }
      .selection-wireframe{

      }
    }
    .fc-scroll{
      .fc-scroll-bars{
        overflow: auto;
      }
      .fc-no-scroll-bars{
        overflow: hidden;
      }
      .fc-scroll-x{
        overflow-x: scroll;
        overflow-y: hidden;
      }
      .fc-scroll-y{
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
    .fc-header-container{
      .fc-rs-cell{
        position: relative;
        white-space: nowrap;
      }
    }
    .fc-header-container,
    .fc-day-grid-container,
    .fc-time-grid-container {
      overflow: visible;
    }
    .selection-wireframe {
      background: #7FCEFF;
      border: 1px solid #000000;
      overflow: hidden;
      opacity: 0.75;
      z-index: 6;
    }
    .fc-rs-header-close {
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;
      padding: 0px 3px;
      display: inline-block;
      &:hover {
        background: #eee;
      }
    }
  }
  .time-grid-has-scrollbar {
    .fc-header-container .fc-scroll,
    .fc-day-grid-container .fc-scroll {
      .fc-widget-content {
        padding-right: 21px;
      }
    }
  }
  .fc-slats-labels-container {
    vertical-align: top;
    .fc-slats-labels {
      margin-bottom: 21px;
      border-bottom: 1px solid #ddd;
    }
  }
  .fc-now-time-line {
    position: absolute;
    top: -1px;
  	left: 0;
  	right: 0;
    z-index: 5;
    border-top: 1px solid #ff0000;
  }
  &.fc-unthemed {
    .fc-today {
      background: transparent;
    }
  }
}
