@import '~shared/styles/variables.less';

.an-paragraph {
  &-img {
    max-width: 284px;
    max-height: 173px;
    margin: 0 16px;
    background-color: @gray-medium;
  }

  .an-truncation__more {
    margin-left: 4px;
  }
}
