@import '~shared/style/variables/color.less';
@import '~active.css/less/variables/state.less';
/* stylelint-disable */

.special-handling-alert {
  .modal-title {
    font-size: 24px;

    i.icon {
      color: @state-warning-text;
    }
  }

  &__content {
    max-height: 170px;
    overflow: auto;
  }

  dl {
    display: flex;
    margin: 0 0 20px;
  }

  dt,
  dd {
    display: inline;
  }

  dt {
    width: 135px;
    font-weight: bold;

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      color: @color-black-lighter;
    }
  }

  dd {
    width: 457px;
    white-space: pre-wrap;
  }
}
