@import '~shared/style/variables/index.less';
/* stylelint-disable */

@font-weight: 600;

.payment-paymentplan {
  &.payment-option {
    margin-bottom: 0;
  }

  .paymentplan-details {
    position: relative;
    padding: 30px 20px 20px;
    background: #eef9fd;
  }

  .aaui-flexbox {
    justify-content: space-between;

    &-c1 {
      align-items: flex-start;
    }
  }

  .paymentplan-selection {
    margin-bottom: 15px;
    border-bottom: 1px solid #d6d7da;

    .paymentplan-selection-item {
      display: inline-block;
      width: 50%;
      margin-bottom: 15px;
      text-align: right;
      vertical-align: top;

      &-c1 {
        text-align: left;

        label {
          display: inline-block;
          width: 175px;
          text-align: right;
        }
      }

      &.pre-defined-paymentplan {
        width: 100%;
      }
    }

    .aaui-dropdown,
    .date-picker .input-group {
      width: 240px;
      vertical-align: top;
    }

    .date-picker {
      display: inline-block;
      width: 240px;
      vertical-align: top;
    }

    label {
      padding-right: 15px;
      font-weight: @font-weight;
    }

    .paymentplan-description {
      padding-left: 175px;
      margin-top: 6px;
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  .paymentplan-schedule-header {
    margin-bottom: 10px;
    text-align: right;

    .paymentplan-schedule-title {
      float: left;
      font-weight: @font-weight;
    }

    .paymenmtplan-schedule-edit-btn {
      cursor: pointer;
      color: @color-blue;

      .icon {
        padding-right: 5px;
      }
    }

    .pp-schedule-edit-btn-disabled {
      cursor: default;
      opacity: 0.45;
    }
  }

  .paymentplan-schedule {
    &-table {
      width: 100%;
      margin-bottom: 15px;
      font-size: 14px;
      color: #748288;

      .paymentplan-schedule-table-head,
      .payment-schedule-detail {
        padding: 12px 20px 12px 10px;
        border-bottom: 1px solid #e6eef1;

        > div {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          &.paymentplan-schedule-amount {
            text-align: right;

            .paid-amount {
              display: block;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .paymentplan-method-configuration {
    margin-bottom: 13px;

    .checkbox {
      display: inline-block;
      width: 30px;
    }

    .paymentplan-method-statement {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
    }
  }

  .paymentplan-method {
    label,
    .payment-methods-list,
    .paymentplan-backup,
    .payment-backup-details {
      display: table-cell;
    }

    .paymentplan-method-label,
    .paymentplan-backup-label {
      padding-right: 20px;
      padding-left: 30px;
      font-weight: @font-weight;
    }

    .paymentplan-method-label,
    .paymentplan-backup {
      vertical-align: top;
    }

    .paymentplan-method-cc,
    .paymentplan-method-ecp {
      margin-bottom: 10px;
      line-height: 30px;

      label,
      .payment-method-card-list {
        display: table-cell;
        vertical-align: middle;
      }

      .payment-method-card-list {
        line-height: 0;
      }

      .aaui-dropdown {
        width: 135px;
        padding-left: 5px;
      }

      .pay-list-hidden {
        visibility: hidden;
      }

      .iframeContainer .alert span {
        line-height: 20px;
      }
    }

    .payment-backup-statement {
      display: block;
      font-size: 14px;
      font-style: italic;
      font-weight: normal;
      text-align: right;
      color: #748288;
    }

    .payment-backup-action {
      text-decoration: none;
      cursor: pointer;
      color: @color-blue;

      .icon {
        padding-right: 5px;
      }
    }

    .payment-backup-action,
    .payment-backup-type,
    .payment-backup-info {
      display: block;
    }
  }

  .rectangle {
    position: absolute;
    top: -4px;
    left: 42px;
    width: 8px;
    height: 8px;
    background-color: #eef9fd;
    transform: rotate(45deg);
  }
}
