// Icons
// --------------------------------------------------

@import (reference) './variables';

@font-face {
  font-family: 'aui_icons';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/aui_icons.eot');
  src: url('../fonts/aui_icons.eot') format('embedded-opentype'),
  url('../fonts/aui_icons.woff2') format('woff2'),
  url('../fonts/aui_icons.woff') format('woff'),
  url('../fonts/aui_icons.ttf') format('truetype'),
  url('../fonts/aui_icons.svg#aui_icons') format('svg');
}

[class*='icon-'] {
  font-family: 'aui_icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  display: inline-block;

  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
