@import '~shared/style/variables/index.less';
/* stylelint-disable */

.survey-container {
  .survey-body {
    padding-top: 20px;

    .an-survey {
      .question {
        &-label__name {
          span:last-child {
            word-wrap: break-word;
          }
        }

        &-answer {
          padding-top: 5px;

          .aaui-dropdown,
          .input-group {
            max-width: 310px;
          }

          .radio,
          .checkbox {
            word-break: break-all;
          }

          .an-phone > span {
            line-height: 30px;
          }

          &__error {
            padding: 1px 0 10px 0;
          }
        }

        &-icon {
          width: 33.33333333%;

          .link {
            width: 24px;
            text-align: center;
          }

          .icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}
