@band-width-horizontal: 190px;

.an-rc-horizontal {
  .an-scroller__corner {
    width: @band-width-horizontal;
  }

  .an-scroller__band {
    width: @band-width-horizontal;
    border-right: solid 1px #ddd;

    .grid-cell {
      width: @band-width-horizontal;
      border-right: none;
      border-left: none;
    }
  }

  .an-scroller__header {
    border-bottom: solid 1px #ddd;

    .grid-cell {
      border-top: none;
      border-bottom: none;
    }
  }

  .an-rc-event-seg {
    position: absolute;
    z-index: 1;
  }

  .seg-more {
    position: absolute;
    width: 100%;
    padding-left: 2px;
  }
}
