@import '~shared/styles/variables.less';
@dev-icon-facebook-color: #3b5998;
@dev-icon-twitter-color: #55acee;

.an-social-sharing {
  .icon-facebook {
    margin: 0 6px 0 20px;
    vertical-align: baseline;
    color: @dev-icon-facebook-color;
    .svg-size(24px);
  }

  .icon-twitter {
    vertical-align: baseline;
    color: @dev-icon-twitter-color;
    .svg-size(24px);
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }
}
