@bubble-landing-gutter: 5px;
@bubble-border-width: 6px;
@bubble-background: #dcf4fd;

.bubble-arrow(@prop) when (@prop = "left") {
  &:after {
    top: ~'calc(50% - @{bubble-border-width})';
    left: -@bubble-landing-gutter;
    border-color: transparent @bubble-background transparent transparent;
    border-width: @bubble-border-width @bubble-border-width @bubble-border-width 0;
  }
}

.bubble-arrow(@prop) when (@prop = "top") {
  &:after {
    top: -@bubble-landing-gutter;
    left: ~'calc(50% - @{bubble-border-width})';
    border-color: transparent transparent @bubble-background transparent;
    border-width: 0 @bubble-border-width @bubble-border-width;
  }
}

.bubble-arrow(@prop) when (@prop = "right") {
  &:after {
    top: ~'calc(50% - @{bubble-border-width})';
    right: -@bubble-landing-gutter;
    left: auto;
    border-color: transparent transparent transparent @bubble-background;
    border-width: @bubble-border-width 0 @bubble-border-width @bubble-border-width;
  }
}

.bubble-arrow(@prop) when (@prop = "bottom") {
  &:after {
    top: auto;
    bottom: -@bubble-landing-gutter;
    left: ~'calc(50% - @{bubble-border-width})';
    border-color: @bubble-background transparent transparent transparent;
    border-width: @bubble-border-width @bubble-border-width 0 @bubble-border-width;
  }
}
