@import './utils/for.less';
@color-set: #b3c042, #05bc96, #cb86d8, #8A9AF8, #82b8f9, #ffb500, #50e3c2, #fa7cba;

.each(@color-set, {.callback(@color, @index) {
  .dync-bg-set@{index} {
    background-color: @color;
  }
}});

@greenish-teal: #2dc87f;
@cyan-blue: #0070d9;
@dark-charcoal: #333333;
@error-red: #d1201d;
@outrageous-orange: #ff6046;
@fair-pink: #ffefed;
@cloudy-gray: #8a8a8a;
@goose-gray: #d8d8d8;
@kournikova-yellow: #ffdc73;
@shuttle-gray: #525f66;

// new style guide
// color primary
@new-gd-color-primary-120: #0065c4;
@new-gd-color-primary-100: #0070d9;
@new-gd-color-primary-80: #148eff;
@new-gd-color-primary-60: #4da9ff;
@new-gd-color-primary-40: #f0faff;

// color secondary
@new-gd-color-secondary-120: #323842;
@new-gd-color-secondary-100: #525f66;
@new-gd-color-secondary-80: #d5dce0;
@new-gd-color-secondary-60: #f0f3f5;
@new-gd-color-secondary-40: #f5f9fe;

// color gray
@new-gd-color-gray-110: #222222;
@new-gd-color-gray-100: #333333;
@new-gd-color-gray-90: #707070;
@new-gd-color-gray-80: #8a8a8a;
@new-gd-color-gray-70: #bbbbbb;
@new-gd-color-gray-60: #cccccc;
@new-gd-color-gray-50: #dddddd;
@new-gd-color-gray-40: #eeeeee;
@new-gd-color-gray-30: #f7f7f7;

// color attention
@new-gd-color-attention-120: #d1201d;
@new-gd-color-attention-100: #de221f;
@new-gd-color-attention-80: #ff3633;
@new-gd-color-attention-60: #ffeaea;

// color brand
@new-gd-color-brand-160: #593d1c;
@new-gd-color-brand-140: #8f6c2c;
@new-gd-color-brand-120: #fbad18;
@new-gd-color-brand-100: #ffc02e;
@new-gd-color-brand-80: #ffdc73;
@new-gd-color-brand-60: #fcf8e3;
