@an-grid-maximum-column-count: 24;

@an-grid-basename: ~'@{an-basename}-col';
@an-grid-sm-basename: ~'@{an-basename}-sm-col';
@an-grid-md-basename: ~'@{an-basename}-md-col';
@an-grid-lg-basename: ~'@{an-basename}-lg-col';

/**
 * Css:
 * 	.an-col-1 > * {
 *  	width: 100%;
 *  }
 * 	.an-col-2 > * {
 *  	width: 50%;
 *  }
 *  .an-col-12 > * {
 *  	width: 8.33333333%;
 *  }
 */
.create-grid-col-equally(@name: col, @n, @i: 1) when (@i =< @n) {
  .@{name}-@{i} > * {
    .flex-width(@i);

    box-sizing: border-box;
  }
  .create-grid-col-equally(@name, @n, (@i + 1));
}

/**
 * Css:
 * 	an-col-1-1 {
 * 		width: 100%;
 * 	}
 * 	an-col-1-2{
 * 		width: 50%;
 * 	}
 * 	an-col-1-3{
 * 		width: 33.33333333%;
 * 	}
 * 	an-col-2-3{
 * 		width: 66.66666667%;
 * 	}
 * 	an-col-3-4{
 * 		width: 75%;
 * 	}...
 */
.create-grid-col2(@name: col, @n, @x: 1, @y: 1) when ((@x =< @n) and (@y =< @n) and (@x =< @y)) {
  .@{name}-@{x}-@{y} {
    .flex-col(@x, @y);

    box-sizing: border-box;
  }
  .create-grid-col-rise-x2(@name, @n, @x, @y);
  .create-grid-col-rise-y2(@name, @n, @x, @y);
}
.create-grid-col-rise-x2(@name: col, @n, @x:1, @y: 1) when (@y = @n) {
  .create-grid-col2(@name, @n, (@x + 1), (@x + 2));
}
.create-grid-col-rise-y2(@name: col, @n, @x:1, @y: 1) when (@y < @n) {
  .create-grid-col2(@name, @n, @x, (@y + 1));
}

/**
 * Css:
 * 	.an-col-mg-8 {
 *  	width: calc(100% + 8px);
 *   	margin-left: -4px;
 *    margin-right: -4px;
 *    padding-left: 0;
 *    padding-right: 0;
 *  }
 *  .an-col-mg-8 > * {
 *  	padding-left: 4px;
 *   	padding-right: 4px;
 *  }
 */
.create-grid-col-margin2(@name: col, @n, @i: 0) when (@i =< @n) {
  .@{name}-mg-@{i} {
    .flex('margin', @i);
  }
  .create-grid-col-margin2(@name, @n, (@i + 1));
}

.create-grid-box-moldel-props(@name: col, @cols: 12) {
  .create-flex-all-layout(@name);
  .create-grid-col-margin2(@name, @cols*2);
  .create-flex-grow(@name, @cols);
  .create-flex-order(@name, @cols);

  .@{name}-order-first {
    order: -1;
  }

  .@{name}-basis-0 {
    flex-basis: 0;
  }
}

.create-grid(@name: col, @cols: 12) {
  .create-grid-col-equally(@name, @cols);
  .create-grid-col2(@name, @cols);
  .create-grid-box-moldel-props(@name, @cols);
}
