@icon-font-size: 14px;
@icon-base-name: icon;
@icon-svg-base-name: icon-svg;
@icon-spin-name: icon-spin;

@{icon-base-name} {
  font-size: @icon-font-size;
  cursor: pointer;
}

.@{icon-svg-base-name} {
  width: @icon-font-size;
  height: @icon-font-size;
  vertical-align: text-top;
  cursor: pointer;
}

._icon(@name, @content) {
  .@{icon-base-name}-@{name} {
    &:before {
      content: @content;
    }
  }
}

.icon(@name, @rules, @base-rules) {
  .@{icon-base-name}-@{name} {
    @base-rules();

    &:before {
      @rules();
    }
  }
}

.icon() {
  display: inline-block;
  font-family: 'aui_icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  speak: none;
  font-variant: normal;
}
