@import './responsive.less';
/* stylelint-disable max-nesting-depth */

.creat-base-layout(@name, @parentSuffix: wrapper) {
  .an-app {
    .@{an-basename}-@{name} {
      width: 100%;
      .flex('flexbox');
      .flex-layout('center');//control align of whole page.
      .@{an-basename}-@{name}__@{parentSuffix} {
        .flex-layout('top');
        .flex-layout('left');

        @media @media-query-small {
          width: @page-sm-width;
        }

        @media @media-query-medium {
          width: @page-md-width;
        }

        @media @media-query-large {
          width: @page-lg-width;
        }
      }
    }
  }
}
