@import './color.less';

@app-theme-green-button-primary: #55950a;
@app-theme-green-button-secondary: #437a08;
@app-theme-green-button-border-color: #487f07;

@app-theme-wcag-button-primary: @cyan-blue;
@app-theme-wcag-button-secondary: #148eff;
@app-theme-wcag-button-border-color: @cyan-blue;
@app-theme-wcag-button-disable: #0065c4;

@app-theme-orange-primary: #f06e17;
@app-theme-orange_green-secondary: #4dbde9;

@app-theme-gray-dark-color: #eff5f8;
@app-theme-gray-light-color: #f8fafb;

@app-theme-yellow-dark-color: #f3eedf;
@app-theme-yellow-light-color: #fdfaf1;

@app-theme-temp-color: #ffffff;
/* stylelint-disable max-nesting-depth */

.create-app-theme-green-button() {
  .btn.btn-strong {
    background-color: @app-theme-green-button-primary;
    border: solid 1px @app-theme-green-button-border-color;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active.focus,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background-color: @app-theme-green-button-secondary;
      border-color: @app-theme-green-button-border-color;
    }

    &.disabled:hover,
    &[disabled]:hover,
    &.disabled:focus,
    &[disabled]:focus,
    &.disabled.focus,
    &[disabled].focus {
      background-color: @app-theme-green-button-primary;
      border: solid 1px @app-theme-green-button-border-color;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.create-app-theme-wcag-button() {
  .btn.btn-strong,
  .btn.btn-primary {
    background-color: @cyan-blue;
    border: solid 1px @cyan-blue;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active.focus,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background-color: @app-theme-wcag-button-secondary;
      border-color: @cyan-blue;
    }

    &.disabled:hover,
    &[disabled]:hover,
    &.disabled:focus,
    &[disabled]:focus,
    &.disabled.focus,
    &[disabled].focus {
      // color: #525f66;
      background-color: @app-theme-wcag-button-disable;
      border: solid 1px @cyan-blue;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .btn.btn-secondary {
    background-color: white;
    border: solid 1px #b9c2c7;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active.focus,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background-color: #f0f3f5;
      border-color: #b9c2c7;
    }

    &.disabled:hover,
    &[disabled]:hover,
    &.disabled:focus,
    &[disabled]:focus,
    &.disabled.focus,
    &[disabled].focus {
      // color: #525f66;
      background-color: #d5dce0;
      border: solid 1px #b9c2c7;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.create-app-theme-grid(@darkColor,@lightColor) {
  .u-bg-color--light-neutral {
    background-color: @lightColor;
  }

  .u-bg-color--dark-accent {
    background-color: @darkColor;
  }
}

.create-app-theme-main(@darkColor, @lightColor, @type: green) {
  .create-app-theme-grid(@darkColor,@lightColor);

  body {
    .an-bubble {
      background-color: @lightColor;

      &:after {
        border-right-color: @lightColor;
      }
    }
    .creat-app-navigation-by-color(@app-theme-orange-primary,@app-theme-orange_green-secondary);

    & .an-simple-table {
      background-color: @lightColor;

      > thead,
      tbody,
      tbody > tr {
        border-bottom-color: @darkColor;
      }
    }

    & .transactions-layouts {
      .transaction__title {
        background-color: @lightColor;
      }
    }
    & when(@type=green) {
      .create-app-theme-green-button();
      .creat-app-navigation-by-color(@app-theme-green-button-primary,@app-theme-orange_green-secondary);
    }
  }
}

.create-app-navigation(@primaryColor,@secondaryColor) {
  .an-responsiveHeader {
    .an-responsiveHeader__menu {
      button:active {
        background-color: @primaryColor;

        .icon-svg {
          color: @app-theme-temp-color;
        }
      }
    }

    .an-responsiveHeader__cart {
      button {
        .an-responsiveHeader__cart-count {
          color: @app-theme-temp-color;
          background-color: @primaryColor;
        }
      }

      button:active {
        background-color: @primaryColor;

        .icon-svg {
          color: @app-theme-temp-color;
        }

        .an-responsiveHeader__cart-count {
          color: @primaryColor;
          background-color: @app-theme-temp-color;
        }
      }
    }
  }

  .an-responsiveNavigation__wrapper {
    ul > li:not(.sign-in-bar) {
      &:hover {
        background-color: @secondaryColor;
      }

      a {
        &:hover {
          background-color: @secondaryColor;
        }
      }

      &.current-menu {
        a > span {
          color: @secondaryColor;
        }

        &:hover {
          a > span {
            color: @app-theme-temp-color;
          }
        }
      }
    }
  }
}

.creat-app-navigation-by-color(@primaryColor,@secondaryColor) {
  @media @media-query-small {
    .create-app-navigation(@primaryColor, @secondaryColor);
  }

  @media @media-query-medium {
    .create-app-navigation(@primaryColor, @secondaryColor);
  }
}
