@line-height-base: 1.43; // 20/14
@font-size-large-base: 16px;
@font-size-base: 14px;
@font-size-less-base: 12px;

@font-size-tablet-primary-header: 24px;
@font-size-tablet-secondary-header: 16px;
@font-size-mobile-primary-header: 16px;
@font-size-mobile-secondary-header: 14px;

@font-weight-Reg: 400;
@font-weight-Sbold: 600;
@font-weight-semiBold: 600;
@font-weight-Bold: 700;

/**
 * Header, Navigation and footer parts need to follow old system style.
 */
.legacy-cui-font-family {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

// new style guide
// font-size primary
@new-gd-font-size-xs: 12px;
@new-gd-font-size-s: 14px;
@new-gd-font-size-m: 16px;
@new-gd-font-size-l: 20px;
@new-gd-font-size-xl: 24px;

@mg-gap-asterisk-font-size: @new-gd-font-size-s;

// font-weight
@new-gd-font-weight-400: 400;
@new-gd-font-weight-600: 600;
