@import '~shared/styles/variables.less';

.payment-plan {
  &-header {
    text-transform: uppercase;

    & td&__phase,
    & td&__due,
    & td&__amount {
      padding: 8px 16px;
    }

    & td&__due {
      padding-left: 6px;
      text-align: left;
    }

    & td&__amount {
      padding-right: 10px;
    }
  }

  &-item {
    & td&__date {
      padding-left: 6px;
      text-align: left;
    }

    &-day {
      margin-left: 4px;
      color: @rolling-stone;
    }

    & td&__amount {
      padding-right: 10px;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    font-weight: @font-weight-semiBold;

    &__amount {
      padding-right: 10px;
      margin-left: 12px;
    }
  }
}
