.payment {
  .payment-symbol {
    padding-right: 7px;
    font-size: 16px;
  }

  .payment-aaui-alert {
    display: flex;
    margin-bottom: 8px;

    .icon-close-circle,
    .icon-times-circle,
    .icon-warn {
      padding-left: 15px;
      margin-top: 0;
      font-size: 20px;
    }

    .error-content {
      display: inline-block;
      padding-right: 30px;
      padding-left: 10px;
      vertical-align: top;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }

  .modal-box {
    text-align: left;
  }

  .btn {
    box-sizing: border-box;
  }
}
