.less-demo-page {
  .aaui-flex, .aaui-flexbox {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .afx-col {
    div {
      color: #fff;
      text-align: center;
      background: #0090ff;
      border-radius: 3px;
    }
  }
}
