@import '~shared/style/variables/index.less';
/* stylelint-disable */

.generalInformation {
  position: relative;
  padding: 20px 0 0;

  .customerInfo {
    form {
      input {
        display: none;
      }
    }

    .customer-info-row {
      display: inline-flex;
      margin-bottom: 12px;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: normal;
      color: #313741;
      font-stretch: normal;

      &:last-child {
        margin-bottom: 20px;
      }

      .afx-xl-2-12 {
        & > * {
          width: 100%;
        }

        &:first-child > .customer-info-label {
          padding-left: 20px;
        }
      }

      .customer-info-label {
        display: inline-block;
        font-weight: 600;
        text-align: right;
        vertical-align: top;
      }

      .customer-info-label,
      .customer-info-value {
        padding-right: 15px;
      }

      .follow-icon {
        display: inline;
        margin-right: 4px;
      }

      .following-icon {
        display: inline-block;
        line-height: 24px;

        & > i.icon {
          margin: 0;

          & + i.icon {
            margin-left: 4px;
          }
        }
      }

      .change-company-agent-group {
        display: flex;
        align-items: center;

        .follow-icon {
          width: ~'calc(100% - 28px)';
        }
      }

      .change-company-agent-dropdown {
        vertical-align: top;

        .aaui-dropdown__menu {
          ul li {
            max-width: 960px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .customer-info-text {
        word-wrap: break-word;
        vertical-align: top;
      }

      .balance-due-text {
        font-weight: 600;
      }

      .icon-sign-m,
      .icon-exclamation-triangle,
      .icon-info-circle {
        width: 24px;
        height: 24px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        color: @color-blue;

        &.icon-sign-m.disabled {
          cursor: not-allowed;
          opacity: 0.45;
        }

        &.special-handling-alert__icon {
          color: @state-warning-text;
        }

        &.icon-info-circle {
          cursor: default;
        }
      }
    }
  }

  .paymentPlan {
    padding: 10px 0;
    margin: 0;
    background-color: #fafafa;

    .paymentPlan__label {
      display: inline-block;
      width: 140px;
      margin-right: 19px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #313741;
      font-stretch: normal;
    }

    .detail {
      display: inline-block;

      .item {
        padding: 4px 8px;
        margin-right: 10px;
        cursor: default;
        color: #fff;
        background-color: #748288;
        border-radius: 3px;

        .icon {
          font-size: 14px;
          color: #bac6cb;
        }
      }
    }
  }

  .balance-due-detail {
    width: 390px;
    height: 330px;
    line-height: 1;

    .balance-due__item {
      margin-bottom: 5px;
      font-family: @font-family-base;
      font-size: 14px;
      text-align: right;

      &.bold {
        font-weight: bold;
      }

      .upArrow__label {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
      }

      .amount {
        display: inline-block;
        width: 100px;
      }
    }

    .balance-due {
      font-weight: bold;
    }
  }
}
