@import '~shared/styles/variables.less';
@echeck-new-popover-custom-offset: 10px;
/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */

.payment-comp {
  .ecp-form {
    > .collapseTrigger {
      margin-top: 20px;
    }

    .ecp-field-with-icon {
      position: relative;

      .fake-question-circle {
        position: absolute;
        top: 7px;
        right: -38px;
        width: 30px;
        margin: 0;
      }
    }

    .btn-primary {
      width: 100%;
    }

    &.card-form {
      .popover {
        width: 500px;

        &:before,
        &:after {
          left: auto;
        }
      }
    }
  }
}

@media @media-query-small {
  .payment-comp {
    .ecp-form {
      .form__label--require {
        &:after {
          content: '';
        }

        & span:first-child:after {
          padding-left: 5px;
          color: @state-danger-text;
          content: '*';
        }
      }

      span.fake-question-circle {
        margin-left: -6px;

        & .popover {
          left: -(@echeck-new-popover-custom-offset - 4px);

          &:before {
            transform: translateX(@echeck-new-popover-custom-offset);
          }

          &:after {
            transform: translateX(@echeck-new-popover-custom-offset);
          }
        }
      }

      &.card-form {
        .popover {
          width: 270px;

          &:before,
          &:after {
            left: inherit;
          }
        }

        .checkbox__text:before {
          margin-right: 10px;
          vertical-align: text-top;
        }
      }

      .form__label {
        margin-bottom: 6px;
        text-align: left;
      }

      .btn-primary {
        width: 100%;
        .button-size-default();
      }
    }
  }
}

@media @media-query-medium {
  .payment-comp {
    .ecp-form {
      .btn-primary {
        width: 100%;
      }
    }
  }
}
