@import '~react-base-ui/lib/less/variables/color.less';
@import '~shared/styles/variables.less';

.an-survey {
  .question {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 10px 20px;

    &.sub-question {
      background-color: @alabaster;
    }

    &-answer .icon-chevron-down {
      transform: none;
    }

    &-answer__error {
      margin-top: 4px;
      font-size: @font-size-base;
    }
  }

  .question .afx-col {
    font-size: @font-size-base;
  }

  .an-phone {
    display: flex;

    span {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .question-label__name {
    padding-bottom: 0;
    font-weight: @font-weight-semiBold;

    .an-require-label__asterisk {
      padding-top: 3px;
      margin-right: 3px;
    }

    .an-require-label__text {
      font-weight: @font-weight-Reg;
    }
  }

  .question-label__circle {
    display: none;
  }

  .question-label__hint {
    padding-left: 0;
    font-size: @font-size-less-base;
  }

  .question-error .question-label__name {
    color: @color-text-dark;
  }

  .questiongroup-header {
    padding: 20px 20px 0;
    font-size: @font-size-lg;
    font-weight: @font-weight-semiBold;

    .icon-circle {
      display: none;
    }
  }

  .questiongroup-body .question-label {
    padding-left: 0;
  }
}

.enroll-question {
  width: 100%;
  padding-bottom: 20px;

  &-answer {
    margin-top: 4px;

    .radio-group,
    .checkbox-group {
      padding-top: 6px;
    }

    .aaui-dropdown {
      .checkbox-wrapper {
        width: 100%;
      }

      .checkbox {
        display: inline-block;
        width: 100%;
      }

      .checkbox__text {
        width: 100%;
      }

      li {
        overflow: hidden;
      }
    }
  }
}

.create-responsive-listbox-question() {
  .checkbox-wrapper {
    .checkbox {
      display: block;

      .checkbox__text {
        flex: auto;
      }
    }
  }
}

@media @media-query-small {
  .an-survey {
    .duration {
      .aaui-dropdown {
        width: 51px;
      }

      .txt {
        padding: 0 4px;
      }
    }

    .an-phone {
      .areacode {
        width: 45px;
      }

      .mainCode {
        width: 78px;
      }

      .extendCode {
        width: 69px;
      }
    }

    .question-answer {
      .create-responsive-listbox-question();
    }
  }
}

@media @media-query-medium {
  .an-survey {
    .duration .aaui-dropdown {
      width: 120px;
    }

    .question-answer {
      .create-responsive-listbox-question();
    }

    .an-require-label__asterisk {
      padding-top: 1px;
    }
  }

  .an-calendar {
    width: 440px;
    height: 378px;
    padding-bottom: 20px;

    &-header {
      align-items: center;
      padding: 12px;
      font-size: @new-gd-font-size-m;
    }

    &-table-header-cell {
      height: 36px;
    }

    &-day {
      width: 48px;
      height: 36px;
      margin: 0 auto;
      line-height: 36px;
    }
  }
}
