/* stylelint-disable */

.attachment {
  padding-top: 19px;
  border-top: 2px dashed #d6d7da;

  &-header {
    margin-bottom: 16px;

    &-title {
      margin-right: 16px;
      font-size: 20px;
      line-height: 20px;
      color: #313741;
    }

    .add-attachment-button {
      cursor: pointer;
      color: #40b0dc;

      i {
        margin-right: 3px;
      }
    }
  }
}

.modal-upload-file {
  .modal-body {
    width: 650px;
    padding: 16px;
  }
}

.an-upload {
  &-container {
    display: block;
    width: 618px;
  }

  &-drag-container {
    &:focus {
      outline: none;
    }
  }
}

.an-permit-upload {
  min-width: 200px;

  &-error {
    min-height: 56px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #d93a20;
    background-color: #ffefed;
    border: 1px solid #ff6046;
    border-radius: 4px;

    .icon-times-circle {
      margin-right: 3px;
    }

    span:last-child {
      line-height: 18px;
    }
  }

  &.has-upload-list {
    display: flex;

    .icon-cloud-upload {
      font-size: 60px;
    }

    .an-upload-container {
      width: 203px;
    }
  }

  &-description {
    height: 352px;
    padding: 15px 10px 0 10px;
    text-align: center;
    border: 1px dashed #d6e3e8;
    border-radius: 12px;

    i {
      display: inline;
      margin: 0 auto;
      font-size: 124px;
      color: #d6e3e8;
    }

    .description-note {
      max-width: 490px;
      margin: 10px auto 10px auto;
      font-size: 14px;
      line-height: 20px;
      color: #738187;
    }

    .description-drop-note {
      max-width: 222px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 24px;
      color: #313741;
    }

    .description-or {
      margin: 15px 0 0 0;
      font-size: 20px;
      line-height: 24px;
      color: #738187;
    }

    button {
      display: block;
      margin: 10px auto 20px auto !important;
    }
  }

  .an-upload-drag-hover {
    .an-permit-upload-description {
      border: 2px dashed #40b0dc;
    }
  }
}
