@import '~shared/styles/variables.less';

.an-text {
  &--bold {
    font-weight: @new-gd-font-weight-600;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--type-primary {
    color: @new-gd-color-primary-100;
  }

  &--type-seconday {
    color: @new-gd-color-gray-100;
  }

  &--type-super {
    color: @new-gd-color-brand-140;
  }

  &--type-attention {
    color: @new-gd-color-attention-120;
  }

  &--size-xs {
    font-size: @new-gd-font-size-xs;
  }

  &--size-s {
    font-size: @new-gd-font-size-s;
  }

  &--size-m {
    font-size: @new-gd-font-size-m;
  }

  &--size-l {
    font-size: @new-gd-font-size-l;
  }

  &--size-xl {
    font-size: @new-gd-font-size-xl;
  }
}
