
.side-bar {
  &-popup {
    right: 312px;
  }
  &-calendar {
    .options {
      .row {
        span {
          font-size: 15px;
          color: white;
          width: 200px;
          display: inline-block;
        }
        input,
        select,
        textarea {
          width: 260px;
          height: 30px;
          border-radius: 5px;
          display: inline-block;
        }
        textarea {
          height: 200px;
        }
      }
    }
  }
}
.target {
  width: 200px;
  margin: 10px 10px;
}
