@import '~shared/style/variables/index.less';
@imagePath: '~shared/images/iPP320.jpg';
@module-name: payment-pinpad;

.@{module-name} {
  p {
    padding: 0;
    margin: 0;
  }

  &-header {
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #d6d7da;

    span {
      &:first-child {
        float: left;
        font-weight: @semibold;
      }

      &:nth-child(2) {
        float: right;
        font-weight: 700;
      }
    }
  }

  &-body {
    padding-top: 30px;

    &.aaui-flexbox {
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    &-img {
      width: 190px;
      height: 190px;
      font-size: 0;
      background-image: url(@imagePath);
      background-position: -20px 0;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-right {
      height: 190px;
    }

    &-prompts {
      color: #748288;
    }
  }

  &-error-wrapper {
    &.aaui-flexbox {
      align-items: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 100%;
    }

    .@{module-name}-retry {
      cursor: pointer;
    }

    .@{module-name}-error-alert {
      display: flex;
      width: 398px;

      .icon-close-circle,
      .icon-times-circle {
        padding-left: 10px;
        margin-top: 0;
        font-size: 16px;
        color: #db3811;
      }

      .error-content {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: -3px;
        vertical-align: top;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }

      .@{module-name}-error-message {
        max-height: 65px;
        overflow: auto;
        font-size: 14px;
        line-height: 1.43;
      }
    }

    .alert-error {
      color: #db3811;
    }
  }

  &-error-action {
    line-height: 1.43;
    color: #748288;

    .payment-pinpad-retry {
      color: @color-blue;
    }

    .payment-pinpad-retry-separation {
      margin: 0 5px;
    }
  }
}
