@import '~shared/style/variables/index.less';
/* stylelint-disable */

.pinpad-mutiple-pays {
  .pinpad-wrapper {
    .payment-credit-debit-error {
      margin-bottom: 15px;

      .payment-pinpad-error-alert {
        width: 100%;
      }
    }
  }

  .payment-pinpad {
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;

    & + .payment-pinpad {
      margin-top: 15px;
    }
  }

  .pinpad-active {
    height: 199px;
    border: solid 1px @color-blue;

    .payment-pinpad-body {
      padding-top: 15px;
    }

    .payment-pinpad-error-alert {
      width: 355px;
    }
  }

  .pinpad-collapse {
    height: 54px;
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #ddd;

    &:hover {
      background-color: #eef9fd;
      border: solid 1px #cfdbe0;
    }

    &.pinpad-success,
    &.pinpad-fail {
      height: 74px;

      .payment-pinpad-header {
        span:first-child:after {
          display: inline-block;
          width: 14px;
          margin-left: 5px;
          font-family: 'aui_icons';
          vertical-align: bottom;
        }
      }
    }

    .payment-pinpad-header {
      border-bottom-width: 0;

      div {
        clear: both;
        height: 20px;
        font-size: 14px;
        line-height: 1.43;
        color: #748288;
      }
    }

    &.pinpad-fail {
      .payment-pinpad-header {
        span:first-child:after {
          color: #d93a20;
          content: '\F057';
        }
      }
    }

    &.pinpad-success {
      .payment-pinpad-header {
        span:first-child:after {
          color: #5cb85c;
          content: '\F058 ';
        }
      }
    }

    &.pinpad-disabled {
      color: #748288;
      background: #f3f3f3;
    }
  }

  .payment-pinpad-action-btns {
    div {
      margin-top: 30px;
      text-align: right;
    }
  }

  .pinpad-credit-debit-success-msg {
    margin: 30px 0 16px 0;
    text-align: center;
    color: #748288;
  }
}

.pinpad-modal .modal-body {
  position: relative;
}
