/* stylelint-disable */

.prerequisite {
  .prerequisite-warning {
    margin-bottom: 20px;

    &-content {
      display: inline-block;
      padding-right: 30px;
      padding-left: 10px;
      vertical-align: top;
    }

    &-override {
      padding-left: 10px;
      color: #313741;
    }
  }

  .override-field {
    margin-bottom: 20px;

    input:-webkit-autofill {
      background-color: #fff !important;
    }

    &__user-name {
      margin-bottom: 15px;
    }

    &__label {
      display: inline-block;
      width: 125px;
      padding-right: 24px;
      font-weight: 600;
      text-align: right;

      &-error {
        color: #db3811;
      }
    }

    &__value {
      display: inline-block;
      width: 235px;
      vertical-align: middle;
    }
  }
}
