@import '../../less/variables/index.less';
/* stylelint-disable */

.an-survey {
  .questiongroup {
    border-bottom: 1px dotted @color-gray-lighter;

    &.is-bold-border {
      border-bottom: 2px solid @color-gray-lighter;
    }

    &-header {
      display: flex;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: @font-size-base;

      .icon-circle {
        margin: 7px 10px 7px 0;
        font-size: 7px;
        cursor: default;
      }
    }

    &-body .question-label {
      padding-left: 24px;
    }
  }

  .question {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px dotted @color-gray-lighter;

    &.is-bold-border {
      border-bottom: 2px solid @color-gray-lighter;
    }

    &:last-child {
      border-bottom: none;
    }

    &-label {
      flex-wrap: nowrap;
      padding-right: 5px;
      vertical-align: top;

      &__name {
        display: flex;
        padding-bottom: 10px;

        .icon-asterisk,
        .icon-circle {
          margin: 7px 10px 7px 0;
          font-size: 7px;
          cursor: default;
        }

        .icon-asterisk {
          color: red;
        }
      }

      &__hint {
        padding-left: 18px;
        font-size: 14px;
        color: @color-hint;
      }
    }

    &-answer {
      .radio-wrapper,
      .checkbox-wrapper {
        min-height: 20px;
        padding: 5px 0;

        .radio,
        .checkbox {
          display: flex;

          span {
            display: inline-block;
            flex: 1;
          }

          span.radio__inner {
            flex: none;
            margin-top: 2px;
          }

          span.checkbox__inner {
            flex: none;
            margin-top: 1px;
          }
        }
      }

      &__error {
        font-size: 16px;
        color: red;

        &:before {
          font-size: 20px;
        }
      }
    }

    .question-icon {
      margin-top: 5px;
      text-align: right;
      vertical-align: top;
      color: @color-blue;

      .link {
        cursor: pointer;

        &.is-disabled {
          cursor: not-allowed;
          color: @color-hint;
          opacity: 0.45;
        }
      }
    }

    .afx-col {
      font-size: 16px;
    }
  }

  .question-error {
    .question-label__name {
      color: red;
    }

    .input-group {
      &__field {
        color: @state-danger-text;
        background-color: @state-danger-bg;
        border: solid 1px @state-danger-border !important;
      }
    }

    .aaui-dropdown {
      border-radius: 3px;

      button {
        background-color: @state-danger-bg;
        border: solid 1px @state-danger-border;
      }
    }
  }

  .checkbox-group {
    display: flex;
    flex-flow: column;

    .checkbox-wrapper {
      min-height: 30px;
      padding: 0 0 10px;
    }
  }

  .radio-group {
    display: flex;
    flex-flow: column;

    .radio-wrapper {
      min-height: 30px;
      padding: 0 0 10px;
    }
  }

  &-divider {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid @color-gray-lighter;
  }
}
