@import '~shared/style/variables/index.less';
/* stylelint-disable */

.extrafees {
  .header {
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .addfee {
    padding: 0;
    margin: 0;
  }

  .disable {
    cursor: text;
    opacity: 0.45;
  }

  .extrafeestable {
    margin-top: 10px;
    font-size: 16px;

    .extrafeesheader {
      justify-content: space-between;
      height: 35px;
      font-size: 14px;
      color: #748288;
      border-bottom: 2px solid #ccc;
    }

    .extrafeesrow {
      padding: 18px 10px 18px 10px;
      border-bottom: 1px solid #ccc;

      .extrafee {
        justify-content: space-between;
      }

      .amount {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;

        div {
          margin-right: 10px;
        }

        div:first-child {
          margin-right: 7px;
        }
      }
    }

    .extrafeesrow:last-child {
      border-bottom: 2px solid #ccc;
    }
  }

  .extrafee-detail {
    padding-right: 26px;
    font-size: 14px;
    font-weight: @semibold;
    line-height: 1.71;
    text-align: right;

    &__label {
      font-weight: normal;
    }
  }

  .extraFees-total {
    align-content: flex-end;
    justify-content: flex-end;
    padding: 10px 10px 0 0;

    &-label {
      font-weight: @semibold;
    }

    &-amount {
      text-align: right;
    }
  }
}
