@import '~shared/style/variables/index.less';

/* stylelint-disable */

.initFontSize {
  font-size: 14px;

  .busyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    cursor: wait;
    background-color: #696969;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

  .busyOverlayMessage {
    z-index: 9999;
    clear: both;
    width: 190px;
    padding: 10px;
    overflow: hidden;
    font-style: italic;
    text-align: center;
    color: #333;
    background-color: #ededed;
    border: 2px solid #333;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
}

.reservation-detail {
  .page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: @page-title-margin-bottom;

    h1 {
      display: inline-flex;
      margin: 0;
      font-size: @page-title-font-size;
      font-weight: @semibold;
      line-height: @page-title-line-height;
      color: @river-bed;
    }

    .permit-number {
      margin-left: 12px;
      font-size: 20px;
      font-weight: 600;
      color: #738187;
    }
  }

  .alert {
    margin-bottom: 0;
  }

  .icon-cart-m {
    &:hover {
      text-decoration: none;
    }
  }

  .permit-detail-help {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
    color: #4dbde9;

    i {
      display: inline-block;
      margin-right: 3px;
    }

    &:hover {
      text-decoration: none;
      color: darken(#4dbde9, 10%);
    }
  }

  .errorSection {
    position: relative;
    padding: 10px;
    margin-bottom: @page-title-margin-bottom;
    color: #d93a20;
    background-color: #ffefed;
    border: 1px solid #ff6046;
    border-radius: 5px;

    ul {
      padding: 0;
      margin: 0;
      margin-left: 35px;
    }

    .icon-times-circle {
      position: absolute;
      top: 13px;
    }

    .li-style-none {
      margin-left: 20px;
      list-style-type: none;
    }
  }

  .an-collapse {
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;

    .an-collapse-item__header {
      background-color: @white;

      & > div {
        padding: 4px 0;
      }

      .icon-chevron-down {
        font-size: @font-size-base;
        font-weight: @headings-font-weight;
      }
    }

    &-item__content {
      padding: 0;
    }

    .header-section {
      display: flex;
      justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 9px;
      font-size: @font-size-sm;
      color: @rolling-stone;
      border-bottom: 2px solid @color-gray-lighter;
    }
  }

  .permit-lock-message {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
