.fc {
  .fc-resource-month-view{
    .fc-head-resources{
      overflow: hidden;
    }
    .fc-scroll-hide{
      margin-bottom: -17px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      .fc-scroll-hide{
        margin-bottom: 0px;
      }
    }
  }
}
