@import '~shared/style/variables/index.less';
/* stylelint-disable */

.setup-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 0;
  vertical-align: middle;

  &-menu {
    position: absolute;
    top: 105%;
    top: 90% e('\0/');
    left: 0;
    z-index: 2;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    background-clip: padding-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    li {
      box-sizing: border-box;
      padding: 0 1.5em 0 1em;
      line-height: 28px;
      white-space: nowrap;
      cursor: pointer;
      color: @river-bed;

      &:hover {
        color: white;
        background-color: @picton-blue;
      }

      &.setup-dropdown-active-item {
        color: white;
        background-color: @picton-blue;
      }

      &.setup-dropdown-disabled-item {
        cursor: default;
        color: @mystic;
        background-color: white;
      }

      &.setup-dropdown-divider {
        border-bottom: 1px dotted #dedede;
      }
    }
  }
  // IE 10 and 11 hack.
  _:-ms-lang(x),
  &-menu {
    top: 90%;
  }
}
