@keyframes slideOutDown {
  from {
    max-height: 0;
  }

  to {
    overflow: auto;
    max-height: 1200px;
  }
}

@keyframes slideOutUp {
  from {
    max-height: 1200px;
  }

  to {
    max-height: 0;
  }
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loadingSpinner {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }

  to {
    transform-origin: 50% 50%;
    transform: rotate(1turn);
  }
}
