//
// Typography - Proxima Nova
// --------------------------------------------------

// Set the global typography
// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ProximaNova-Reg-webfont.eot');
  src:
    url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Reg-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Reg-webfont.svg') format('svg');
  font-display: swap; // Refer to https://css-tricks.com/font-display-masses/
}

// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/ProximaNova-RegIt-webfont.eot');
  src:
    url('../fonts/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegIt-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-RegIt-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-RegIt-webfont.svg') format('svg');
  font-display: swap;
}

// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/ProximaNova-Sbold-webfont.eot');
  src:
    url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Sbold-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Sbold-webfont.svg') format('svg');
  font-display: swap;
}

// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/ProximaNova-SboldIt-webfont.eot');
  src:
    url('../fonts/ProximaNova-SboldIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-SboldIt-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-SboldIt-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-SboldIt-webfont.svg') format('svg');
  font-display: swap;
}

// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/ProximaNova-Bold-webfont.eot');
  src:
    url('../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold-webfont.svg') format('svg');
  font-display: swap;
}

// prettier-ignore
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/ProximaNova-BoldIt-webfont.eot');
  src:
    url('../fonts/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova-BoldIt-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-BoldIt-webfont.svg') format('svg');
  font-display: swap;
}
