//
// Utility classes
// Syntax: u-<utilityName>
// --------------------------------------------------

// Margins, Padding, Width, Floats, etc...
// -------------------------

.u-clearfix {
  .m-clearfix();
}

.u-floatLeft {
  float: left;
}

.u-floatRight {
  float: right;
}

.u-textCenter {
  text-align: center;
}

.u-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-fullScreen {
  width: 100vw;
  height: 100vh;
}

// Align
.u-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-aligner-item {
  flex: 1;
}

.u-aligner-cross {
  display: flex;
  align-items: center;
}

.u-hidden {
  display: none;
}

.hyphenate {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
