/* stylelint-disable */

table.table.an-table.deposit-table {
  table-layout: fixed;

  th div,
  td div {
    width: 100%;
  }

  .format-event,
  .format-resource .format-deposit-fee {
    text-align: left;

    div {
      padding-right: 0;
    }
  }

  .format-amount,
  .format-amount-paid,
  .format-balance {
    text-align: right;

    div {
      padding-right: 6px;
      padding-left: 0;
    }
  }

  .format-event {
    width: 130px;

    div {
      padding-left: 30px;
    }
  }

  .format-resource {
    width: 120px;
  }

  .format-deposit-fee {
    width: 126px;
  }

  .format-amount {
    width: 100px;
  }

  .format-amount-paid {
    width: 140px;
  }

  .format-balance {
    width: 110px;

    div {
      padding-right: 16px;
    }
  }
}
