.an-navbar{
  width: 256px;
  height: 100%;

  &__header{
    font-weight: 700;
    font-size: 18px;
  }

  &__group-header{
    background-color: #c9510c;
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    padding: 4px;
    border-radius: 3px;
  }

  &__row{
    padding-left: 8px;
  }

  &__row-icon{
    width: 20px;
  }

  &__link{
    display: inline-block;
    padding: 4px 0px;
    margin: 4px;
    color: #222;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:hover{
    color: #555;
  }

  &__divider {
    margin: 8px 0;
    height: 1px;
    background-color: #ccc;
  }

  &__content {
    padding: 16px 8px;
    min-height: 100%;
    background-color: white;
  }
}