@import '~shared/styles/variables.less';

.session-card-group {
  position: relative;

  .empty-session-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin-top: 12px;
    text-align: center;
  }
}
