@color-black: #000;
@color-text-dark: #313741;
@color-black-lighter: #748288;
@color-blue: #40b0dc;
@color-blue-lighter: #eef9fd;
@color-blue-darker: darken(@color-blue, 10%);
@color-blue-science: #0070d9;
@color-gray-lighter: #d6d7da;
@color-gray: #f0f0f0;
@color-gray-border: #d7d8db;
@color-gray-backgroud: #f3f3f3;
@color-green: #008a50;
@color-violet-lighter: #8c22a1;
@color-hint: #738187;
