.stickyForm{
  border: 1px solid #d6d7da;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.form__group{
  display: flex;
  table-layout: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  column-count: auto;
  align-items: flex-start;
}
.form-label-wrapper{
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    text-align: right;
    font-weight: 600;
    line-height: 28px;
    margin-right: 10px;
    width: 35%;
}
.form-input-wrapper{
    width: 40%;
    overflow: hidden;
}
.input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 10px 0px 8px;
    font-size: 14px;
    line-height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    transition: none;
    min-width: 1px;
}
.form-selector{
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 10px 0 8px;
    font-size: 14px;
    line-height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    transition: none;
    min-width: 1px;
}
.btn-cancel{
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #e6eef1;
    border-color: #d6e3e8;
    cursor: pointer;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 18px;
}
.btn-primary{
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #e6eef1;
    border-color: #d6e3e8;
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
    line-height: 18px;
}