.field {
  input {
    font-size: 22px;
    height: 36px;
    color: dimgray;
  }
}

.side-bar {
  .options {
    .row {
      span {
        font-size: 15px;
        color: white;
        width: 200px;
        display: inline-block;
      }
      input,
      select,
      textarea {
        width: 260px;
        height: 30px;
        border-radius: 5px;
        display: inline-block;
      }
      textarea {
        height: 200px;
      }
    }
  }
}