@import '~shared/style/variables/index.less';
/* stylelint-disable */

.help-link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
  line-height: 14px;
  color: @picton-blue;

  div {
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    text-align: center;
    background: @picton-blue;
    border-radius: 7px;

    i {
      font-size: 13px !important;
      vertical-align: top;
      color: @white;
    }
  }

  span:last-child {
    font-size: 14px;
  }
}
