@color-black: #000;
@color-black-lighter: #748288;
@color-blue: #40b0dc;
@color-blue-lighter: #eef9fd;
@color-blue-darker: darken(@color-blue, 10%);
@color-gray-lighter: #d6d7da;
@color-gray: #f0f0f0;
@color-gray-border: #d7d8db;
@color-gray-backgroud: #f3f3f3;
@color-green: #008a50;
@color-violet-lighter: #8c22a1;

@staus-blue: #0262bb;
@staus-green: #417505;
@staus-purple: #6238ca;

// copy below new color from cui for wcag contrast
@greenish-teal: #2dc87f;
@cyan-blue: #0070d9;
@dark-charcoal: #333333;
@error-red: #d1201d;
@outrageous-orange: #ff6046;
@fair-pink: #ffefed;
@app-theme-wcag-button-primary: @cyan-blue;
@app-theme-wcag-button-secondary: #148eff;
@app-theme-wcag-button-border-color: @cyan-blue;
@app-theme-wcag-button-disable: #0065c4;
