// Viriables of Page Container
@page-width: 970px;
@page-padding-vertical: 25px;
@page-padding-horizontal: 15px;
@page-padding-top: 10px;

// Viriables of Header
@page-header-font-size: 32px;
@page-header-line-height: 1.2;
@page-header-margin-bottom: 20px;

// Viriables of Footer
@page-footer-padding: 15px;
@page-footer-border-top-color: #ccc;
@page-footer-min-height: 55px;
