@import '~shared/styles/variables.less';

.module-checkout {
  &-payment.an-panel {
    padding: 20px;

    h2 {
      margin-bottom: 20px;
    }
  }

  .layout-width-limited {
    flex: 0 0 480px;
    width: 480px;
  }

  .ordersummary {
    z-index: 1;
  }

  .ordersummary-wrapper {
    padding-bottom: 1px;
  }

  @media @media-query-small {
    &-payment.an-panel {
      padding: 15px;
    }

    .layout-width-limited {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}
