.content-pane{
  padding-top: 200px;
  padding-left: 10px;
  text-align: center;
  font-size: 60px;
  color: grey;
}

.button-group{
  margin: 4px;
  span {
    width: 160px;
    display: inline-block;
  }
}
