@import '~shared/style/variables/index.less';
@search-input-right-margin: 10px;
@search-btn-padding: 6px 22px;
@filter-fields-box-margin: 16px 0;
@filter-filters-box-padding-left: 5px;
@filter-fields-box-padding: 4px 4px 10px;
/* stylelint-disable */

.grid-filter {
  .search {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

    &-type-dropdown {
      width: 20%;
      height: 40px;
      max-width: 268px;
      min-width: 136px;

      button.aaui-dropdown__button {
        min-height: 40px;
        font-size: 14px;
        border-radius: 5px 0 0 5px !important;
      }

      div.aaui-dropdown__menu ul {
        max-width: 345px;
        max-height: 155px;
        min-width: 148px;

        li[role='option'] {
          width: 100%;
          overflow: hidden;
          font-size: 14px;
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &-input {
      width: 100%;
      height: 40px;
      min-width: 200px;
      margin-right: @search-input-right-margin;

      input {
        font-size: 16px;
        border-radius: 0 5px 5px 0 !important;
      }
    }

    &-btn {
      width: 142px;
      height: 40px;
      min-width: auto;
      padding: @search-btn-padding;
    }
  }

  .searchtag {
    display: flex;
    align-items: center;
    padding: 6px 0 0 0;

    span {
      padding: 0 6px;
      margin-right: 4px;
      overflow: hidden;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: white;
      background-color: #748288;
      border-radius: 3px;
    }

    @media screen and (max-width: 767px) {
      span {
        max-width: 111px;
      }
    }

    @media screen and (min-width: 768px) {
      span {
        max-width: 111px;
      }
    }

    @media screen and (min-width: 960px) {
      span {
        max-width: 167px;
      }
    }

    @media screen and (min-width: 1200px) {
      span {
        max-width: 272px;
      }
    }
  }

  .filter {
    position: relative;
    display: flex;
    align-items: center;
    padding: @filter-fields-box-padding;
    margin-top: 4px;
    background: #eef9fd;
    border-radius: 5px;

    &-item {
      &-inner {
        padding-right: 10px;

        &-last {
          padding-right: 0;
        }

        .aaui-dropdown {
          .aaui-dropdown__menu {
            width: 100%;
            max-height: 390px;
            min-width: 100%;
          }
        }
      }

      &-2 {
        width: percentage(2 / 14);
      }

      &-3 {
        width: percentage(3 / 14);
      }

      &-4 {
        width: percentage(4 / 14);
      }

      .filter-item__label {
        font-size: 14px;
        color: @rolling-stone;
      }
    }

    &-date {
      display: flex;
      align-items: center;
      font-size: 0;

      .datepicker-divider {
        padding: 0 2px;
        font-size: 12px;
      }

      .datepicker-container {
        flex-grow: 1;
      }
    }

    &-clean {
      position: absolute;
      top: 3px;
      right: 6px;
      z-index: 2;
      display: flex;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      cursor: pointer;
      color: @color-blue;

      &.disable {
        cursor: text;
        opacity: 0.45;
      }
    }

    .aaui-dropdown__filter {
      z-index: 1;
    }
  }
}
