@import '~shared/style/variables/index.less';

.stage-associations {
  display: inline-block;
  max-width: 370px;
  overflow: hidden;
  font-weight: @default-font-weight;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
