@import '~shared/styles/variables.less';

@error-icon-color: #d9e1e4;
@error-title-font-size: 85px;
@error-container-height: 460px;

.error-component {
  .flex('flexbox');
  .flex-layout('center');

  flex-direction: column;
  height: @error-container-height;

  & > &-layout {
    text-align: center;
    color: @rolling-stone;

    .icon-svg {
      cursor: default;
      color: @error-icon-color;
      .svg-size(@error-title-font-size);
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: @font-weight-Reg;
    }
  }
}

@media @media-query-small {
  .error-component {
    & > &-layout {
      padding: 0 40px;

      h1,
      h2,
      h3,
      h4 {
        font-size: 16px;
      }
    }
  }
}
