//
// Accordion
// --------------------------------------------------

.accordion-group {
  .accordion + .accordion {
    margin-top: @accordion-space;
  }
}

.accordion {
  border-radius: @accordion-border-radius;
  border: @accordion-border-width solid @accordion-border-color;
  &.accordion--show {
    .accordion__header {
      border-bottom: @accordion-border-width solid @accordion-border-color;
    }
    .accordion__body-container {
      height: auto;
      overflow: auto;
    }
  }
}

.accordion--disabled {
  opacity: .45;
  cursor: @cursor-disabled;
}

.accordion__header {
  background-color: @accordion-header-background-color;
  padding: @accordion-padding;
  border-bottom: none;
  display: flex;
}

.accordion__header-text {
  flex-grow: 1;
}

.accordion__header-icon {
  color: @accordion-header-icon-color;
  cursor: pointer;
}

.accordion__body-container {
  height: 0;
  overflow: hidden;
}

.accordion__body {
  padding: @accordion-padding;
  background-color: @accordion-body-background-color;
}
