//
// Buttons
// --------------------------------------------------

// Base styles for Button component
// --------------------------------------------------
.btn {
  font-weight: @btn-font-weight;

  display: inline-block;

  margin-bottom: 0;

  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid transparent;
  background-image: none;
  outline: 0;

  touch-action: manipulation;

  .m-button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base; 40px; @btn-font-weight-semiBold);
  .m-button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border; @btn-secondary-active; @btn-secondary-border; @btn-secondary-hover; @btn-secondary-border);


  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    box-shadow: none;
  }

  a& {
    line-height: 1.625;
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none;
    }
  }
}

// Alternate styling buttons
// --------------------------------------------------
.btn.btn-primary {
  .m-button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border; @btn-primary-active; @btn-primary-active; @btn-primary-hover; @btn-primary-hover);
}

.btn.btn-secondary {
  .m-button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border; @btn-secondary-active; @btn-secondary-border; @btn-secondary-hover; @btn-secondary-border);
}

.btn.btn-super {
  .m-button-variant(@btn-super-color; @btn-super-bg; @btn-super-border; @btn-super-active; @btn-super-active; @btn-super-hover; @btn-super-hover);
}

.btn.btn-attention {
  .m-button-variant(@btn-attention-color; @btn-attention-bg; @btn-attention-border; @btn-attention-active; @btn-attention-active; @btn-attention-hover; @btn-attention-hover);
}

// Button Sizes
// --------------------------------------------------

.btn.btn--xs,
.btn.btn-xs {
  .m-button-size(@btn-xs-vertical; @btn-xs-horizontal; @font-size-xs; 1; @btn-border-radius-xs; 24px; @btn-font-weight-semiBold);
}

.btn.btn--sm,
.btn.btn-sm {
  .m-button-size(@btn-small-vertical; @btn-small-horizontal; @font-size-sm; 1; @btn-border-radius-sm; 30px; @btn-font-weight-semiBold);
}

.btn.btn--lg,
.btn.btn-lg {
  .m-button-size(@btn-large-vertical; @btn-large-horizontal; @font-size-base; 1.25; @btn-border-radius-lg; 50px; @btn-font-weight-semiBold);
}

.btn.btn--xl,
.btn.btn-xl {
  .m-button-size(@btn-xl-vertical; @btn-xl-horizontal; 20px; 1; @btn-border-radius-xl; 60px; @btn-font-weight-semiBold);
}

// Button Socials
// --------------------------------------------------

.btn.btn-social {
  &,
  &:hover {
    color: @white;
    min-width: 130px;
  }

  [class^='icon-'],
  [class*=' icon-'] {
    font-size: 44px;
    line-height: 26px;
    vertical-align: middle;

    margin: 0;
    padding: 0;
  }
}

.btn-social--facebook {
  .button-social(@facebook-button-color, @facebook-button-border-color);
}

.btn-social--twitter {
  .button-social(@twitter-button-color, @twitter-button-border-color);
}

.btn-social--google {
  .button-social(@google-button-color, @google-button-border-color);
}

.btn-social--linkedin {
  .button-social(@linkedin-button-color, @linkedin-button-border-color);
}

.btn-social--youtube {
  .button-social(@youtube-button-color, @youtube-button-border-color);
}

.btn-social--vimeo {
  .button-social(@vimeo-button-color, @vimeo-button-border-color);
}

.btn-social--instagram {
  .button-social(@instagram-button-color, @instagram-button-border-color);
}

.btn-social--flickr {
  .button-social(@flickr-button-color, @flickr-button-border-color);
}

.btn-social--foursquare {
  .button-social(@foursquare-button-color, @foursquare-button-border-color);
}

.btn-social--tumblr {
  .button-social(@tumblr-button-color, @tumblr-button-border-color);
}

.btn.btn--loading {
  .icon--loading::before {
    display: inline-block;
    animation: loadingSpinner 1s infinite linear;
  }
  .icon--loading + span {
    margin-left: 0.5em;
  }
}
