//
// Dropdown
// --------------------------------------------------

.dropdown {
  text-align: left;
  position: relative;

  .dropdown__button {
    .m-dropdown-button(@dropdown-font-size-base;@dropdown-color;@dropdown-background-color;@dropdown-border-color;@dropdown-border-radius;@dropdown-expand-background-color;@dropdown-menu-hover-color;@dropdown-expand-background-color;@dropdown-disabled-color;@dropdown-disabled-background-color);
    .m-input-focus();
  }

  .dropdown__menu {
    overflow-y: auto;
    &.show {
      display: block;
    }

    .m-dropdown__menu(@dropdown-border-color;@dropdown-background-color;@dropdown-border-radius;@dropdown-menu-hover-color;@dropdown-font-size-base;@dropdown-color;@dropdown-zIndex-9);
  }

  &.dropdown--gradient {
    .dropdown__button {
      .m-dropdown-button(@dropdown-font-size-base;@dropdown-color;@dropdown-background-color;@dropdown-border-color;@dropdown-border-radius;@dropdown-expand-background-color;@dropdown-menu-hover-color;@dropdown-expand-background-color;@dropdown-disabled-color;@dropdown-disabled-background-color);
      .m-dropdown-grandient(@dropdown-background-color;@dropdown-expand-background-color);
      &.collapse {
        .m-dropdown-grandient(@dropdown-background-color;@dropdown-expand-background-color);
      }
      &:hover,
      &:active,
      &:focus,
      &.expand {
        .m-dropdown-grandient-active(@dropdown-expand-background-color;@dropdown-background-color;@dropdown-border-color);
      }
    }

    .dropdown__menu {
      &.show {
        display: block;
      }

      .m-dropdown__menu(@dropdown-border-color;@dropdown-background-color;@dropdown-border-radius;@dropdown-menu-hover-color;@dropdown-font-size-base;@dropdown-color;@dropdown-zIndex-9);
    }
  }

  &.dropdown--with-search {
    .dropdown__button {
      .m-dropdown-button(@dropdown-font-size-base;@dropdown-color;@dropdown-background-color;@dropdown-border-color;@dropdown-border-radius;@dropdown-expand-background-color;@dropdown-menu-hover-color;@dropdown-background-color;@dropdown-disabled-color;@dropdown-disabled-background-color);
    }

    .dropdown__menu {
      font-size: @dropdown-font-size-base;
      width: 100%;
      .m-dropdown__menu(@dropdown-border-color;@dropdown-background-color;@dropdown-border-radius;@dropdown-menu-hover-color;@dropdown-font-size-base;@dropdown-color;@dropdown-zIndex-9);
      margin-top: 1px;
      border: 1px solid @dropdown-border-color;
      background-color: ;
      border-radius: @dropdown-border-radius;
      position: absolute;
      display: none;

      &.show {
        display: block;
      }

      &:hover {
        li:first-child {
          background-color: @dropdown-background-color;

          a {
            color: @dropdown-color;
          }
        }
      }

      .dropdown__menu__search-box {
        font-size: @dropdown-font-size-base;
        line-height: @dropdown-serach-box-line-height;
        width: 100%;
        & > i {
          position: absolute;
          color: @dropdown-search-icon-color;
          cursor: pointer;
          padding: 7px 10px;
          pointer-events: none;
        }
        .input {
          width: ~'calc(100% - 35px)';
          border: none;
          margin-left: 25px;
          line-height: @dropdown-search-input-line-height;
          &:focus {
            border-color: transparent;
            outline: 0;
            box-shadow: none;
          }
        }
      }

      .dropdown__menu-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        border-bottom: 1px dotted @dropdown-menu-divider-color;
      }
    }
  }

  &.dropdown--lg {
    .dropdown__button {
      .m-dropdown-button(@dropdown-font-large;@dropdown-color;@dropdown-background-color;@dropdown-border-color;@dropdown-border-radius;@dropdown-expand-background-color;@dropdown-menu-hover-color;@dropdown-expand-background-color;@dropdown-disabled-color;@dropdown-disabled-background-color);

      height: @dropdown-height-large;

      .dropdown__button-text {
        height: @dropdown-height-large;
        line-height: @dropdown-height-large - 2; // minus the border width
        width: ~'calc(100% - 50px)';
      }

      [class*=' icon-'],
      [class^='icon-'] {
        width: 15px;
        line-height: @dropdown-height-large - 2; // minus the border width
      }

      .dropdown__prefix-icon + .dropdown__button-text {
        width: ~'calc(100% - 80px)';
      }
    }
    .dropdown__menu {
      &.show {
        display: block;
      }

      .m-dropdown__menu(@dropdown-border-color;@dropdown-background-color;@dropdown-border-radius;@dropdown-menu-hover-color;@dropdown-font-large;@dropdown-color;@dropdown-zIndex-9);

      li {
        line-height: @dropdown-height-large;
        a {
          line-height: @dropdown-height-large;
        }
      }
    }
  }

  &.dropdown--borderless {
    .dropdown__button {
      &,
      &.collapse,
      &.expand {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
}

.dropdown--native {
  .dropdown__select {
    height: 30px;
    padding: 0 30px 0 10px;

    appearance: none;
<<<<<<< HEAD

=======
    
>>>>>>> 4459b459862ec3cd31af15dd6d70b2e9789eaf58
    &::-ms-expand {
      display: none;
    }
  }

  [class*='icon-'] {
    font-size: 14px;
    line-height: 30px;

    display: inline-block;

    width: 10px;
    margin: auto 10px;

    color: @cerulean;
  }

  .icon-chevron-down,
  .icon-caret-down {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown__prefix-icon {
    position: absolute;
    top: 0;
    left: 0;

    color: #555;
  }

  .dropdown__prefix-icon + .dropdown__select {
    padding-left: 35px;
  }

  &.dropdown--lg .dropdown__select {
    padding: 0 35px 0 15px;
  }
  &.dropdown--lg .dropdown__prefix-icon + .dropdown__select {
    padding-left: 35px;
  }

  &.dropdown--lg [class*='icon-'] {
    font-size: 16px;
    line-height: 40px;

    width: 15px;
  }

  &.dropdown--gradient .dropdown__button {
    background-color: transparent;
    background-image: linear-gradient(@white, @mystic);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
  }

  &.dropdown--gradient .dropdown__button:hover {
    border-color: #ddd;
    background-color: transparent;
    background-image: linear-gradient(@mystic, @white);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
  }

  &.dropdown--disabled [class*='icon-'],
  &.dropdown--lg.dropdown--disabled [class*='icon-'] {
    color: @loblolly;
  }
}

