//
// File Upload
// --------------------------------------------------

.file-upload {
  &.file-upload--xs {
    .btn.btn-xs {
      line-height: @fileupload-line-height-xs;
    }
    .file-upload__text {
      font-size: @fileupload-font-size-xs;
      line-height: @fileupload-line-height-xs;
      height: @fileupload-input-text-height-xs;
    }
  }

  &.file-upload--sm {
    .btn-sm {
      line-height: @fileupload-line-height-sm;
    }
    .file-upload__text {
      font-size: @fileupload-font-size-sm;
      line-height: @fileupload-line-height-sm;
      height: @fileupload-input-text-height-sm;
    }
  }

  &.file-upload--lg {
    .btn-sm {
      line-height: @fileupload-line-height-lg;
    }
    .file-upload__text {
      font-size: @fileupload-font-size-lg;
      line-height: @fileupload-line-height-lg;
      height: @fileupload-input-text-height-lg;
    }
  }

  &.file-upload--xl {
    .btn-sm {
      line-height: @fileupload-line-height-xl;
    }
    .file-upload__text {
      font-size: @fileupload-font-size-xl;
      line-height: @fileupload-line-height-xl;
      height: @fileupload-input-text-height-xl;
    }
  }

  .upload-componet {
    display: flex;
    .btn {
      display: inline-table;
    }

    .file-upload__text {
      font-family: @font-family-base;
      padding: 0 10px 0 8px;
      margin-left: 10px;
      margin-right: 20px;
      border: 1px solid @input-border;
      box-shadow: none;
    }

    .file-upload__text:disabled {
      cursor: @cursor-disabled;
      background: 0;
      color: @gray;
    }

    input[type='file'] {
      position: absolute;
      cursor: pointer;
      display: none;
    }

    .file-error {
      color: #900;
      clear: both;
      min-width: 200px;
      line-height: 30px;
    }
  }

  .format-text {
    color: @gray;
    font-size: @font-size-base;
  }

  .file-preview {
    span.icon-delete-m {
      vertical-align: top;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
