//
// Flex Grid
// --------------------------------------------------

@grid-columns: @grid-columns-12;
@media-prefix-list: sm @screen-sm, md @screen-md, lg @screen-lg;

.col {
  .for(@grid-columns);
  .-each(@i) {
    &-@{i} {
      width: (@i / @grid-columns * 100%);
    }
  }
}

.col {
  .for(@media-prefix-list);
  .-each(@m) {
    @pre: extract(@m, 1);
    @medi: extract(@m, 2);
    &-@{pre} {
      @media (min-width: @medi) {
        .for(@grid-columns);
        .-each(@i) {
          &-@{i} {
            width: (@i / @grid-columns * 100%);
          }
        }
      }
    }
  }
}

.row,
.row-fluid,
.row-gutter {
  display: flex;
}

.row-fluid {
  flex-wrap: wrap;
}

.row-gutter {
  margin-left: -@grid-gutter;
  margin-right: -@grid-gutter;

  [class*=col-] {
    padding-left: @grid-gutter;
    padding-right: @grid-gutter;
  }
}

// row align
.row-align-center {
  align-items: center;
}

.row-align-start {
  align-items: flex-start;
}

.row-align-end {
  align-items: flex-end;
}

.row-align-stretch {
  align-items: stretch;
}

.row-align-center {
  align-items: center;
}

// row justify
.row-justify-center {
  justify-content: center;
}

.row-justify-start {
  justify-content: flex-start;
}

.row-justify-end {
  justify-content: flex-end;
}

.row-justify-space-between {
  justify-content: space-between;
}

.row-justify-space-around {
  justify-content: space-around;
}
