//
// Forms
// --------------------------------------------------

// for ie, remove default search input clear button
input[type='search']::-ms-clear {
  display: none;
}

// Focus for file, radio, and checkbox
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form--horizontal {
  .form__control--static {
    display: inline-block;
  }

  .form__label {
    text-align: right;
  }

  .form__validate {
    padding-left: 0 !important;
  }
}

.form--inline {
  .form__group {
    display: inline-block;
    & + & {
      margin-left: 2px;
    }
  }

  .form__label {
    display: none;
  }
}

.form__group {
  margin-bottom: @form-space;

  &.form__group--warning {
    color: @state-warning-text;

    .input-group__item,
    .input {
      color: @state-warning-text;
      border-color: @state-warning-border;
      background-color: @white;
    }

    .input {
      .m-input-focus(@state-warning-border);
      .m-placeholder(@state-warning-text);
    }

    .dropdown {
      .dropdown__button {
        color: @state-warning-text;
        background-color: @white;
        border-color: @state-warning-border;
        .m-input-focus(@state-warning-border);
        .m-placeholder(@state-warning-text);
        [class*=' icon-'],
        [class^='icon-'] {
          color: @state-warning-text;
        }
      }
    }
  }

  &.form__group--error {
    color: @state-danger-text;

    .input-group__item,
    .form__element,
    .input {
      border-color: @state-danger-border !important;
      background-color: @state-danger-bg !important;
      color: @state-danger-text !important;
    }

    .form__element,
    .input {
      .m-input-focus(@state-danger-border);
      .m-placeholder(@state-danger-text);
    }

    .dropdown {
      .dropdown__button {
        border-color: @state-danger-border;
        background-color: @state-danger-bg;
        color: @state-danger-text;
        .m-input-focus(@state-danger-border);
        .m-placeholder(@state-danger-text);
        [class*=' icon-'],
        [class^='icon-'] {
          color: @state-danger-text;
        }
      }
    }
  }

  &.form__group--success {
    color: @state-success-text;
    .input-group__item,
    .input {
      color: @state-success-text;
      border-color: @state-success-border;
      background-color: @white;
    }
    .input {
      .m-input-focus(@state-success-border);
      .m-placeholder(@state-success-text);
    }
    .dropdown {
      .dropdown__button {
        color: @state-success-text;
        border-color: @state-success-border;
        background-color: @white;
        .m-input-focus(@state-success-border);
        .m-placeholder(@state-success-text);
        [class*=' icon-'],
        [class^='icon-'] {
          color: @state-success-text;
        }
      }
    }
  }

  &.form__group--horizontal {
    .form__label {
      text-align: right;
    }

    .form__validate {
      padding-left: 0 !important;
    }
  }

  &.form__group--vertical {
    .form__label {
      text-align: left;
    }

    .form__validate {
      padding-left: @grid-gutter !important;
    }
  }

  &.form__group--flex {
    .form__label {
      text-align: left;
    }

    .form__validate {
      padding-left: @grid-gutter !important;
    }

    @media (min-width: @screen-sm) {
      .form__label {
        text-align: right;
      }
    }
  }

  .form__validate {
    font-size: @font-size-sm;
  }
}

.form__label {
  .hyphenate;

  font-weight: 600;
  line-height: @form-label-line-height;

  &.form__label--require::after {
    content: '*';
    padding-left: 5px;
    color: @state-danger-text;
  }
}
