//
// Grid
// --------------------------------------------------

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: @grid-gutter;
  padding-right: @grid-gutter;
  &:extend(.u-clearfix all);
  width: 100%;

  @media (min-width: @screen-sm) {
    width: @container-sm;
  }

  @media (min-width: @screen-md) {
    width: @container-md;
  }

  @media (min-width: @screen-lg) {
    width: @container-lg;
  }
}

.grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed; // See https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  word-spacing: -0.43em;

  display: flex;
  flex-flow: row wrap;

  align-content: flex-start;
  margin-left: -@grid-gutter;
  margin-right: -@grid-gutter;

  [class *= "grid-u"] {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: @grid-gutter;
    padding-right: @grid-gutter;
    box-sizing: border-box;

    &.centered {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .m-grid-generate-rules(@grid-columns-12, @grid-responsiveConfig);
}
