// Input
// -------------------------

.input {
  display: block;
  width: 100%;
  height: @input-height-default;
  padding: 0px 10px 0px 8px;
  font-size: @input-font-size;
  line-height: @input-line-height;
  color: @input-color;
  background-color: @input-bg;
  background-image: none;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  box-shadow: none;
  transition: none;
  min-width: 1px;

  // Customize the `:focus` state to imitate native WebKit styles.
  .m-input-focus();

  // Placeholder
  .m-placeholder();

  &:hover {
    border-color: @input-border-hover;
  }

  &[disabled],
  &[readonly] {
    color: @input-disabled-color;
    background-color: @input-disabled-background-color;
    opacity: 1;

    .m-placeholder(@input-disabled-color);
  }

  &[disabled] {
    cursor: @cursor-disabled;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

textarea.input {
  line-height: @line-height-sm;
  height: auto;
}

.search-box {
  display: flex;

  [type='button'] {
    .btn.btn-sm();
  }
}

.search-box--lg {
  [type='button'] {
    padding: @padding-base-vertical @padding-base-horizontal;
  }

  [type='search'] {
    .input--lg();
  }

  .search-box__input-addon-group {
    [class^='icon-'], [class*=' icon-'] {
      line-height: @input-height-lg - 2;
    }
  }
}

.search-box__input-addon-group {
  flex: 1;

  position: relative;

  margin-bottom: 0;
  margin-right: 5px;

  [type='search'] {
    padding-left: 35px;
  }

  [class*='icon-'] {
    line-height: @input-line-height;

    position: absolute;

    color: @rolling-stone;

    &:first-child {
      left: 10px;
    }
  }
}

.search-box__input-addon-group--has-feedback {
  [type='search'] {
    padding-right: 28px;
  }

  .input-feedback {
    top: 0;
    right: 5px;

    cursor: pointer;

    &.icon-close {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.input--sm {
  .m-input-size(@input-height-sm; 0; 0; @font-size-xs; @line-height-xs; @input-border-radius-sm);
  padding: 0px 10px 0px 8px;
}

.input--lg {
  .m-input-size(@input-height-lg; 0; 0; @font-size-lg; @line-height-lg; @input-border-radius-lg);
  padding: 0px 10px 0px 8px;
}
