//
// Labels
// --------------------------------------------------

.label {
    display: inline;
    font-weight: bold;
    line-height: 1;
    color: @white;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: @border-radius-xs;
    font-size: @font-size-xs;
    padding: @label-padding;
    text-transform: uppercase;
    &.label-success {
        background-color: @label-success-bg;
    }
    &.label-warning {
        background-color: @label-warning-bg;
    }
    &.label-danger {
        background-color: @label-danger-bg;
    }
    &.label-info {
        background-color: @label-info-bg;
    }
}
