// Modal
// -------------------------

body.modal-open {
  overflow: hidden;
}

.modal-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: @zIndex-8;
  opacity: 0;
  background: rgba(49, 55, 65, 0.8);
  transition: all @modal-animation-duration @modal-animation-function;
}

.modal.is-open + .modal-mask {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  z-index: @zIndex-9;
  font-size: @font-size-base;
  visibility: hidden;
  &.is-open {
    visibility: visible;
    .modal-box {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.modal-box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  padding: @modal-padding-outer;
  transform: translateY(@modal-animation-offset);
  opacity: 0;
  transition: all @modal-animation-duration @modal-animation-function;
  @media (min-width: @screen-sm) {
    width: @modal-width + 60;
  }
}

.modal-header {
  flex: 0 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: @mystic;
  color: @river-bed;
  padding: 21px @modal-padding-inner;
  position: relative;
  h3 {
    line-height: 1em;
  }
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
  color: @rolling-stone;
}

.modal-title {
  font-weight: normal;
  margin: 0;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body {
  margin-top: -1px;
  flex: 1 1 auto;
  display: block;
  overflow: auto;
  background-color: @white;
  padding: @modal-padding-inner;
  line-height: 1.5em;
}

.modal-footer {
  margin-top: -1px;
  text-align: right;
  flex: 0 0 auto;
  display: block;
  border-radius: 0 0 10px 10px;
  background-color: @white;
  padding: @modal-padding-inner;
  .btn + .btn {
    margin-left: 5px;
  }
}
