//
// Nav
// --------------------------------------------------

.nav {
  font-size: @font-size-sm;
  line-height: 1.125;

  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  background-color: @mystic;

  > li {
    position: relative;
    display: block;

    &.active {
      > a {
        color: @picton-blue;
        background-color: @white;

        &:hover {
          color: @picton-blue;
          background-color: @white;
          cursor: default;
        }

        [class^='icon-'] {
          color: @picton-blue;
        }
      }
    }

    > a {
      color: @river-bed;

      position: relative;

      display: block;

      padding: 13px 15px 15px 15px;

      &:hover {
        text-decoration: none;
        background-color: @picton-blue;
      }

      [class^='icon-'] {
        margin-right: 6px;
      }
    }
  }

  .nav {
    > li {
      > a {
        color: @picton-blue;

        padding: 8px 15px 10px 38px;

        &:hover {
          background-color: @picton-blue;
          color: @white;
        }
      }

      &.active {
        > a {
          color: @picton-blue;
          background-color: @white;
        }
      }
    }
  }
}

.nav--nosub {
  > li {
    > a {
      padding-left: 22px;
    }
  }
}

.nav--simple {
  background-color: @white;

  > li {
    > a {
      font-size: @font-size-sm;
      color: @link-color;

      padding: 4px 0 0 0;

      &:hover {
        text-decoration: underline;

        background: none;
      }
    }
  }
}
