//
// Pills
// --------------------------------------------------

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .btn {
    position: relative;
    float: left;

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: @zIndex-2;
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

  // Have the buttons in the middle as borderless
  > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

   > .btn:first-child {
      margin-left: 0;

      // We should consider the case when there is only one button in Pills
      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
   }

   // We should consider the case when there is only one button in Pills
   .btn:last-child:not(:first-child) {
      margin-right: 0;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    // Consider nested Pills
    // Removing the border radius for the buttons in the Pills of the middle
    > .btn-group:not(:first-child):not(:last-child) > .btn {
      border-radius: 0;
    }

    // Removing the right border radius for the last button of the first nested Pills
    .btn-group:first-child:not(:last-child) {
      > .btn:last-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    // Removing the left border radius for the first button of the last nested Pills
    > .btn-group:last-child:not(:first-child) {
      > .btn:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
}


// Pills sizing
.btn-group-xs > .btn { &:extend(.btn.btn-xs); }
.btn-group-sm > .btn { &:extend(.btn.btn-sm); margin-right: 2px; }
.btn-group-lg > .btn { &:extend(.btn.btn-lg); }
.btn-group-xl > .btn { &:extend(.btn.btn-xl); }

// Vertical pills
.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    display: block;
    float: none;

    width: 100%;
    max-width: 100%;
  }

  > .btn-group {
    &:extend(.u-clearfix all);

    > .btn {
      float: none;
    }
  }

  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
  }

  .btn {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    // We should consider the case when there is only one button in Pills
    &:first-child:not(:last-child) {
      border-top-left-radius: @btn-border-radius-base;
      border-top-right-radius: @btn-border-radius-base;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0
    }

    // We should consider the case when there is only one button in Pills
    &:last-child:not(:first-child) {
      border-top-leftradius: 0;
      border-top-right-radius: 0;

      border-bottom-left-radius: @btn-border-radius-base;
      border-bottom-right-radius: @btn-border-radius-base;
    }
  }

  // Removing the border radius for the buttons in the Pills of the middle
  > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }

  // Removing the bottom border radius for the last button of the first nested Pills
  > .btn-group:first-child:not(:last-child) {
      > .btn:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
  }

  // Removing the top border radius for the first button of the last nested Pills
  > .btn-group:last-child:not(:first-child) {
     > .btn:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
     }
  }
}

