.pop-up-menu {
  width: 50px;
  
  .flowout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    transition: transform 200ms linear;
    transform: translateX(-100vw);
    width: 100vw;

    &.shown {
      transform: none;
    }

    .header--tablet__aside-divider {
      width: calc(~"100% - 40px");
    }

    .flow-out__inner-wrapper {
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      padding-bottom: 80px;
    }
  
    .flow-out__inner-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .flow-out__place-holder{
      width: 50px;
      height: 50px;
    }
  }  
}

.pop-up-menu--left {
  .flowout {
    transform: translateX(-100vw);
  }
}

.pop-up-menu--right {
  .flowout {
    transform: translateX(100vw); 
  }
}

.pop-up-menu--top {
  .flowout {
    transform: translateY(-100vh);
  }
}

.pop-up-menu--bottom {
  .flowout {
    transform: translateY(100vh);
  }
}
