//
// Popover
// -------------

[data-popover-trigger] {
  position: relative;
  cursor: pointer;

  &:hover .popover {
    display: block;
  }
}

.popover {
  position: absolute;
  padding: 20px;
  background-color: @popover-background-color;
  border: 1px solid @popover-border-color;
  border-radius: @border-radius-lg;
  line-height: 1.5em;
  width: 276px;
  display: none;
  text-align: left;
  color: @river-bed;
  white-space: normal;
  z-index: @zIndex-9;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  // move the popover to correct position
  // 12px = the arrow's width(10px) + the spacing between popover and popover-trigger(2px)
  &.popover--e {
    left: ~"calc(100% + 12px)";
  }
  &.popover--w {
    right: ~"calc(100% + 12px)";
  }
  &.popover--s,
  &.popover--se,
  &.popover--sw {
    top: ~"calc(100% + 12px)";
  }
  &.popover--n,
  &.popover--ne,
  &.popover--nw {
    bottom: ~"calc(100% + 12px)";
  }

  // make the arrow centered
  // 28px = 20px + the arrow's height(8px)
  // 30px = 20px + the arrow's width(10px)
  &.popover--e,
  &.popover--w {
    top: 50%;
    transform: translate(0, -50%);
  }
  &.popover--ne,
  &.popover--se {
    left: ~"calc(50% - 30px)";
  }
  &.popover--n,
  &.popover--s {
    left: 50%;
    transform: translate(-50%, 0);
  }
  &.popover--nw,
  &.popover--sw {
    right: ~"calc(50% - 30px)";
  }

  // draw arrow and change its position
  // `popover--w`, `popover--n`, `popover--ne`, `popover--nw`, `popover--s`, `popover--se`, `popover--sw` and `popover--e` specify the direction of popover

  &.popover--e {
    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
      border-width: 8px 10px 8px 0;
    }
    &:before {
      left: -10px;
      border-color: transparent @popover-border-color transparent transparent;
    }
    &:after {
      left: -9px;
      border-color: transparent @popover-background-color transparent
        transparent;
    }
  }

  &.popover--w {
    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
      border-width: 8px 0 8px 10px;
    }
    &:before {
      right: -10px;
      border-color: transparent transparent transparent @popover-border-color;
    }
    &:after {
      right: -9px;
      border-color: transparent transparent transparent
        @popover-background-color;
    }
  }

  &[class*="popover--s"] {
    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 8px 10px 8px;
    }
    &:before {
      top: -10px;
      border-color: transparent transparent @popover-border-color transparent;
    }
    &:after {
      top: -9px;
      border-color: transparent transparent @popover-background-color
        transparent;
    }

    &.popover--se:before,
    &.popover--se:after {
      left: 20px;
    }

    &.popover--sw:before,
    &.popover--sw:after {
      left: initial;
      right: 20px;
    }
  }

  &[class*="popover--n"] {
    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
      border-width: 10px 8px 0 8px;
    }
    &:before {
      bottom: -10px;
      border-color: @popover-border-color transparent transparent transparent;
    }
    &:after {
      bottom: -9px;
      border-color: @popover-background-color transparent transparent
        transparent;
    }

    &.popover--ne:before,
    &.popover--ne:after {
      left: 20px;
    }

    &.popover--nw:before,
    &.popover--nw:after {
      left: initial;
      right: 20px;
    }
  }

  // content
  .popover__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "ProximaNova";
    padding: 0 0 5px 0;
    margin: 0;
  }
  .popover__content {
    padding: 10px 0 0 0;
    margin: 0;
  }

  // theme
  &.t-dark {
    background: @popover-background-color-dark;
    color: @popover-color-dark;

    .popover__title {
      color: @popover-color-dark;
    }
    &.popover--e:after {
      border-right-color: @popover-background-color-dark;
    }
    &.popover--w:after {
      border-left-color: @popover-background-color-dark;
    }
    &.popover--s:after,
    &.popover--se:after,
    &.popover--sw:after {
      border-bottom-color: @popover-background-color-dark;
    }
    &.popover--n:after,
    &.popover--ne:after,
    &.popover--nw:after {
      border-top-color: @popover-background-color-dark;
    }
  }
}
