//
// Radio
// --------------------------------------------------

.radio {
  input[type="radio"] {
    display: none;
    padding: 5px 5px 0 20px\9;
  }

  .radio__text,
  label {
    font-size:@radio-label-font-size-base;
    word-wrap: break-word;
    max-width: none\9;
    cursor: pointer;
    &:before
    {
        font-size:@radio-font-size-base;
        display: inline-block;
        width: @radio-size-base;
        height:@radio-size-base;
        line-height: @radio-line-height-base;
        margin-right: 10px;

        content: '';
        text-align: center;
        vertical-align: middle;

        color: @radio-checked-color;
        border: 1px solid @radio-border-color;
        background-color: @radio-background-color;
        border-radius: @radio-border-radius;
    }

    &:hover::before {
        border-color: darken(@radio-border-hover-color, 15%);
    }
  }
  input[type=radio]:checked + .radio__text::before,
  input[type=radio]:checked + label::before {
      font-size: @radio-font-size-base;
      content: '\2022';

      text-align: center;
      color: @radio-checked-color;
      border-color: darken(@radio-border-hover-color, 15%);
  }

  input[type=radio]:disabled + .radio__text::before,
  input[type=radio]:disabled + label::before {
      cursor: not-allowed;
      border-color: @radio-border-color;
      background-color: @radio-disabled-background-color;
  }

  input[type=radio]:disabled:checked + .radio__text::before,
  input[type=radio]:disabled:checked + label::before {
      cursor: not-allowed;
      border-color: @radio-border-color;
      background-color: @radio-disabled-background-color;
      color: @radio-disabled-checked-color;
  }

  &.radio--lg {
    >  .radio__text , label {
      font-size: @radio-label-font-size-lg;
      &:before {
          font-size: @radio-font-size-lg;
          height: @radio-size-lg;
          line-height: @radio-line-height-lg;
          width:  @radio-size-lg;
      }
    }
    input[type=radio]:checked + .radio__text::before,
    input[type=radio]:checked + label::before {
      font-size:@radio-font-size-lg;
    }
  }

  &.radio--sm {
    > .radio__text ,label{
        font-size: @radio-label-font-size-sm;

        &:before {
         font-size:@radio-font-size-sm;
         height: @radio-size-sm;
         width: @radio-size-sm;
         line-height: @radio-line-height-sm;
      }
    }
    input[type=radio]:checked + .radio__text::before,
    input[type=radio]:checked + label::before{
      font-size: @radio-font-size-sm;
   }
 }
}
