//
// Radio Group
// --------------------------------------------------

.radio-group {
  .radio + .radio {
    margin-left: 5px;
  }
}

.radio-group-vertical {
  .radio-wrapper,
  .radio {
    display: block;
  }

  .radio-wrapper + .radio-wrapper,
  .radio + .radio {
    margin-top: 5px;
    margin-left: 0;
  }
}
