// Table
// -------------------------

.table {
  color: @river-bed;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  line-height: @table-main-line-height;
  font-size: @table-main-font;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  margin-bottom: @table-bottom-margin;

  caption,
  th
  {
    // For IE8/9/10/11, the `th` tag vertically and horizontally centered
    // See http://stackoverflow.com/questions/11321065/th-text-align-compatibility
    text-align: left;
  }

  &.noMarginBottom {
    margin-bottom: 0;
  }

  .text-center {
    text-align: center;
  }


  &.table-hover {
    tbody {
      tr:hover {
          background-color: @mystic;
      }
    }
  }

  thead > tr > th,
  thead > tr > td,
  tbody > tr > th,
  tbody > tr > td,
  tfoot > tr > th,
  tfoot > tr > td {
     padding: @table-filed-padding;
     line-height: @table-filed-line-height;
     vertical-align: top;
     border-top: @table-main-border-top dotted @table-border-color-gray-lighter;
  }

  thead:first-child > tr:first-child > th,
  thead:first-child > tr:first-child > td {
    border-top: none;
  }

  thead {
    tr {
      th {
        cursor: pointer;
        font-weight: normal;
        text-transform: uppercase;
        white-space: nowrap;
        vertical-align: bottom;
        color: @rolling-stone;
        cursor: pointer;
        font-weight: normal;
        border-bottom: @table-main-border-bottom solid @table-border-color-gray;
      }

      .sort-icon::before {
        color: @table-sort-icon-color;
        background: none;
        font-family: aui_icons;
        margin-right: -20px;
        margin-top: 0px;
        display: block;
        float: right;
      }

      .sort-up::before {
        content: "\f0d8";
      }

      .sort-down::before {
        content: "\F0D7";
      }
    }
  }

  tfoot > tr > td {
    vertical-align: middle;

    border-top: 1px solid @gray-medium;

    &.total {
      font-size: @font-size-lg;
      font-weight: bold;

      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      td {
        font-size: @table-main-font;
        vertical-align: middle;
      }

      &:first-child {
        td {
            border-top: 0px;
        }
      }
    }

    tr.selected {
      background-color: @mystic;
    }

    tr:last-child {
      td {
        border-bottom: @table-main-border-bottom solid @table-border-color-gray;
      }
    }
  }
}
