//
// Tooltip
// -------------------------

.tooltips {
  position: relative;

  // This is the tooltip arrow
  &::before {
    position: absolute;
    z-index: @zIndex-9;
    display: none;
    width: 0;
    height: 0;
    color: @tooltip-background-color;
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
    opacity: 0;
  }

  // This is the tooltip bubble
  .tooltips__content {
    position: absolute;
    z-index: @zIndex-8;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 @font-family-base;
    color: @tooltip-text-color;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: @tooltip-background-color;
    border-radius: @border-radius-lg;
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 0;
  }

  // This will indicate when we will activate the tooltip
  &:hover,
  &:active,
  &:focus {
    &::before,
    .tooltips__content {
      display: inline-block;
      text-decoration: none;
      animation-name: tooltip-appear;
      animation-duration: @tooltip-duration;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: @tooltip-delay;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.tooltips--no-delay:hover,
.tooltips--no-delay:active,
.tooltips--no-delay:focus {
  &::before,
  .tooltips__content {
    opacity: 1;
    animation: none;
  }
}

.tooltips--multiline:hover,
.tooltips--multiline:active,
.tooltips--multiline:focus {
  .tooltips__content {
    display: table-cell;
  }
}

// tooltips south
.tooltips--s,
.tooltips--se,
.tooltips--sw {
  .tooltips__content {
    top: 100%;
    right: 50%;
    margin-top: 5px;
  }

  &::before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: @tooltip-background-color;
  }
}

.tooltips--se {
  .tooltips__content {
    right: auto;
    left: 50%;

    margin-left: -15px;
  }
}

.tooltips--sw {
  .tooltips__content {
    margin-right: -15px;
  }
}

// Tooltips above the object
.tooltips--n,
.tooltips--ne,
.tooltips--nw {
  .tooltips__content {
    right: 50%;
    bottom: 100%;

    margin-bottom: 5px;
  }

  &::before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: @tooltip-background-color;
  }
}

.tooltips--ne {
  .tooltips__content {
    right: auto;
    left: 50%;

    margin-left: -15px;
  }
}

.tooltips--nw {
  .tooltips__content {
    margin-right: -15px;
  }
}

// Move the tooltip body to the center of the object.
.tooltips--s,
.tooltips--n {
  .tooltips__content {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

// tooltips to the left
.tooltips--w {
  .tooltips__content {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }

  &::before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: @tooltip-background-color;
  }
}

// tooltips to the right
.tooltips--e {
  .tooltips__content {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }

  &::before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: @tooltip-background-color;
  }
}

// Multiline tooltips
//
// `.tooltips--multiline` Add this class when you have long content.
// The downside is you cannot preform at the text with newlines and `[w,e]`
// are always `@tooltip-max-width` wide.
.tooltips--multiline {
  .tooltips__content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: @tooltip-max-width;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate;
  }

  &.tooltips--s,
  &.tooltips--n {
    .tooltips__content {
      right: auto;
      left: 50%;

      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &.tooltips--w,
  &.tooltips--e {
    .tooltips__content {
      right: 100%;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // >= IE10 rule sets go here
  .tooltips--multiline__content {
    width: @tooltip-max-width;
  }
}

.tooltips.t-light {
  &::before {
    color: @tooltip-background-light-color;
  }

  .tooltips__content {
    color: @tooltip-text-light-color;
    background-color: @tooltip-background-light-color;
  }

  &.tooltips--s,
  &.tooltips--se,
  &.tooltips--sw {
    &::before {
      border-bottom-color: @tooltip-background-light-color;
    }
  }

  &.tooltips--n,
  &.tooltips--ne,
  &.tooltips--nw {
    &::before {
      border-top-color: @tooltip-background-light-color;
    }
  }

  &.tooltips--w {
    &::before {
      border-left-color: @tooltip-background-light-color;
    }
  }

  &.tooltips--e {
    &::before {
      border-right-color: @tooltip-background-light-color;
    }
  }
}
