.collapse-example {
  .an-collapse {
    margin-bottom: 30px;
    min-width: 940px;

    .self-button {
      cursor: pointer;
      margin-right: 20px;
    }
  }

  .aaui-flex {
    .afx-col {
      font-size: 16px;
    }
  }

  .step-item-button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button:first-child {
      margin-right: 20px;
    }
  }

  .self-collapse-header {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;

    .icon-box {
      position: relative;
      border: 2px solid @arrow-disabled-color;
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 24px;
      > i {
        position: absolute;
        top: 1px;
        left: 2px;
        font-size: @font-size-base;
        color: @arrow-disabled-color;
      }
    }
    .header-content {
      margin-left: 19px;
      width: 100%;

      &-title {
        font-size: 20px;
      }

      .custom-title {
        font-weight: normal;
      }

      .delete-container {
        text-align: right;

        i {
          font-size: 20px;
          color: @color-blue;
        }
      }
    }
  }

  .step-item-title {
    width: 100%;

    .change-custom {
      color: @color-blue;
      i {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}