@import '~shared/style/variables/index.less';

@input-width: 112px;

.refund-account {
  &__request {
    margin-left: 30px;
  }

  .input-group {
    width: @input-width;
  }

  .aaui-flexbox {
    justify-content: space-between;
  }

  & &-request {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px;
    background-color: @state-info-bg;

    &__dropdown {
      width: 200px;
    }

    &__label {
      padding-right: 20px;
      font-weight: @headings-font-weight;
    }

    &__other {
      width: 420px;
      height: 120px;
      padding: 8px;
      margin-top: 15px;
      border: solid 1px #ccc;
      border-radius: 3px;

      &--error {
        color: @state-danger-text;
        background-color: @state-danger-bg;
        border-color: @state-danger-border;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
  }
}
