@import '~shared/style/variables/index.less';
/* stylelint-disable */

.actions {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #fff;

  & > div {
    &:first-child {
      display: flex;
      height: 30px;

      .expiration-date {
        min-width: 230px;

        &-field-label {
          display: inline-block;
          margin-right: 8px;
          font-size: 16px;
          line-height: 28px;
        }

        &-value {
          display: inline-block;
          margin-right: 8px;
          line-height: 28px;

          &.is-expiration {
            color: @state-danger-text;
          }
        }

        &-field {
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          color: @color-blue;
        }
      }
    }

    &:last-child {
      text-align: right;
      height: 30px;

      .action-item {
        margin: 0 0 10px 8px;
      }
    }
  }

  .btn {
    min-height: 30px;
  }

  button {
    height: 30px;
    min-width: 0;
    min-height: 30px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
  }

  .action-item {
    align-items: center;
    width: auto;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
      text-decoration: none;
    }

    .aaui-dropdown .aaui-dropdown__menu li {
      font-size: 14px;
    }

    .aaui-button:disabled,
    .aaui-dropdown__button.is-disabled {
      font-size: 14px;

      &,
      .aaui-dropdown__button-text {
        cursor: default;
        color: @loblolly;
        background: @mystic;
        opacity: 1;
      }

      &,
      .icon-chevron-down:before {
        color: @loblolly;
      }

      &:hover {
        background-color: #e6eef1;
        border-color: #ddd;
      }
    }
  }

  .action-status {
    width: 165px;
    padding: 0;
    border: none;

    li {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .action-status {
    .aaui-dropdown__menu-wrapper {
      top: 30px;
    }
  }
}
