@error-bar-width: 650px;
/* stylelint-disable */

.error-bar {
  &-body {
    display: block;
    padding: 30px;
    line-height: 1.5em;
    background-color: #fff;
    border-radius: 0 0 10px 10px;

    .error {
      display: flex;
      padding: 0;
      background: #fff;
      border-color: #fff;

      &-content {
        padding-right: 30px;
        padding-left: 10px;
        vertical-align: top;

        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
        }
      }

      &-reload-btn {
        cursor: pointer;
        color: #009dd9;
      }

      .go-login-btn {
        position: absolute;
        top: 90px;
        right: 0;
      }
    }
  }

  &-button {
    float: right;
    margin-top: 15px;
  }

  .modal-box {
    width: @error-bar-width;
  }
}
