@import '~shared/style/variables/index.less';
@title-color: #313741;
@color-error: #d93a20;
@bg-color-orange: #ff6046;
@bg-color-error: #ffefed;

.emailPopup {
  .btn-strong {
    margin-right: 0;
  }

  &__grid {
    display: flex;
    margin-bottom: 15px;

    :last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    width: 123px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
  }

  &__item {
    &--prompt {
      color: @cyan-blue;
    }

    &--error {
      input,
      textarea {
        color: @color-error;
        background-color: @bg-color-error;
        border: 1px solid @bg-color-orange;
      }
    }

    textarea,
    .input-group {
      width: 447px;
    }

    textarea,
    input {
      font-size: 16px;
    }

    textarea {
      height: 90px;
    }

    input {
      padding-left: 8px;
    }
  }
}
