@import '~shared/style/variables/index.less';

.options {
  &.ms-tabbable {
    .an-tabbable {
      display: flex;
    }
  }

  &-option {
    display: flex;
    justify-content: space-between;
    width: 294px;
    padding: 8px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: @mystic;
    border: solid 2px @mystic;
    border-radius: 3px;

    > div {
      height: 24px;
      line-height: 1.5;
      color: @river-bed;

      i {
        padding: 4px;
      }
    }

    &:hover:not(.is-disabled):not(.options-option-selected) {
      background-color: darken(@btn-secondary-bg, 10%);
      border-color: darken(@btn-secondary-bg, 10%);
    }

    &-selected {
      > div {
        color: @cyan-blue;
      }

      background-color: @color-blue-lighter;
      border: solid 2px @cyan-blue;
    }

    &.is-disabled {
      box-shadow: none;
      opacity: 0.45;
    }

    &.is-disabled:hover {
      cursor: not-allowed;
    }
  }

  &-recurring {
    margin-top: 20px;

    &-checkbox {
      .checkbox__inner {
        margin-right: 10px;
      }
    }
  }
  // Fix issue that height change when checked checkbox under IE
  height: 240px;
}
