@import '~shared/style/variables/index.less';

.refund-prerequisite {
  margin-bottom: 20px;

  .prerequisite-warning {
    margin-bottom: 2px;
  }

  .override-field {
    padding: 14px 0;
    background-color: #fafafa;
    border: 2px solid @color-gray;

    &__label {
      width: 160px;
    }
  }
}
