/* stylelint-disable */

i.icon {
  font-size: 20px;
}

.aaui-dropdown,
.input-group__item {
  i.icon {
    font-size: 14px;
  }
}

// Icons
// --------------------------------------------------

@font-face {
  font-family: 'aui_icons';
  font-style: normal;
  font-weight: normal;
  src: url('~active.css/fonts/aui_icons.eot');
  src:
    url('~active.css/fonts/aui_icons.eot') format('embedded-opentype'),
    url('~active.css/fonts/aui_icons.woff2') format('woff2'),
    url('~active.css/fonts/aui_icons.woff') format('woff'),
    url('~active.css/fonts/aui_icons.ttf') format('truetype'),
    url('~active.css/fonts/aui_icons.svg#aui_icons') format('svg');
}

.icon {
  display: inline-block;
  font-family: 'aui_icons';

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  font-variant: normal;
}

.icon-normal-upload:before {
  content: '\e964';
}

.icon-search-thin:before {
  content: '\e962';
}

.icon-menu:before {
  content: '\e963';
}

.icon-running:before {
  content: '\e961';
}

.icon-group-add:before {
  content: '\e95d';
}

.icon-image-logo:before {
  content: '\e95e';
}

.icon-paint:before {
  content: '\e95f';
}

.icon-save:before {
  content: '\e960';
}

.icon-finish:before {
  content: '\e958';
}

.icon-pace:before {
  content: '\e959';
}

.icon-penalty:before {
  content: '\e95a';
}

.icon-rank:before {
  content: '\e95b';
}

.icon-speed:before {
  content: '\e95c';
}

.icon-alipay:before {
  color: #00a9f1;
  content: '\e956';
}

.icon-wechat:before {
  color: #00bd00;
  content: '\e957';
}

.icon-apple-pay:before {
  content: '\e948';
}

.icon-cc-credit-card:before {
  color: #555;
  content: '\e949';
}

.icon-electronic-check:before {
  color: #555;
  content: '\e94a';
}

.icon-online-payment .path1:before {
  color: rgb(85, 85, 85);
  content: '\e94b';
}

.icon-online-payment .path2:before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e94c';
}

.icon-online-payment .path3:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e94d';
}

.icon-online-payment .path4:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e94e';
}

.icon-online-payment .path5:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e94f';
}

.icon-online-payment .path6:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e950';
}

.icon-online-payment .path7:before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e951';
}

.icon-online-payment .path8:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e952';
}

.icon-online-payment .path9:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e953';
}

.icon-online-payment .path10:before {
  margin-left: -1em;
  color: rgb(85, 85, 85);
  content: '\e954';
}

.icon-visa-checkout:before {
  color: #555;
  content: '\e955';
}

.icon-bag:before {
  content: '\e947';
}

.icon-transfer:before {
  content: '\e941';
}

.icon-add-circle-outline:before {
  content: '\e92e';
}

.icon-add-circle:before {
  content: '\e92f';
}

.icon-add:before {
  content: '\e930';
}

.icon-angle-down-thin:before {
  content: '\e931';
}

.icon-arrow-drop-down:before {
  content: '\e932';
}

.icon-arrow-drop-up:before {
  content: '\e933';
}

.icon-angle-left-thin:before {
  content: '\e934';
}

.icon-angle-right-thin:before {
  content: '\e935';
}

.icon-angle-up-thin:before {
  content: '\e936';
}

.icon-cancel-circle:before {
  content: '\e937';
}

.icon-check-thin:before {
  content: '\e938';
}

.icon-circle-outline:before {
  content: '\e939';
}

.icon-clock-dark:before {
  content: '\e93a';
}

.icon-clock-thin:before {
  content: '\e93b';
}

.icon-close-thin:before {
  content: '\e93c';
}

.icon-date-range:before {
  content: '\e93d';
}

.icon-event:before {
  content: '\e93e';
}

.icon-file3:before {
  content: '\e93f';
}

.icon-group-thin:before {
  content: '\e940';
}

.icon-remove-thin:before {
  content: '\e942';
}

.icon-send:before {
  content: '\e943';
}

.icon-share:before {
  content: '\e944';
}

.icon-sms:before {
  content: '\e945';
}

.icon-user-thin:before {
  content: '\e946';
}

.icon-filter-list:before {
  content: '\e92c';
}

.icon-list-sort:before {
  content: '\e92d';
}

.icon-account-circle:before {
  content: '\eae1';
}

.icon-business:before {
  content: '\eae4';
}

.icon-telephone:before {
  content: '\eaf9';
}

.icon-remove:before {
  content: '\e926';
}

.icon-error-circle-outline:before {
  content: '\e922';
}

.icon-help-circle-outline:before {
  content: '\e923';
}

.icon-open-in-new:before {
  content: '\e924';
}

.icon-world:before {
  content: '\e925';
}

.icon-email:before {
  content: '\e920';
}

.icon-location:before {
  content: '\e921';
}

.icon-lock-with-hole:before {
  content: '\e91e';
}

.icon-settings:before {
  content: '\e91f';
}

.icon-reader-low:before {
  content: '\e916';
}

.icon-reader-off:before {
  content: '\e917';
}

.icon-reader:before {
  content: '\e918';
}

.icon-remove-circle-o:before {
  content: '\e919';
}

.icon-remove-circle:before {
  content: '\e91a';
}

.icon-trash3:before {
  content: '\e91b';
}

.icon-battery-outline:before {
  content: '\e91c';
}

.icon-battery:before {
  content: '\e91d';
}

.icon-cloud:before {
  content: '\e000';
}

.icon-cloud-sun:before {
  content: '\e001';
}

.icon-cloud-moon:before {
  content: '\e002';
}

.icon-cloud-rain:before {
  content: '\e003';
}

.icon-cloud-sun-rain:before {
  content: '\e004';
}

.icon-cloud-moon-rain:before {
  content: '\e005';
}

.icon-cloud-showers:before {
  content: '\e006';
}

.icon-cloud-sun-showers:before {
  content: '\e007';
}

.icon-cloud-moon-showers:before {
  content: '\e008';
}

.icon-cloud-downpour:before {
  content: '\e009';
}

.icon-cloud-sun-downpour:before {
  content: '\e00a';
}

.icon-cloud-moon-downpour:before {
  content: '\e00b';
}

.icon-cloud-drizzle:before {
  content: '\e00c';
}

.icon-cloud-sun-drizzle:before {
  content: '\e00d';
}

.icon-cloud-moon-drizzle:before {
  content: '\e00e';
}

.icon-cloud-sleet:before {
  content: '\e00f';
}

.icon-cloud-sun-sleet:before {
  content: '\e010';
}

.icon-cloud-moon-sleet:before {
  content: '\e011';
}

.icon-cloud-hail:before {
  content: '\e012';
}

.icon-cloud-sun-hail:before {
  content: '\e013';
}

.icon-cloud-moon-hail:before {
  content: '\e014';
}

.icon-cloud-flurries:before {
  content: '\e015';
}

.icon-cloud-sun-flurries:before {
  content: '\e016';
}

.icon-cloud-moon-flurries:before {
  content: '\e017';
}

.icon-cloud-snow:before {
  content: '\e018';
}

.icon-cloud-sun-snow:before {
  content: '\e019';
}

.icon-cloud-moon-snow:before {
  content: '\e01a';
}

.icon-cloud-fog:before {
  content: '\e01b';
}

.icon-cloud-sun-fog:before {
  content: '\e01c';
}

.icon-cloud-moon-fog:before {
  content: '\e01d';
}

.icon-cloud-haze:before {
  content: '\e01e';
}

.icon-cloud-sun-haze:before {
  content: '\e01f';
}

.icon-cloud-moon-haze:before {
  content: '\e020';
}

.icon-wind:before {
  content: '\e021';
}

.icon-cloud-wind:before {
  content: '\e022';
}

.icon-cloud-sun-wind:before {
  content: '\e023';
}

.icon-cloud-moon-wind:before {
  content: '\e024';
}

.icon-cloud-lightning:before {
  content: '\e025';
}

.icon-cloud-sun-lightning:before {
  content: '\e026';
}

.icon-cloud-moon-lightning:before {
  content: '\e027';
}

.icon-sun:before {
  content: '\e028';
}

.icon-sunset-sun-down:before {
  content: '\e029';
}

.icon-sunrise-sun-up:before {
  content: '\e02a';
}

.icon-sun-low:before {
  content: '\e02b';
}

.icon-sun-lower:before {
  content: '\e02c';
}

.icon-moon:before {
  content: '\e02d';
}

.icon-moon-new:before {
  content: '\e02e';
}

.icon-moon-waxing-crescent:before {
  content: '\e02f';
}

.icon-moon-first-quarter:before {
  content: '\e030';
}

.icon-moon-waxing-gibbous:before {
  content: '\e031';
}

.icon-moon-full:before {
  content: '\e032';
}

.icon-moon-waning-gibbous:before {
  content: '\e033';
}

.icon-moon-last-quarter:before {
  content: '\e034';
}

.icon-moon-waning-crescent:before {
  content: '\e035';
}

.icon-snowflake:before {
  content: '\e036';
}

.icon-tornado:before {
  content: '\e037';
}

.icon-thermometer-empty:before {
  content: '\e038';
}

.icon-thermometer-low:before {
  content: '\e039';
}

.icon-thermometer-medium-low:before {
  content: '\e03a';
}

.icon-thermometer-medium-high:before {
  content: '\e03b';
}

.icon-thermometer-high:before {
  content: '\e03c';
}

.icon-thermometer-full:before {
  content: '\e03d';
}

.icon-degrees-celcius:before {
  content: '\e03e';
}

.icon-degrees-farenheit:before {
  content: '\e03f';
}

.icon-compass:before {
  content: '\e040';
}

.icon-compass-north:before {
  content: '\e041';
}

.icon-compass-east:before {
  content: '\e042';
}

.icon-compass-south:before {
  content: '\e043';
}

.icon-compass-west:before {
  content: '\e044';
}

.icon-umbrella:before {
  content: '\e045';
}

.icon-sunglasses:before {
  content: '\e046';
}

.icon-cloud-cycle-refresh:before {
  content: '\e047';
}

.icon-cloud-down-download:before {
  content: '\e048';
}

.icon-cloud-up-upload:before {
  content: '\e049';
}

.icon-youtube-rounded:before {
  content: '\e600';
}

.icon-twitter-rounded:before {
  content: '\e601';
}

.icon-tumblr-rounded:before {
  content: '\e602';
}

.icon-pinterest-rounded:before {
  content: '\e603';
}

.icon-linkedin-rounded:before {
  content: '\e604';
}

.icon-instagram-rounded:before {
  content: '\e605';
}

.icon-google-rounded:before {
  content: '\e606';
}

.icon-flickr-rounded:before {
  content: '\e607';
}

.icon-facebook-rounded:before {
  content: '\e608';
}

.icon-amazon-rounded:before {
  content: '\e609';
}

.icon-youtube:before {
  content: '\e60a';
}

.icon-twitter:before {
  content: '\e60b';
}

.icon-tumblr:before {
  content: '\e60c';
}

.icon-pinterest:before {
  content: '\e60d';
}

.icon-linkedin:before {
  content: '\e60e';
}

.icon-instagram:before {
  content: '\e60f';
}

.icon-google:before {
  content: '\e610';
}

.icon-flickr:before {
  content: '\e611';
}

.icon-facebook:before {
  content: '\e612';
}

.icon-amazon:before {
  content: '\e613';
}

.icon-vimeo:before {
  content: '\e614';
}

.icon-vimeo-rounded:before {
  content: '\e615';
}

.icon-foursquare2:before {
  content: '\e616';
}

.icon-foursquare-rounded:before {
  content: '\e617';
}

.icon-credit-card-m:before {
  content: '\e900';
}

.icon-echeck-m:before {
  content: '\e901';
}

.icon-clock-m:before {
  content: '\e902';
}

.icon-loading-m:before {
  content: '\e903';
}

.icon-repeat-m:before {
  content: '\e904';
}

.icon-calendar-add-m:before {
  content: '\e905';
}

.icon-calendar-m:before {
  content: '\e906';
}

.icon-cart-m:before {
  content: '\e907';
}

.icon-people-m:before {
  content: '\e908';
}

.icon-delete-m:before {
  content: '\e909';
}

.icon-trash:before {
  content: '\e909';
}

.icon-list-m:before {
  content: '\e90a';
}

.icon-sign-m:before {
  content: '\e90b';
}

.icon-ex-link-m:before {
  content: '\e90c';
}

.icon-edit-m:before {
  content: '\e90d';
}

.icon-file-solid-m:before {
  content: '\e90e';
}

.icon-split-m:before {
  content: '\e90f';
}

.icon-file-m:before {
  content: '\e910';
}

.icon-file-general-m:before {
  content: '\e911';
}

.icon-conflict:before {
  content: '\e912';
}

.icon-hourglass-end:before {
  content: '\e913';
}

.icon-empty-cart:before {
  content: '\e914';
}

.icon-http-503:before {
  content: '\e915';
}

.icon-glass:before {
  content: '\f000';
}

.icon-music:before {
  content: '\f001';
}

.icon-search:before {
  content: '\f002';
}

.icon-e-mail:before {
  content: '\f003';
}

.icon-mail:before {
  content: '\f003';
}

.icon-heart:before {
  content: '\f004';
}

.icon-star-full:before {
  content: '\f005';
}

.icon-star:before {
  content: '\f005';
}

.icon-star-empty:before {
  content: '\f006';
}

.icon-star-o:before {
  content: '\f006';
}

.icon-user:before {
  content: '\f007';
}

.icon-account:before {
  content: '\f007';
}

.icon-film:before {
  content: '\f008';
}

.icon-grid-large:before {
  content: '\f009';
}

.icon-grid-small:before {
  content: '\f00a';
}

.icon-list:before {
  content: '\f00b';
}

.icon-check:before {
  content: '\f00c';
}

.icon-close:before {
  content: '\f00d';
}

.icon-zoom-in:before {
  content: '\f00e';
}

.icon-search-plus:before {
  content: '\f00e';
}

.icon-zoom-out:before {
  content: '\f010';
}

.icon-search-minus:before {
  content: '\f010';
}

.icon-power-off:before {
  content: '\f011';
}

.icon-signal:before {
  content: '\f012';
}

.icon-cog:before {
  content: '\f013';
}

.icon-trash2:before {
  content: '\f014';
}

.icon-home:before {
  content: '\f015';
}

.icon-file:before {
  content: '\f016';
}

.icon-clock:before {
  content: '\f017';
}

.icon-road:before {
  content: '\f018';
}

.icon-download:before {
  content: '\f019';
}

.icon-arrow-circle-o-down:before {
  content: '\f01a';
}

.icon-arrow-circle-o-up:before {
  content: '\f01b';
}

.icon-inbox:before {
  content: '\f01c';
}

.icon-play-circle-o:before {
  content: '\f01d';
}

.icon-repeat:before {
  content: '\f01e';
}

.icon-refresh:before {
  content: '\f021';
}

.icon-list-alt:before {
  content: '\f022';
}

.icon-lock:before {
  content: '\f023';
}

.icon-flag:before {
  content: '\f024';
}

.icon-headphones:before {
  content: '\f025';
}

.icon-volume-off:before {
  content: '\f026';
}

.icon-volume-down:before {
  content: '\f027';
}

.icon-volume-up:before {
  content: '\f028';
}

.icon-qrcode:before {
  content: '\f029';
}

.icon-barcode:before {
  content: '\f02a';
}

.icon-tag:before {
  content: '\f02b';
}

.icon-tags:before {
  content: '\f02c';
}

.icon-book:before {
  content: '\f02d';
}

.icon-bookmark:before {
  content: '\f02e';
}

.icon-print:before {
  content: '\f02f';
}

.icon-camera:before {
  content: '\f030';
}

.icon-font:before {
  content: '\f031';
}

.icon-bold:before {
  content: '\f032';
}

.icon-italic:before {
  content: '\f033';
}

.icon-text-height:before {
  content: '\f034';
}

.icon-text-width:before {
  content: '\f035';
}

.icon-align-left:before {
  content: '\f036';
}

.icon-align-center:before {
  content: '\f037';
}

.icon-align-right:before {
  content: '\f038';
}

.icon-align-justify:before {
  content: '\f039';
}

.icon-list2:before {
  content: '\f03a';
}

.icon-dedent:before {
  content: '\f03b';
}

.icon-indent:before {
  content: '\f03c';
}

.icon-video-camera:before {
  content: '\f03d';
}

.icon-image:before {
  content: '\f03e';
}

.icon-pencil:before {
  content: '\f040';
}

.icon-map-marker:before {
  content: '\f041';
}

.icon-adjust:before {
  content: '\f042';
}

.icon-tint:before {
  content: '\f043';
}

.icon-edit:before {
  content: '\f044';
}

.icon-share-square-o:before {
  content: '\f045';
}

.icon-check-square-o:before {
  content: '\f046';
}

.icon-arrows:before {
  content: '\f047';
}

.icon-step-backward:before {
  content: '\f048';
}

.icon-fast-backward:before {
  content: '\f049';
}

.icon-backward:before {
  content: '\f04a';
}

.icon-play:before {
  content: '\f04b';
}

.icon-pause:before {
  content: '\f04c';
}

.icon-stop:before {
  content: '\f04d';
}

.icon-forward:before {
  content: '\f04e';
}

.icon-fast-forward:before {
  content: '\f050';
}

.icon-step-forward:before {
  content: '\f051';
}

.icon-eject:before {
  content: '\f052';
}

.icon-chevron-left:before {
  content: '\f053';
}

.icon-chevron-right:before {
  content: '\f054';
}

.icon-plus-circle:before {
  content: '\f055';
}

.icon-minus-circle:before {
  content: '\f056';
}

.icon-times-circle:before {
  content: '\f057';
}

.icon-check-circle:before {
  content: '\f058';
}

.icon-question-circle:before {
  content: '\f059';
}

.icon-info-circle:before {
  content: '\f05a';
}

.icon-crosshairs:before {
  content: '\f05b';
}

.icon-times-circle-o:before {
  content: '\f05c';
}

.icon-check-circle-o:before {
  content: '\f05d';
}

.icon-ban:before {
  content: '\f05e';
}

.icon-arrow-left:before {
  content: '\f060';
}

.icon-arrow-right:before {
  content: '\f061';
}

.icon-arrow-up:before {
  content: '\f062';
}

.icon-arrow-down:before {
  content: '\f063';
}

.icon-mail-forward:before {
  content: '\f064';
}

.icon-expand:before {
  content: '\f065';
}

.icon-compress:before {
  content: '\f066';
}

.icon-plus:before {
  content: '\f067';
}

.icon-minus:before {
  content: '\f068';
}

.icon-asterisk:before {
  content: '\f069';
}

.icon-exclamation-circle:before {
  content: '\f06a';
}

.icon-gift:before {
  content: '\f06b';
}

.icon-leaf:before {
  content: '\f06c';
}

.icon-fire:before {
  content: '\f06d';
}

.icon-eye:before {
  content: '\f06e';
}

.icon-eye-slash:before {
  content: '\f070';
}

.icon-exclamation-triangle:before {
  content: '\f071';
}

.icon-plane:before {
  content: '\f072';
}

.icon-calendar:before {
  content: '\f073';
}

.icon-random:before {
  content: '\f074';
}

.icon-comment:before {
  content: '\f075';
}

.icon-magnet:before {
  content: '\f076';
}

.icon-chevron-up:before {
  content: '\f077';
}

.icon-chevron-down:before {
  content: '\f078';
}

.icon-retweet:before {
  content: '\f079';
}

.icon-shopping-cart:before {
  content: '\f07a';
}

.icon-folder:before {
  content: '\f07b';
}

.icon-folder-open:before {
  content: '\f07c';
}

.icon-arrows-v:before {
  content: '\f07d';
}

.icon-arrows-h:before {
  content: '\f07e';
}

.icon-bar-chart:before {
  content: '\f080';
}

.icon-camera-retro:before {
  content: '\f083';
}

.icon-key:before {
  content: '\f084';
}

.icon-cogs:before {
  content: '\f085';
}

.icon-comments:before {
  content: '\f086';
}

.icon-thumbs-o-up:before {
  content: '\f087';
}

.icon-thumbs-o-down:before {
  content: '\f088';
}

.icon-star-half:before {
  content: '\f089';
}

.icon-heart-o:before {
  content: '\f08a';
}

.icon-sign-out:before {
  content: '\f08b';
}

.icon-thumb-tack:before {
  content: '\f08d';
}

.icon-external-link:before {
  content: '\f08e';
}

.icon-sign-in:before {
  content: '\f090';
}

.icon-trophy:before {
  content: '\f091';
}

.icon-github-square:before {
  content: '\f092';
}

.icon-upload:before {
  content: '\f093';
}

.icon-lemon-o:before {
  content: '\f094';
}

.icon-phone:before {
  content: '\f095';
}

.icon-square-o:before {
  content: '\f096';
}

.icon-bookmark-o:before {
  content: '\f097';
}

.icon-phone-square:before {
  content: '\f098';
}

.icon-github:before {
  content: '\f09b';
}

.icon-unlock:before {
  content: '\f09c';
}

.icon-credit-card:before {
  content: '\f09d';
}

.icon-feed:before {
  content: '\f09e';
}

.icon-hdd-o:before {
  content: '\f0a0';
}

.icon-bullhorn:before {
  content: '\f0a1';
}

.icon-bell-o:before {
  content: '\f0a2';
}

.icon-certificate:before {
  content: '\f0a3';
}

.icon-hand-o-right:before {
  content: '\f0a4';
}

.icon-hand-o-left:before {
  content: '\f0a5';
}

.icon-hand-o-up:before {
  content: '\f0a6';
}

.icon-hand-o-down:before {
  content: '\f0a7';
}

.icon-arrow-circle-left:before {
  content: '\f0a8';
}

.icon-arrow-circle-right:before {
  content: '\f0a9';
}

.icon-arrow-circle-up:before {
  content: '\f0aa';
}

.icon-arrow-circle-down:before {
  content: '\f0ab';
}

.icon-globe:before {
  content: '\f0ac';
}

.icon-wrench:before {
  content: '\f0ad';
}

.icon-tasks:before {
  content: '\f0ae';
}

.icon-filter:before {
  content: '\f0b0';
}

.icon-briefcase:before {
  content: '\f0b1';
}

.icon-arrows-alt:before {
  content: '\f0b2';
}

.icon-group:before {
  content: '\f0c0';
}

.icon-chain:before {
  content: '\f0c1';
}

.icon-cloud2:before {
  content: '\f0c2';
}

.icon-flask:before {
  content: '\f0c3';
}

.icon-cut:before {
  content: '\f0c4';
}

.icon-copy:before {
  content: '\f0c5';
}

.icon-paperclip:before {
  content: '\f0c6';
}

.icon-floppy-o:before {
  content: '\f0c7';
}

.icon-square:before {
  content: '\f0c8';
}

.icon-bars:before {
  content: '\f0c9';
}

.icon-list-ul:before {
  content: '\f0ca';
}

.icon-list-ol:before {
  content: '\f0cb';
}

.icon-strikethrough:before {
  content: '\f0cc';
}

.icon-underline:before {
  content: '\f0cd';
}

.icon-table:before {
  content: '\f0ce';
}

.icon-magic:before {
  content: '\f0d0';
}

.icon-truck:before {
  content: '\f0d1';
}

.icon-money:before {
  content: '\f0d6';
}

.icon-caret-down:before {
  content: '\f0d7';
}

.icon-caret-up:before {
  content: '\f0d8';
}

.icon-caret-left:before {
  content: '\f0d9';
}

.icon-caret-right:before {
  content: '\f0da';
}

.icon-columns:before {
  content: '\f0db';
}

.icon-sort:before {
  content: '\f0dc';
}

.icon-sort-desc:before {
  content: '\f0dd';
}

.icon-sort-asc:before {
  content: '\f0de';
}

.icon-envelope:before {
  content: '\f0e0';
}

.icon-rotate-left:before {
  content: '\f0e2';
}

.icon-gavel:before {
  content: '\f0e3';
}

.icon-dashboard:before {
  content: '\f0e4';
}

.icon-comment-o:before {
  content: '\f0e5';
}

.icon-comments-o:before {
  content: '\f0e6';
}

.icon-bolt:before {
  content: '\f0e7';
}

.icon-sitemap:before {
  content: '\f0e8';
}

.icon-umbrella2:before {
  content: '\f0e9';
}

.icon-clipboard:before {
  content: '\f0ea';
}

.icon-lightbulb-o:before {
  content: '\f0eb';
}

.icon-exchange:before {
  content: '\f0ec';
}

.icon-cloud-download:before {
  content: '\f0ed';
}

.icon-cloud-upload:before {
  content: '\f0ee';
}

.icon-user-md:before {
  content: '\f0f0';
}

.icon-stethoscope:before {
  content: '\f0f1';
}

.icon-suitcase:before {
  content: '\f0f2';
}

.icon-bell:before {
  content: '\f0f3';
}

.icon-coffee:before {
  content: '\f0f4';
}

.icon-cutlery:before {
  content: '\f0f5';
}

.icon-file-text-o:before {
  content: '\f0f6';
}

.icon-building-o:before {
  content: '\f0f7';
}

.icon-hospital-o:before {
  content: '\f0f8';
}

.icon-ambulance:before {
  content: '\f0f9';
}

.icon-medkit:before {
  content: '\f0fa';
}

.icon-fighter-jet:before {
  content: '\f0fb';
}

.icon-beer:before {
  content: '\f0fc';
}

.icon-h-square:before {
  content: '\f0fd';
}

.icon-plus-square:before {
  content: '\f0fe';
}

.icon-angle-double-left:before {
  content: '\f100';
}

.icon-angle-double-right:before {
  content: '\f101';
}

.icon-angle-double-up:before {
  content: '\f102';
}

.icon-angle-double-down:before {
  content: '\f103';
}

.icon-angle-left:before {
  content: '\f104';
}

.icon-angle-right:before {
  content: '\f105';
}

.icon-angle-up:before {
  content: '\f106';
}

.icon-angle-down:before {
  content: '\f107';
}

.icon-desktop:before {
  content: '\f108';
}

.icon-laptop:before {
  content: '\f109';
}

.icon-tablet:before {
  content: '\f10a';
}

.icon-mobile:before {
  content: '\f10b';
}

.icon-circle-o:before {
  content: '\f10c';
}

.icon-quote-left:before {
  content: '\f10d';
}

.icon-quote-right:before {
  content: '\f10e';
}

.icon-spinner:before {
  content: '\f110';
}

.icon-circle:before {
  content: '\f111';
}

.icon-mail-reply:before {
  content: '\f112';
}

.icon-github-alt:before {
  content: '\f113';
}

.icon-folder-o:before {
  content: '\f114';
}

.icon-folder-open-o:before {
  content: '\f115';
}

.icon-smile-o:before {
  content: '\f118';
}

.icon-frown-o:before {
  content: '\f119';
}

.icon-meh-o:before {
  content: '\f11a';
}

.icon-gamepad:before {
  content: '\f11b';
}

.icon-keyboard-o:before {
  content: '\f11c';
}

.icon-flag-o:before {
  content: '\f11d';
}

.icon-flag-checkered:before {
  content: '\f11e';
}

.icon-terminal:before {
  content: '\f120';
}

.icon-code:before {
  content: '\f121';
}

.icon-mail-reply-all:before {
  content: '\f122';
}

.icon-star-half-empty:before {
  content: '\f123';
}

.icon-location-arrow:before {
  content: '\f124';
}

.icon-crop:before {
  content: '\f125';
}

.icon-code-fork:before {
  content: '\f126';
}

.icon-chain-broken:before {
  content: '\f127';
}

.icon-question:before {
  content: '\f128';
}

.icon-information:before {
  content: '\f129';
}

.icon-exclamation:before {
  content: '\f12a';
}

.icon-superscript:before {
  content: '\f12b';
}

.icon-subscript:before {
  content: '\f12c';
}

.icon-eraser:before {
  content: '\f12d';
}

.icon-puzzle-piece:before {
  content: '\f12e';
}

.icon-microphone:before {
  content: '\f130';
}

.icon-microphone-slash:before {
  content: '\f131';
}

.icon-shield:before {
  content: '\f132';
}

.icon-calendar-o:before {
  content: '\f133';
}

.icon-fire-extinguisher:before {
  content: '\f134';
}

.icon-rocket:before {
  content: '\f135';
}

.icon-maxcdn:before {
  content: '\f136';
}

.icon-chevron-circle-left:before {
  content: '\f137';
}

.icon-chevron-circle-right:before {
  content: '\f138';
}

.icon-chevron-circle-up:before {
  content: '\f139';
}

.icon-chevron-circle-down:before {
  content: '\f13a';
}

.icon-html5:before {
  content: '\f13b';
}

.icon-css3:before {
  content: '\f13c';
}

.icon-anchor:before {
  content: '\f13d';
}

.icon-unlock-alt:before {
  content: '\f13e';
}

.icon-bullseye:before {
  content: '\f140';
}

.icon-ellipsis-h:before {
  content: '\f141';
}

.icon-ellipsis-v:before {
  content: '\f142';
}

.icon-rss-square:before {
  content: '\f143';
}

.icon-play-circle:before {
  content: '\f144';
}

.icon-ticket:before {
  content: '\f145';
}

.icon-minus-square:before {
  content: '\f146';
}

.icon-minus-square-o:before {
  content: '\f147';
}

.icon-level-up:before {
  content: '\f148';
}

.icon-level-down:before {
  content: '\f149';
}

.icon-check-square:before {
  content: '\f14a';
}

.icon-pencil-square:before {
  content: '\f14b';
}

.icon-external-link-square:before {
  content: '\f14c';
}

.icon-share-square:before {
  content: '\f14d';
}

.icon-compass2:before {
  content: '\f14e';
}

.icon-caret-square-o-down:before {
  content: '\f150';
}

.icon-caret-square-o-up:before {
  content: '\f151';
}

.icon-caret-square-o-right:before {
  content: '\f152';
}

.icon-eur:before {
  content: '\f153';
}

.icon-gbp:before {
  content: '\f154';
}

.icon-dollar:before {
  content: '\f155';
}

.icon-inr:before {
  content: '\f156';
}

.icon-cny:before {
  content: '\f157';
}

.icon-rouble:before {
  content: '\f158';
}

.icon-krw:before {
  content: '\f159';
}

.icon-bitcoin:before {
  content: '\f15a';
}

.icon-file2:before {
  content: '\f15b';
}

.icon-file-text:before {
  content: '\f15c';
}

.icon-sort-alpha-asc:before {
  content: '\f15d';
}

.icon-sort-alpha-desc:before {
  content: '\f15e';
}

.icon-sort-amount-asc:before {
  content: '\f160';
}

.icon-sort-amount-desc:before {
  content: '\f161';
}

.icon-sort-numeric-asc:before {
  content: '\f162';
}

.icon-sort-numeric-desc:before {
  content: '\f163';
}

.icon-thumbs-up:before {
  content: '\f164';
}

.icon-thumbs-down:before {
  content: '\f165';
}

.icon-xing:before {
  content: '\f168';
}

.icon-xing-square:before {
  content: '\f169';
}

.icon-youtube-play:before {
  content: '\f16a';
}

.icon-dropbox:before {
  content: '\f16b';
}

.icon-stack-overflow:before {
  content: '\f16c';
}

.icon-adn:before {
  content: '\f170';
}

.icon-bitbucket:before {
  content: '\f171';
}

.icon-bitbucket-square:before {
  content: '\f172';
}

.icon-long-arrow-down:before {
  content: '\f175';
}

.icon-long-arrow-up:before {
  content: '\f176';
}

.icon-long-arrow-left:before {
  content: '\f177';
}

.icon-long-arrow-right:before {
  content: '\f178';
}

.icon-dribbble:before {
  content: '\f17d';
}

.icon-foursquare:before {
  content: '\f180';
}

.icon-trello:before {
  content: '\f181';
}

.icon-female:before {
  content: '\f182';
}

.icon-male:before {
  content: '\f183';
}

.icon-gittip:before {
  content: '\f184';
}

.icon-sun-o:before {
  content: '\f185';
}

.icon-moon-o:before {
  content: '\f186';
}

.icon-archive:before {
  content: '\f187';
}

.icon-bug:before {
  content: '\f188';
}

.icon-vk:before {
  content: '\f189';
}

.icon-weibo:before {
  content: '\f18a';
}

.icon-renren:before {
  content: '\f18b';
}

.icon-pagelines:before {
  content: '\f18c';
}

.icon-stack-exchange:before {
  content: '\f18d';
}

.icon-arrow-circle-o-right:before {
  content: '\f18e';
}

.icon-arrow-circle-o-left:before {
  content: '\f190';
}

.icon-caret-square-o-left:before {
  content: '\f191';
}

.icon-dot-circle-o:before {
  content: '\f192';
}

.icon-wheelchair:before {
  content: '\f193';
}

.icon-try:before {
  content: '\f195';
}

.icon-plus-square-o:before {
  content: '\f196';
}

.icon-bank:before {
  content: '\f19c';
}

.icon-institution:before {
  content: '\f19c';
}

.icon-university:before {
  content: '\f19c';
}

.icon-cc-visa:before {
  content: '\f1f0';
}

.icon-cc-mastercard:before {
  content: '\f1f1';
}

.icon-cc-discover:before {
  content: '\f1f2';
}

.icon-cc-amex:before {
  content: '\f1f3';
}

.icon-cc-paypal:before {
  content: '\f1f4';
}

.icon-cc-stripe:before {
  content: '\f1f5';
}

.icon-cc-jcb:before {
  content: '\f24b';
}

.icon-cc-diners-club:before {
  content: '\f24c';
}

.icon-check-circle-thin:before {
  content: '\e927';
}

.icon-signal-cellular-full:before {
  content: '\e928';
}

.icon-signal-cellular-low:before {
  content: '\e929';
}

.icon-signal-cellular-null:before {
  content: '\e92a';
}

.icon-signal-cellular-off:before {
  content: '\e92b';
}
