@import './variables/index.less';
/* stylelint-disable */

// links
a,
.link {
  text-decoration: none;
  color: @color-blue;

  &:hover {
    cursor: pointer;
  }
}

.title {
  // remove after apply panel_header style
  margin: 20px 0;
  font-size: @font-size-xl;
  font-weight: normal;
}

.break-all {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
