@import './variables/index.less';

// wcag contrast styles
.wcag-contrast-mutations {
  a {
    color: @cyan-blue;

    &:active,
    &:hover,
    &:focus a {
      color: darken(@cyan-blue, 15%);
    }
  }

  .collapse-panel {
    &__title {
      color: @cyan-blue;
    }
  }

  // button
  .btn.btn-strong,
  .btn.btn-primary {
    background-color: @cyan-blue;
    border: solid 1px @cyan-blue;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active.focus,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background-color: @app-theme-wcag-button-secondary;
      border-color: @cyan-blue;
    }

    &.disabled:hover,
    &[disabled]:hover,
    &.disabled:focus,
    &[disabled]:focus,
    &.disabled.focus,
    &[disabled].focus {
      background-color: @app-theme-wcag-button-disable;
      border: solid 1px @cyan-blue;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .alert.alert-warning {
    color: #8f6c2c;
    background: #fcf8e3;
    border-color: #fcf8e3;
  }

  .alert.alert-error {
    color: #d1201d;
    background: #ffeaea;
    border-color: #ffeaea;
  }

  .alert.alert-info {
    color: #0065c4;
    background-color: #f0faff;
    border-color: #f0faff;
  }

  .label.label-warning {
    color: @dark-charcoal;
    background: #ffc02e;
  }

  .label.label-success {
    color: @dark-charcoal;
    background: #62d975;
  }

  .input-group .button-toggler {
    color: @cyan-blue;
  }

  .dropdown .dropdown__button [class*='icon-'] {
    color: @cyan-blue;
  }

  .an-collapse .an-collapse-item__header:not(.is-disabled) [class*='icon-'] {
    color: @cyan-blue;
  }

  .checkbox-wrapper .checkbox--disabled .checkbox__text,
  .checkbox-wrapper .checkbox__input:disabled + .checkbox__inner + .checkbox__text {
    color: @dark-charcoal;
  }

  .checkbox-wrapper .checkbox__inner:after {
    border-color: @cyan-blue;
  }

  .form__group--error {
    .form__filed__error {
      color: @error-red;
    }
  }
}
