.icon-cc-diners-club:before {
  content: '\f24c';
}

.input-bank-card-base {
  display: flex;
  flex-flow: row;
  font-size: 14px;
  line-height: 1.5;

  .tooltip-base {
    font-size: 18px;
    text-align: center;
    color: #40b0dc;

    img {
      max-width: 150px;
      max-height: 100px;
    }

    .tooltips__content {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .bank-card-tooltip-base {
    padding-left: 10px;
  }

  .icon-card-wrap {
    flex-basis: 48px;
    box-sizing: border-box;
    width: 38px;
    height: 30px;
    padding-left: 10px;

    .icon-card-size {
      padding: 0;
      font-size: 32px;
    }
  }

  > .input-group {
    flex-grow: 1;
  }
}
