@import '~shared/style/variables/index.less';
/* stylelint-disable */

@image-url: '../../../../../shared/images';

.new-eCheck-modal {
  .echeck-type-dropdown {
    width: 180px;
  }

  .alert {
    margin-bottom: 30px;

    .only-one-error {
      display: inline-block;
      width: 520px;
      padding-left: 10px;
      margin: 0;
      line-height: 1.4;
      vertical-align: top;
      list-style: none;
    }
  }

  .form-group {
    .form-row {
      align-items: flex-start;
      min-height: 34px;
      margin: 10px 0 0;

      &:frist-child {
        margin: 0;
      }
    }

    .form-error {
      .checkbox__text:before,
      .input-group > input,
      .aaui-dropdown > button,
      .aaui-dropdown .aaui-dropdown__button-text {
        color: @state-danger-text;
        background-color: @state-danger-bg;
        border-color: @state-danger-border;
      }

      .checkbox {
        color: @state-danger-text;
      }

      .form-label-col {
        color: @state-danger-text;
      }
    }

    .form-label-col {
      flex: 0 0 141px;
      padding-right: 16px;
      margin-top: 2px;
      font-weight: @semibold;
      text-align: right;
    }

    .form-entry-col {
      flex: 0 0 320px;
      box-sizing: border-box;
    }

    .form-tooltip-col {
      flex: 0 0 36px;
      text-align: center;
    }

    .input-group {
      display: inline;
      width: 320px;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #db3811;
    }
  }

  .popover-base {
    margin-top: 6px;
    color: @color-blue;

    .popover--e {
      transform: translate(0, -20px);

      &:before,
      &:after {
        top: 20px;
      }
    }
  }

  .new_echeck_tip {
    width: 237px;
    height: 122px;
    background: url('@{image-url}/img_echeck_tips.png') top center no-repeat;
    background-size: 237px 122px;
  }
}
