.payment-check {
  .payment-check-number.input-group {
    width: 170px;
    margin-left: 10px;
  }

  .aaui-flexbox {
    justify-content: space-between;

    &-c1 {
      align-items: flex-start;
    }
  }
}
