@import '~shared/style/variables/index.less';

.permit-type {
  display: flex;

  .permit-type-modify {
    padding-top: 10px;
    font-size: 16px;
  }

  .permit-type-add {
    display: flex;
    height: 30px;
  }

  .permit-type-title {
    width: 150px;
    padding-top: 2px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: @semibold;
    line-height: 150%;
  }

  .permit-type-list {
    display: inline-flex;

    .permit-type-dropdown {
      width: 187px;
    }
  }
}
