//== Accordion variable
//
//## Define Accordion colors, border radius, and padding.

@accordion-border-color: @gray-medium;
@accordion-border-width: 2px;
@accordion-border-radius: @border-radius-base;

@accordion-header-background-color: @mystic;
@accordion-header-icon-color: @picton-blue;

@accordion-padding: 10px 15px;
@accordion-space: 5px;

@accordion-body-background-color: @white;
