//== Alert variable
//
//## Define alert colors, border radius, and padding.

@alert-padding: 15px;
@alert-border-radius: @border-radius-base + 1;
@alert-link-font-weight: bold;

@alert-success-bg: @state-success-bg;
@alert-success-text: @state-success-text;
@alert-success-border: @state-success-border;

@alert-info-bg: @state-info-bg;
@alert-info-text: @state-info-text;
@alert-info-border: @state-info-border;

@alert-warning-bg: @state-warning-bg;
@alert-warning-text: @state-warning-text;
@alert-warning-border: @state-warning-border;

@alert-danger-bg: @state-danger-bg;
@alert-danger-text: @state-danger-text;
@alert-danger-border: @state-danger-border;

@alert-success-inverse-box-shadow: 0 2px 8px 0 rgba(53, 199, 129, 0.5);
@alert-info-inverse-box-shadow: 0 2px 8px 0 rgba(53, 199, 129, 0.5);
@alert-warning-inverse-box-shadow: 0 2px 8px 0 rgba(217, 140, 31, 0.5);
@alert-error-inverse-box-shadow: 0 2px 8px 0 rgba(255, 96, 70, 0.5);
