//
// Avatar variable
// --------------------------------------------------

@avatar-bg-color: #748288;

@avatar-font-color: #fff;

@avatar-border-radius: 5px;

@avatar-font-size: 15px;
@avatar-font-size-lg: 70px;
@avatar-font-size-md: 45px;
@avatar-font-size-sm: 30px;
