//== Button variable
//
//## For each of buttons, define text, background and border color.

@btn-font-weight: normal;
@btn-font-weight-semiBold: 600;
@btn-font-weight-bold: bold;
@btn-default-color: #333;

@btn-primary-color: @white;
@btn-primary-bg: #0070d9;
@btn-primary-border: #0070d9;
@btn-primary-hover: #148eff;
@btn-primary-active: #0065c4;

@btn-secondary-color: #525d66;
@btn-secondary-bg: @white;
@btn-secondary-border: #b9c2c7;
@btn-secondary-hover: #f0f3f5;
@btn-secondary-active: #d5dce0;

@btn-super-color: #593d1c;
@btn-super-bg: #ffc02e;
@btn-super-border: #ffc02e;
@btn-super-hover: #ffdc73;
@btn-super-active: #fbad18;

@btn-attention-color: @white;
@btn-attention-bg: #de221f;
@btn-attention-border: #de221f;
@btn-attention-hover: #ff3633;
@btn-attention-active: #d1201d;

@btn-border-radius-base: 5px;
@btn-border-radius-xs: 3px;
@btn-border-radius-sm: 4px;
@btn-border-radius-lg: 5px;
@btn-border-radius-xl: 5px;

@btn-base-vertical: 10px;
@btn-base-horizontal: 20px;

@btn-xs-vertical: 6px;
@btn-xs-horizontal: 10px;

@btn-small-vertical: 8px;
@btn-small-horizontal: 14px;

@btn-large-vertical: 15px;
@btn-large-horizontal: 24px;

@btn-xl-vertical: 20px;
@btn-xl-horizontal: 30px;

//## Define Button Social Colors
@facebook-button-color: #3b5998;
@facebook-button-border-color: darken(@facebook-button-color, 5%);
@twitter-button-color: #3cf;
@twitter-button-border-color: darken(@twitter-button-color, 5%);
@google-button-color: #c63d2d;
@google-button-border-color: darken(@google-button-color, 5%);
@linkedin-button-color: #4875b4;
@linkedin-button-border-color: darken(@linkedin-button-color, 5%);
@youtube-button-color: #f33;
@youtube-button-border-color: darken(@youtube-button-color, 5%);
@vimeo-button-color: #86b32d;
@vimeo-button-border-color: darken(@vimeo-button-color, 5%);
@instagram-button-color: #4e433c;
@instagram-button-border-color: darken(@instagram-button-color, 5%);
@flickr-button-color: #fe0883;
@flickr-button-border-color: darken(@flickr-button-color, 5%);
@foursquare-button-color: #8fd400;
@foursquare-button-border-color: darken(@foursquare-button-color, 5%);
@tumblr-button-color: #2b4964;
@tumblr-button-border-color: darken(@tumblr-button-color, 5%);
