//
// Checkbox variable
// --------------------------------------------------

@checkbox-error-color:            #e65736;
@checkbox-error-background-color: #fee6e0;

@checkbox-size-sm: 14px;
@checkbox-size-base: 20px;
@checkbox-size-lg: 30px;

@checkbox-label-font-size-sm: 12px;
@checkbox-label-font-size-base: 16px;
@checkbox-label-font-size-lg: 18px;

@checkbox-border-radius-sm: 3px;
@checkbox-border-radius-base: 3px;
@checkbox-border-radius-lg: 5px;

@checkbox-border-color: @gray-medium;
@checkbox-background-color: @white;
@checkbox-disabled-background-color: @mystic;
@checkbox-border-hover-color: @ghost;
@checkbox-checked-color: @cerulean;
@checkbox-disabled-checked-color: @ghost;
