//== Color variable
//
//## Gray and brand colors for use across Bootstrap.

// Color names
@picton-blue:                   #4dbde9;
@jelly-bean:                    #297fa1;
@tango:                         #f06e17;
@gray:                          #555;
@gray-light:                    #999;
@gray-medium:                   #ddd;
@gray-lighter:                  #eee;

// Background Colors
@white:                         #fff;
@black:                         #000;
@mystic:                        #e6eef1;
@river-bed:                     #313741;

// Typography Colors
@rolling-stone:                 #748288;
@loblolly:                      #b3bdc1;
@cerulean:                      #009dda;

// Lines and Borders
@ghost:                         #d7d8db;
