//
// DatePicke variable
// --------------------------------------------------

@date-picker-calendar-header: @picton-blue;
@date-picker-calendar-highlight: darken(@date-picker-calendar-header, 10%);
@date-picker-calendar-today: @mystic;
@date-picker-calendar-selected: @ghost;
@date-picker-calendar-other-month: @loblolly;
@date-picker-font-size: @font-size-md;
