//
// Dropdown variable
// --------------------------------------------------

@dropdown-line-height-base: @line-height-md;
@dropdown-serach-box-line-height: 18px;
@dropdown-height-large: 40px;

@dropdown-font-size-base: @font-size-sm;
@dropdown-font-large: @font-size-base;
@dropdown-color: @input-color;
@dropdown-background-color: @input-bg;
@dropdown-border-color: @input-border;
@dropdown-border-radius: @input-border-radius;
@dropdown-expand-background-color: @mystic;
@dropdown-menu-hover-color: @cerulean;
@dropdown-menu-divider-color: @gray-medium;
@dropdown-search-icon-color: @rolling-stone;
@dropdown-zIndex-9: @zIndex-9;
@dropdown-search-input-line-height: @input-line-height;
@dropdown-disabled-color: @loblolly;
@dropdown-disabled-background-color: @mystic;
