//
// Fileupload variable
// --------------------------------------------------

@fileupload-line-height-base: 20px;
@fileupload-line-height-xs: 16px;
@fileupload-line-height-sm: 18px;
@fileupload-line-height-lg: 28px;
@fileupload-line-height-xl: 36px;

@fileupload-font-size-base: 16px;
@fileupload-font-size-xs: 12px;
@fileupload-font-size-sm: 14px;
@fileupload-font-size-lg: 20px;
@fileupload-font-size-xl: 24px;

@fileupload-input-text-height-base: 30px;
@fileupload-input-text-height-xs: 20px;
@fileupload-input-text-height-sm: 30px;
@fileupload-input-text-height-lg: 50px;
@fileupload-input-text-height-xl: 60px;
