//
// Footer variable
// --------------------------------------------------

@footer__prefix: footer;
@footer__background-color:#252525;
@footer__hight:219px;
@footer__color:#999;
@footer__hover-color:#f5ba46;
@footer__logo-top-border-color:#383838;
@footer__logo-bottom-border-color:#303030;
