//
// Grid variable
// --------------------------------------------------

@grid-columns-12: 12;
@grid-responsiveConfig: "sm@media screen and (min-width: @{screen-sm})",
  "md@media screen and (min-width: @{screen-md})",
  "lg@media screen and (min-width: @{screen-lg})";

@grid-gutter-width:          30px;
@grid-gutter:                (@grid-gutter-width / 2);
