//
// Header variable
// --------------------------------------------------

@header-icon-color:                                 #aaa;
@header-background-color:                           #222;
@header-nav-background-color:                       #333;
@header-light-color:                                #efaa23;

@header-desktop-prefix:                             header--desktop;
@header-desktop-background-color:                   @header-background-color;
@header-desktop-text-color:                         @white;
@header-desktop-nav-height:                         40px;
@header-desktop-nav-background-color:               @header-nav-background-color;
@header-desktop-nav-main-color:                     @header-light-color;
@header-desktop-nav-font-size:                      15px;
@header-desktop-nav-item-padding:                   20px;
@header-desktop-submenu-title-color:                #b2bdc1;
@header-desktop-submenu-title-size:                 12px;
@header-desktop-submenu-link-color:                 @river-bed;
@header-desktop-submenu-link-hover-color:           @cerulean;
@header-desktop-submenu-link-size:                  13px;
@header-desktop-submenu-arrow-size:                 6px;
@header-desktop-infobar-height:                     50px;
@header-desktop-submenu-border-color:               #ccc;
// #tablet
@header-tablet-prefix:                              header--tablet;

// ##topbar
@header-tablet-topbar-background-color:             @header-background-color;
@header-tablet-topbar-height:                       50px;
@header-tablet-topbar-logo-height:                  20px;
@header-tablet-topbar-icon-color:                   @header-icon-color;

// ##aside
@header-tablet-aside-icon-color:                    @header-icon-color;
@header-tablet-aside-width:                         320px;
@header-tablet-aside-color:                         @white;
@header-tablet-aside-background-color:              @header-nav-background-color;

// ##navbar
@header-tablet-navbar-width:                        320px;
@header-tablet-navbar-color:                        @white;
@header-tablet-navbar-background-color:             @header-nav-background-color;

@header-tablet-navbar-nav-height:                   40px;
@header-tablet-navbar-nav-color:                    @white;
@header-tablet-navbar-nav-background-color:         @header-nav-background-color;

@header-tablet-navbar-nav-active-color:             @white;
@header-tablet-navbar-nav-active-background-color:  @header-light-color;

@header-tablet-navbar-nav-sub-height:               15px;
@header-tablet-navbar-nav-sub-color:                @rolling-stone;
@header-tablet-navbar-nav-sub-background-color:     #131313;

@header-tablet-navbar-nav-sub-sub-height:           36px;
@header-tablet-navbar-nav-sub-sub-color:            @white;
@header-tablet-navbar-nav-sub-sub-background-color: #131313;

@header-tablet-navbar-transition-duration:          0.2s;
