//
// Input variable
// --------------------------------------------------

@input-bg:                       #fff;
@input-disabled-color:           @loblolly;
@input-disabled-background-color:@mystic;

@input-font-size:                14px;
@input-line-height:              28px;
@input-color:                    @gray;
@input-border:                   #ddd;
@input-border-radius:            3px;
@input-border-radius-sm:         3px;
@input-border-radius-lg:         5px;

@input-border-focus:             #66afe9;

@input-border-hover:             #ccc;

@input-color-placeholder:        #999;

@cursor-disabled:                not-allowed;

@input-height-default:          30px;
@input-height-lg:               40px;
@input-height-sm:               26px;

