//
// Label variable
// --------------------------------------------------

@label-success-bg:                #5cb85c;
@label-warning-bg:                #f0ad4e;
@label-danger-bg:                 #d9534f;
@label-info-bg:                   #5bc0de;
@label-padding:                   3px;
