//
// Modal variable
// --------------------------------------------------

@modal-padding-inner: 30px;
@modal-padding-outer: 0;
@modal-width: 590px;

@modal-animation-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
@modal-animation-offset: -40%;
@modal-animation-duration: 0.2s;
