// MQ
// -------------------------

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

// Small screen / tablet
@container-tablet:           (720px + @grid-gutter-width);

// For `@screen-sm-min` and up.
@container-sm:                @container-tablet;

// Medium screen / desktop
@container-desktop:           (940px + @grid-gutter-width);

//For `@screen-md-min` and up.
@container-md:                @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
// For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
