//== Pagination variable
//

@pagination-font-size: @font-size-sm; // 14px
@pagination-line-height: 1.428571429; // 20/14
@pagination-vertical-margin: @line-height-computed/2; // 10px
@pagination-border-radius: @border-radius-base;

@pagination-color: @link-color;
@pagination-bg: #fff;
@pagination-border-color: @ghost;

@pagination-hover-bg: @mystic;
@pagination-hover-border: @ghost;

@pagination-active-color: @river-bed;
@pagination-active-bg: transparent;

@pagination-disabled-color: @gray-light;
@pagination-disabled-bg: #fff;
@pagination-disabled-border: @ghost;

//== Pager pagination
//

@pager-font-size: @pagination-font-size;
@pager-vertical-margin: @pagination-vertical-margin;
@pager-border-radius: @pagination-border-radius;
@pager-line-height: @pagination-line-height;

@pager-color: @link-color;
@pager-bg: @pagination-bg;
@pager-border-color: @pagination-border-color;

@pager-hover-bg: @pagination-hover-bg;

@pager-active-bg: @pagination-active-bg;
@pager-active-color: @pagination-active-color;

@pager-disabled-color: @pagination-disabled-color;
