//== Progress Steps
//
//

@progress-steps-before-border-width: 20px;
@progress-steps-after-border-width:  19px;

@progress-steps-sm-before-border-width: 15px;
@progress-steps-sm-after-border-width:  14px;

@progress-steps-step-past-color: #009dda;

