@radio-size-sm: 14px;
@radio-size: 20px;
@radio-size-lg: 30px;

@radio-inner-size: 8px;
@radio-inner-size-sm: 6px;
@radio-inner-size-lg: 12px;

@radio-border-width: 1px;

@radio-inner-offset: (@radio-size - @radio-border-width * 2) / 2 -
  @radio-inner-size / 2;
@radio-inner-offset-sm: (@radio-size-sm - @radio-border-width * 2) / 2 -
  @radio-inner-size-sm / 2;
@radio-inner-offset-lg: (@radio-size-lg - @radio-border-width * 2) / 2 -
  @radio-inner-size-lg / 2;
