
@radio-size-sm: 14px;
@radio-size-base: 20px;
@radio-size-lg: 30px;

@radio-border-radius: 50%;

@radio-font-size-sm:20px;
@radio-font-size-base:40px;
@radio-font-size-lg:66px;

@radio-line-height-sm:8px;
@radio-line-height-base:12px;
@radio-line-height-lg:16px;

@radio-label-font-size-sm:12px;
@radio-label-font-size-base:16px;
@radio-label-font-size-lg:18px;

@radio-border-color:@gray-medium;
@radio-background-color:@white;
@radio-disabled-background-color:@mystic;
@radio-border-hover-color:@ghost;
@radio-checked-color:@cerulean;
@radio-disabled-checked-color:@ghost;
