//== State variable
//
//## Define colors for variant of states

@state-success-text: #0fa15b;
@state-success-bg: #ebfaf3;
@state-success-border: #35c781;

@state-info-text: #2797c3;
@state-info-bg: #eef9fd;
@state-info-border: #4dbde9;

@state-warning-text: #d98c1f;
@state-warning-bg: #fff7ed;
@state-warning-border: #ffb245;

@state-danger-text: #d93a20;
@state-danger-bg: #ffefed;
@state-danger-border: #ff6046;
