//
// Table variable
// --------------------------------------------------

@table-border-color-gray: @gray-medium;
@table-border-color-gray-lighter: #ccc;
@table-filed-line-height: 1.42857;
@table-filed-padding: 8px 30px 8px 8px;
@table-main-font: 14px;
@table-main-line-height: 18px;
@table-main-border-bottom: 2px;
@table-main-border-top: 1px;
@table-sort-icon-color: @cerulean;
@table-bottom-margin: 20px;
