//
// Tag variable
// --------------------------------------------------

@tags-default-font-size: @font-size-xs;
@tags-input-font-size: @font-size-sm;
@tags-default-border-radius: 3px;
@tags-default-height: 18px;
@tags-default-margin: 5px;
@tags-default-min-width: 10px;
@tags-hover-background-color: #00668e;
@tags-input-background-color: @rolling-stone;
@tags-input-hover-background-color: #515b5f;
@tags-input-icon-color: #afb1b7;
