@tageditor-input-border-color: @gray-medium;
@tageditor-input-border-highlight-color: #ccc;
@tageditor-default-border-color: @picton-blue;
@tageditor-error-bgcolor: #ffefed;
@tageditor-error-border-color: #ff6046;
