@toggle-label-padding: (@input-height-default - @toggle-height) /2;
@toggle-height: 20px;
@toggle-width: 38px;
@toggle-slider-size: 16px;
@toggle-unchecked-color: #e6eef1;
@toggle-checked-color: #29b0e6;
@toggle-transition: 0.2s ease;
@toggle-slider-radius: 10px;
