//== Tooltip variable
//

@tooltip-max-width: 250px;
@tooltip-background-color: rgba(0, 0, 0, 0.8);
@tooltip-background-light-color: @mystic;
@tooltip-text-color: @white;
@tooltip-text-light-color: @tooltip-background-color;
@tooltip-delay: 0.4s;
@tooltip-duration: 0.1s;
