//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-base:              ProximaNova, Arial, sans-serif;

@font-size-base:                16px;
@font-size-xs:                  ceil((@font-size-base * 0.75)); // ~12px
@font-size-sm:                  ceil((@font-size-base * 0.875)); // ~14px
@font-size-md:                  @font-size-base;
@font-size-lg:                  ceil((@font-size-base * 1.25)); // ~20px
@font-size-xl:                  ceil((@font-size-base * 1.5)); // ~24px

@line-height-base:              1.25; // 20/16
@line-height-computed:          floor((@font-size-base * @line-height-xs)); // ~20px

@headings-line-height:          1.5;
@headings-font-weight:          600;

@link-color:                    @cerulean;
