@import '~shared/style/variables/index.less';
/* stylelint-disable */

.charges-container {
  display: flex;
  justify-content: flex-end;

  .charges-summary {
    margin-top: 10px;
    text-align: right;

    .an-property-list__item {
      & > span {
        &:last-child {
          width: 120px;
          margin: 0;
        }
      }

      a {
        display: none !important;
      }
    }

    .subtotal {
      margin-bottom: 15px;
    }

    .total-fee {
      width: 250px;
      height: 40px;
      padding-top: 10px;
      margin: 15px 0 15px auto;
      border-top: 1px solid @color-gray-border;
      border-bottom: 1px solid @color-gray-border;

      span {
        vertical-align: middle;
      }
    }
  }
}
