@import '~shared/style/variables/index.less';

@light-gray: #f8f8f8;
/* stylelint-disable */

.booking-summary {
  margin: 0;
  border: 0;

  .icon {
    color: @cyan-blue;
  }

  .resource-booking-summary {
    table {
      margin: 0;

      tr {
        th:first-child {
          width: 205px;
        }

        th:nth-child(3) {
          width: 160px;
        }

        .align-right {
          text-align: right;
        }
      }
    }

    .icon-repeat-m {
      display: inline-block;
      margin-right: 5px;
    }

    .resource-info {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background-color: @cyan-blue;

      div {
        line-height: 24px;
        color: #fff;

        &:first-child {
          padding-right: 20px;
        }
      }
    }

    .event-type-notes {
      padding: 10px 20px;
      font-size: 14px;
      background-color: @light-gray;
      border-top: 1px solid @ghost;

      &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.14;
      }

      &__content {
        margin-bottom: 0;
        word-wrap: break-word;
      }
    }
  }
}
