@import '~shared/styles/variables.less';

.program-enrollment {
  &.an-panel {
    padding: 16px;
    margin-top: 14px;
  }

  &__info {
    width: 100%;
  }

  &__message {
    font-weight: @font-weight-Bold;
  }

  .is-opening {
    color: @greenish-teal;

    &-in-person {
      font-weight: @font-weight-Reg;
      color: @greenish-teal;
    }
  }

  &__message + &__time {
    margin-top: 5px;
  }

  &__enroll-btn-container {
    width: 100%;
    margin-top: 20px;
  }

  &__enroll-btn {
    width: 100%;
  }

  &__start-at,
  &__estimate {
    margin-bottom: 10px;
  }

  &__start-at {
    font-size: @font-size-lg;
    font-weight: @font-weight-Sbold;
    white-space: pre;
  }

  &__estimate {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__value {
      font-size: 36px;
      font-weight: @font-weight-Sbold;
      line-height: 1;
    }

    &__post {
      margin-left: 4px;
      white-space: pre;
      color: @dove-gray;
    }
  }
}

.create-responsive-enrollment-style() {
  box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.18);
  background-color: @white;
  border-right: none;
  border-left: none;
  border-radius: 0;

  button {
    align-self: center;
    width: 118px;
    margin: 0;
  }

  .program-enrollment {
    &__time {
      font-size: @font-size-less-base;
    }

    &__enroll-btn-container {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin: 0;
    }

    &__price {
      display: flex;
      align-items: start;
      align-self: center;
      flex-direction: column;
    }

    &__start-at {
      margin: 0;
      font-size: @font-size-md;
    }

    &__estimate {
      margin: 2px 0 0;

      &__value {
        font-size: @new-gd-font-size-l;
        line-height: 1;
      }
    }
  }

  &.an-panel.is-sticky {
    margin-right: 0;
    margin-left: 0;
  }
}

@media @media-query-medium {
  .program-enrollment {
    .create-responsive-enrollment-style();

    &.an-panel {
      padding: 11px 24px 7px 24px;
      margin: 0 -24px;
    }

    align-items: center;
    justify-content: space-between;

    &__info {
      width: auto;
    }

    &__enroll-btn-container {
      width: auto;
    }

    &__price {
      margin: 0 10px;
    }
  }
}

@media @media-query-small {
  .program-enrollment {
    .create-responsive-enrollment-style();

    &.an-panel {
      padding: 0;
      margin: 0 -15px;
    }

    align-content: flex-end;
    flex-direction: column-reverse;

    button {
      margin: 10px 15px 10px 10px;
    }

    .program-enrollment {
      &__info {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
        color: @white;
        background: @dark-charcoal;
      }

      &__enroll-btn-container {
        justify-content: space-between;
      }

      &__price {
        margin-left: 15px;
      }
    }
  }
}
