@import '~shared/styles/variables.less';

.enroll-detail {
  &-required__pre {
    margin-right: 2px;
    font-weight: @font-weight-Reg;
    color: @error-red;
  }

  &-required__post {
    font-size: @font-size-less-base;
    font-weight: @font-weight-Reg;
    color: @dove-gray;
  }
}

.enrollform__sections .section.enroll-detail .an-collapse-item__content {
  padding: 0;
}
