@import '~shared/style/variables/index.less';

.authorization-details {
  .alert.modal .modal-close {
    display: inline-block;
  }

  .form-group {
    font-size: 14px;
    line-height: 1.2;
  }

  .ach-agreement {
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    border-top: 1px solid #d7d8db;

    .ach-agreement-check {
      padding-top: 5px;
      font-weight: @semibold;
      color: #f00;
    }
  }
}
