.payment-electronic-check {
  .electronic-check-dropdown {
    margin: 0 10px;

    .aaui-dropdown__menu {
      ul {
        max-height: none;
      }

      li {
        padding: 0 1em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .aaui-flexbox {
    justify-content: space-between;
  }
}

.permit-btn-group {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
