@import '~shared/style/variables/index.less';

@color-light-gray-background: #e0e0e0;
/* stylelint-disable */

@media print {
  * {
    opacity: 1 !important;
    -webkit-print-color-adjust: exact;
  }

  .printing {
    .help-link,
    .permit-help-link {
      display: none !important;
    }

    div.actions,
    i.icon {
      display: none !important;
    }

    h1 {
      line-height: 60px;
      color: @black !important;
    }

    .permit-logo img {
      top: 0;
      margin: auto;
    }

    h1,
    div.general-permit-info,
    div.customer-info,
    div.charges-container,
    section.event-info,
    section.section-container,
    section.payment-schedules,
    section.schedules,
    section.signature {
      * {
        color: @black !important;
      }
    }

    i.icon.icon-moon-new {
      display: inline-block !important;
    }

    .collapse-panel__body {
      display: block !important;
      visibility: visible !important;

      > .collapse-panel__content {
        -ms-overflow-style: -ms-autohiding-scrollbar !important;
      }
    }

    div.customer-info,
    div.charges-container,
    section.event-info,
    section.section-container,
    section.payment-schedules,
    section.schedules,
    div.header-footer {
      border: solid 2px @black !important;
    }

    tr {
      &.striped {
        background-color: @color-light-gray-background !important;
      }

      &.child {
        background-color: @color-gray-backgroud !important;
      }

      th {
        border-top: solid 1px @black !important;
        border-bottom: solid 1px @black !important;

        &:not(:last-child) > div {
          border-right: solid 1px @black !important;
        }
      }
    }

    section.signature {
      margin-bottom: 0;
      page-break-inside: avoid;
    }

    &-no-recurring {
      .child {
        display: none !important;
      }

      .exception-dates {
        display: table-row !important;
      }
    }

    &-recurring {
      .event-info .child.normal-booking {
        display: table-row !important;
      }

      .schedules .child {
        display: table-row !important;
      }

      .exception-dates {
        display: none !important;
      }
    }

    &-breakdown-fee {
      .resource-booking-summary {
        tr {
          &.child {
            display: table-row !important;
          }
        }
      }
    }

    &-permit {
      section.schedules,
      section.amendments,
      div.separate-amendment {
        display: none !important;
      }

      .resource-info {
        background-color: @black !important;

        div {
          color: @white !important;
        }
      }
    }

    &-schedule {
      h1.permit__title,
      h1.amendment__title,
      div.charges-section,
      section.event-info,
      section.deposit,
      section.payment-refund,
      section.payment-schedules,
      section.question-answer,
      section.waiver-information,
      section.amendments,
      section.attachment,
      div.separate-charge-summary,
      div.separate-event-info {
        display: none !important;
      }

      h1.schedule__title {
        display: block !important;
      }
    }

    &-amendment {
      h1.permit__title,
      h1.schedule__title,
      div.charges-section,
      section.event-info,
      section.deposit,
      section.payment-refund,
      section.payment-schedules,
      section.question-answer,
      section.waiver-information,
      section.schedules,
      section.attachment,
      div.separate-charge-summary,
      div.separate-event-info {
        display: none !important;
      }

      h1.amendment__title {
        display: block !important;
      }

      .event-detail-header {
        background-color: @black !important;

        > div {
          color: @white !important;
        }
      }
    }
  }
}

@media print and (-webkit-min-device-pixel-ratio: 0) {
  .printing {
    thead {
      display: table-row-group !important;
    }
  }
}
