@import './variables.less';
@import '~react-base-ui/lib/less/variables/color.less';
/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */

b,
strong,
.strong {
  font-weight: @headings-font-weight;
}

/**
 * For following UI design:
 * 		1. Override modal style on PC.
 * 		2. Using default style on Tablet and Mobile.
 */
@media @media-query-large {
  .modal-header {
    padding: 21px 30px;

    > h3 {
      font-size: 24px;
    }

    .modal-close {
      right: 30px;
    }
  }

  .modal-body {
    padding: 30px 30px 0;
  }

  .modal-footer {
    padding: 30px;

    .btn + .btn {
      margin-left: 10px;
    }
  }
}

.form__group--error {
  .dropdown {
    &__button.expand,
    &__button.collapse {
      color: @state-danger-text;
      background-color: @state-danger-bg;
      border-color: @state-danger-border;

      .icon-chevron-up,
      .icon-chevron-down {
        color: @state-danger-text;
      }
    }
  }
}

/**
 * Add global z-index override for temporarily fixing the bug ANE-60242
 * refer to the three components:
 *    dropdown, modal, sticky.
 *
 * Will remove this override style after definition out the proper z-index order.
 * for all components.
 */
@zindex-sticky: 7;

.dropdown {
  & &__menu {
    z-index: (@zindex-sticky - 1);
  }
}

/**
* For keeping dropdown components's icon has same size
*/

.dropdown {
  .dropdown__button {
    [class^='icon-'] {
      font-size: @icon-font-size;
    }
  }
}

.checkbox-wrapper {
  .checkbox {
    .checkbox__text {
      font-size: @font-size-base;
    }
  }
}

.radio-wrapper {
  font-size: @font-size-base;
}

@media @media-query-small {
  .message-content {
    li {
      list-style-position: outside;
    }
  }
}

@media @media-query-medium {
  .message-content {
    li {
      list-style-position: outside;
    }
  }
}

.an-collapse {
  & &-item__header {
    padding: 16px 0;

    &.is-focusable:focus {
      outline-offset: -2px;
    }

    &.is-disabled,
    &.is-disabled:hover {
      color: @color-hint;
    }
  }
}
