@import '~active.css/less/mixins.less';
@import '~active.css/less/variables.less';
@import '~react-base-ui/lib/services/responsive/index.less';
@import '~react-base-ui/lib/less/components/icon.less';
@import './variables/index.less';

//override variables
@cerulean: #40b0dc;
@custom-option-border-lightgray: #cccccc;
@dove-gray: #707070;
@alabaster: #f7f7f7;
@iron: #d6d7da;
