{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["react", "babel", "jest", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "babylon",
        "semi": false
      }
    ],
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "react/prefer-stateless-function": [
      "error",
      {
        "ignorePureComponents": true
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-for": ["warn", ["label"]]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.eslint.config"
      }
    }
  }
}
