@import '~shared/style/variables/index.less';
/* stylelint-disable */

.copy-permit {
  .copy-permit-content {
    &__event {
      margin-bottom: 30px;

      p {
        margin-bottom: 30px;
      }

      div p {
        margin-bottom: 12px;
        font-weight: @semibold;
      }

      .aaui-dropdown__button-text {
        color: @river-bed;
      }
    }

    &__date {
      margin-bottom: -20px;

      p {
        margin-bottom: 12px;
        font-weight: @semibold;
      }

      .an-input-date {
        width: 280px;

        .input-group__field {
          color: @river-bed;
        }
      }
    }
  }
}
