.field-time{
  width: 120px !important;
}

.field-time-long{
  width: 150px !important;
}

.side-bar {
  .options {
    .row {
      span {
        font-size: 15px;
        color: white;
        width: 200px;
        display: inline-block;
      }
      input[type="text"],
      select,
      textarea {
        width: 260px;
        height: 30px;
        border-radius: 5px;
        display: inline-block;
      }
      textarea {
        height: 200px;
      }
    }
  }
}
.sample-list-combobox {
.an-list__body {
  max-height: 300px;
}
}
