.less-demo {
  padding: 10px 30px;
  font-family: "sans-serif";
  .less-demo-page {
    section {
      margin: 20px 0px 30px 0px;
      padding: 20px;
      border: 1px solid #aaa;
      border-radius: 5px;
      h2 {
        margin: 0px 0px 15px 0px;
      }
    }
  }
}
