@import '../../less/variables/index.less';

@msPrefixClass: an-select;

.@{msPrefixClass} {
  position: relative;

  &-renderer {
    position: relative;

    &__focused {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      border: solid 1px @input-border-focus;
    }

    display: inline-flex;
    width: 100%;
    padding: 5px 8px;
    overflow-y: auto;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
  }

  &-placeholder {
    position: absolute;
    left: 10px;
    padding: 0;
    color: @color-hint;
    user-select: none;
  }

  &-selection {
    display: flex;

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    &-choice {
      margin-right: 2px;

      &__last {
        margin-right: 4px;
      }

      &__tag {
        display: inline-block;
      }
    }

    &-choice__content {
      font-weight: 700;
    }

    &-choice__remove {
      display: flex;
      align-items: center;
      margin-left: 3px;
      font-size: 8px;
      opacity: 0.5;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  &-search {
    &__container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &__field {
      width: 0.75em;
      max-width: 100%;
      overflow: visible;
      border: none;
      outline: none;

      &::-ms-clear {
        display: none;
      }

      &-mirror {
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  &-option {
    position: absolute;
    z-index: @zindex-dropdown-menu;
    padding: 5px 0;
    margin-top: 4px;
    background: @white;
    border: solid 1px #ddd;
    border-radius: 4px;
  }

  &-option-list {
    overflow-y: auto;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }
  }

  &-option-item {
    display: flex;
    align-items: center;
    padding-left: 12px;
    cursor: pointer;
    border-bottom: 1px solid @white;

    :last-child {
      margin-bottom: 0;
    }

    &__selected {
      background-color: #b0e6fc;
    }

    &__active {
      color: @white;
      background-color: #4dbde9;
    }
  }

  &&--creatable &-selection {
    position: relative;
    overflow: hidden;
  }
}
