@import '~shared/style/variables/index.less';

.feeSummary {
  margin-bottom: 20px;

  .col-name {
    display: inline-block;
    padding-right: 28px;
    font-size: 14px;
    font-weight: @semibold;
    text-align: right;
  }

  .col-amount {
    display: inline-block;
    font-size: 14px;
  }

  .afx-col-right {
    text-align: right;
  }

  .fee-amount-right {
    padding-right: 44px;
  }

  .afx-col-total {
    padding-top: 10px;
    font-size: 20px;
    font-weight: @semibold;

    span {
      display: inline-block;
      padding-left: 20px;
    }
  }

  .amount-update {
    font-size: 20px;
    color: #00a258;

    &-total {
      font-size: 14px;
    }
  }

  .stress-text,
  .amount-update-detail {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }
}
