@import "~shared/style/index.less";
@import "~shared/components/IntroArrow/index.less";
@backgroundColor: #707070;
@arrowColor: red;
@arrowBackgroundColor: @backgroundColor;

#app-root {
  width: 1000px;
  margin: 50px auto;
}
.intro-showElement {
  background: #fff;
}

.aaui-flex, .aaui-flexbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.afx-col {
  div {
    color: #fff;
    text-align: center;
    background: #0090ff;
    border-radius: 3px;
  }
}
