/* stylelint-disable */

table.table.an-table.payment-refund-table {
  table-layout: fixed;

  th div,
  td div {
    width: 100%;
  }

  .format-receipt,
  .format-date,
  .format-fee-desc,
  .format-event,
  .format-resource {
    text-align: left;

    div {
      padding-right: 0;
    }
  }

  .format-receipt {
    width: 130px;

    div {
      padding-left: 30px;
    }
  }

  .format-date {
    width: 120px;
  }

  .format-fee-desc {
    width: 170px;
  }

  .format-event,
  .format-resource {
    width: 160px;
  }

  .format-amount {
    width: 190px;
    text-align: right;

    div {
      padding-right: 16px;
      padding-left: 0;
    }
  }
}
