@import '~shared/style/variables/index.less';

.reservation-detail__footer {
  .amendment-link {
    padding-right: 30px;
    font-size: 16px;
    cursor: pointer;
    color: @color-blue;

    .icon-sign-m {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      font-size: 16px;
      cursor: default;
    }

    .input-group {
      width: 540px;

      input {
        font-size: 14px;
        color: @river-bed;
      }
    }

    .amendment-input,
    .input-group {
      display: inline-block;
      color: @color-black-lighter;
    }

    .icon-remove {
      width: 24px;
      height: 24px;
      margin-left: 10px;
      font-size: 16px;
      text-align: center;
      color: @color-black-lighter;
    }
  }

  .change-radio {
    display: block;
    margin-bottom: 10px;
  }
}
