@import '../variables/index.less';

.u-color-secondarytext {
  color: @rolling-stone;
}

.u-color-moneytext {
  color: @tango;
}

.u-color-errortext {
  color: @state-danger-text;
}

.u-color-warningtext {
  color: #da8d00;
}
