.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-pre-line {
  white-space: pre-line;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-text-break-all {
  word-break: break-all;
  word-wrap: break-word;
}
