@import '../../less/variables/index.less';
/* stylelint-disable */

.an-list {
  width: 100%;
  font-family: @font-family-base;
  font-size: @font-size-sm;
  color: @river-bed;

  &__wrapper {
    min-height: 15px;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .hidden {
    display: none;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__bottom {
    padding-top: 10px;
  }

  &__body {
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;

    ul {
      position: relative;
      box-shadow: none;
      min-width: 100%;
      padding: 3px 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        box-sizing: border-box;
        padding: 0 10px 0 5px;
        margin-bottom: 1px;
        line-height: 31px;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        color: @river-bed;

        &:hover {
          color: white;
          background-color: @picton-blue;
        }

        &.selected {
          background-color: #d9eff8;
        }

        &.selected:hover {
          color: white;
          background-color: @picton-blue;
        }

        &.focus:hover {
          color: white;
          background-color: @picton-blue;
        }

        &.disabled {
          cursor: not-allowed;
          color: @jelly-bean;
          background-color: #eee;
        }

        .rowcontainer {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-start;
          box-sizing: border-box;
          width: 100%;
          padding-left: 10px;
          white-space: nowrap;

          .rowText {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
          }
        }
      }

      li:focus {
        z-index: @zindex-list;
      }
    }

    table.listtable {
      box-shadow: none;
      min-width: 100%;
      padding: 0;
      margin: 0;
      border: 0;

      tr {
        cursor: default;

        td,
        th {
          box-sizing: border-box;
          padding: 0 1.5em 0 1em;
          margin-bottom: 1px;
          line-height: 28px;
          white-space: nowrap;
          color: @river-bed;
        }
      }

      tr.listtablerow {
        cursor: pointer;

        &:hover {
          color: white;
          background-color: @picton-blue;
        }

        &.selected {
          color: white;
          background-color: @picton-blue;
        }

        &.disabled {
          cursor: not-allowed;
          color: @jelly-bean;
          background-color: @gray-light;
        }
      }
    }
  }
}
