@import '~shared/style/variables/index.less';

.initFontSize {
  font-size: 14px;
}

.cart-page {
  .page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: @page-title-margin-bottom;

    h1 {
      display: inline-flex;
      margin: 0;
      font-size: @page-title-font-size;
      font-weight: @semibold;
      line-height: @page-title-line-height;
      color: @river-bed;
    }

    .icon-group {
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .icon-cart-m {
    &:hover {
      text-decoration: none;
    }
  }

  .permit-detail-help {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
    color: #4dbde9;

    i {
      display: inline-block;
      margin-right: 3px;
    }

    &:hover {
      text-decoration: none;
      color: darken(#4dbde9, 10%);
    }
  }
}
