registry=https://artifacts.dev.activenetwork.com/artifactory/api/npm/npmjs
//artifacts.dev.activenetwork.com/artifactory/api/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJpMTJwbWp0SHpEZ2o5RmxDSWNaRU9MeXh0djFDVnFQb1YtUjJNUXpZSXRnIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUAyZjA5MGM1OS00ZWU4LTQ1ODYtYjcyMi04NmY1NjMyZjAyNTFcL3VzZXJzXC9zdmMuc2NtIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamYtYXJ0aWZhY3RvcnlAMmYwOTBjNTktNGVlOC00NTg2LWI3MjItODZmNTYzMmYwMjUxIiwiaXNzIjoiamYtYXJ0aWZhY3RvcnlAMmYwOTBjNTktNGVlOC00NTg2LWI3MjItODZmNTYzMmYwMjUxIiwiaWF0IjoxNTIzOTI4ODE4LCJqdGkiOiIwZWEyNzdjOC1iYWI5LTRjYjYtODBmOS1kN2JmMjI5OGU2YTQifQ.ZGGbyycgvQ97bRWdAQefoSgEtwMT6u7BO0BjxeK2nFbuQ9bUCD6yQvgxfw8THiUFt8q5DSxXSAJEdAtpbfzWY6hXN3uq9uUBY40xGpVnFuG0kJvARlTDU2fXnzA6CMEbk8JOCDqa6YPLxVEqQvMNJbWXxpm7I8WpfJ7XtyLhoOOXQwZ-5WwFnyBnbPSY_H3ByuEVuRU6CcMOs78wXHsm1v3v7ccmDpoArf4t4BdQRsNLPA-j4HXuTg8DrEFjIL1lH1u2zCOtReR6jzRhvL5daem2kQtBA1HC1ziw5CB_r3m9oEpjLRkNy36f0tj9Kb1WNqJEi4vpklm4FCh04FmAaA
