/* stylelint-disable */

.payment-footer {
  .payment-remaining {
    font-weight: 600;
    text-align: right;

    span {
      display: inline-block;
      width: 158px;
      padding-left: 20px;
      font-weight: normal;
      text-align: right;
    }
  }
}
