@import '~shared/styles/variables.less';

@panel-border-color: #ccc;
@panel-background-color: #fff;

.agreement-panel {
  background-color: @panel-background-color;
  border: solid 1px @panel-border-color;
  border-radius: 3px;

  &__content {
    height: 278px;
    padding: 15px 15px 0;

    > a {
      text-decoration: none;
      cursor: default;
      color: inherit;
    }
  }

  @media @media-query-small {
    &__content {
      height: 210px;
    }
  }

  .desc {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: @font-weight-Sbold;
    text-align: left;
  }
}
