@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth,no-descending-specificity, order/properties-order */

@ordersummary-panel--sticky-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

body {
  width: 100%;
}

.ordersummary-panel {
  .flex('flexbox');

  flex-direction: column;

  &.an-panel {
    .modal-header {
      h3 {
        word-break: break-word;
        white-space: normal;
      }
    }

    .modal-body {
      flex: none;
      padding: 15px 30px;
      overflow: hidden;
    }

    .modal-footer {
      padding: 0 30px 20px 30px;

      & .btn-continue {
        width: 140px;
        margin-top: 10px;
      }

      .sign-warpper {
        display: flex;
        text-align: left;

        .checkbox-warpper {
          margin-top: -3px;

          .checkbox__text {
            padding: 0;
          }

          &:after {
            padding: 0 5px;
            line-height: 28px;
            color: @state-danger-text;
            content: '*';
          }
        }

        .checkbox-label {
          flex: 1;

          > a {
            text-decoration: none;
            cursor: default;
            color: inherit;
          }
        }
      }
    }
  }

  > * {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .pay__button {
    margin-top: 20px;
  }

  > .ordersummary-title {
    > h3 {
      .ordersummary-title__collapse-trigger {
        text-decoration: none;
        color: @river-bed;
      }

      .ordersummary-title__icon-trigger {
        margin-top: -2px;
        margin-left: 4px;
      }
    }
  }
}

@media @media-query-large {
  .ordersummary-panel {
    button {
      width: 90%;
    }

    &.an-panel {
      padding: 0;
      border: 0;
    }

    > .ordersummary-title {
      &__split-line {
        display: none;
      }

      > h3 {
        margin-top: -8px;

        .ordersummary-title__icon-trigger {
          display: none;
        }
      }
    }
  }
}

@media @media-query-medium {
  .ordersummary-wrapper {
    .ordersummary-panel {
      padding: 17px 20px 20px 15px;

      &.is-sticky {
        box-shadow: @ordersummary-panel--sticky-box-shadow;
        padding-right: 44px;
        padding-left: 39px;
        border-radius: 0;
      }

      flex-direction: row;
      .flex-layout('between');

      .ordersummary-title {
        flex: 0 0 50%;
        flex-wrap: wrap;
        order: 0;
        word-break: break-all;
        word-wrap: break-word;

        &__split-line {
          display: none;
          order: 2;
          margin: 20px 0 -5px 0;
        }

        &__split-line.is-show {
          display: inline-block;
        }

        > h3 {
          .ordersummary-title__collapse-trigger {
            text-decoration: none;
            cursor: pointer;
            color: @cerulean;
          }

          .ordersummary-title__icon-trigger {
            display: inline-block;
            vertical-align: baseline;
            color: @cerulean;
          }
        }
      }

      .common-ordersummary.is-unexpanded {
        display: flex;
        align-self: center;
        flex: 0 0 28%;
        order: 0;
        margin-top: 0;
      }

      .common-ordersummary {
        display: flex;
        align-self: flex-start;
        flex: 0 0 40%;
        order: 4;
        margin-top: 10px;
      }

      > .applygiftcard-wrapper {
        display: flex;
        flex: 0 0 46%;
        order: 3;
      }

      .applygiftcard-wrapper.is-sm-and-md-mod + .btn-strong {
        display: flex;
        flex: 0 0 15%;
        .flex-layout('bottom');

        align-items: center;
        justify-content: center;
        margin-top: 5px;
      }
    }
  }
}

@media @media-query-small {
  .ordersummary-wrapper {
    .ordersummary-panel {
      flex-direction: row;
      padding-bottom: 20px;

      &.an-panel {
        padding: 10px 15px 20px 15px;

        .modal-box {
          .modal-body {
            padding: 15px 20px;
          }

          .modal-footer {
            display: block;
            padding: 0 20px 20px 20px;

            & .btn-continue {
              width: 100%;
              margin-bottom: 0;
            }
          }

          .pay__button {
            margin: 12px 0 0 0;
          }

          .pay__button.is-expanded {
            margin: 20px 0 0 0;
          }
        }
      }

      &.is-sticky {
        box-shadow: @ordersummary-panel--sticky-box-shadow;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 0;

        .pay__button {
          margin: 12px 0 0 0;
        }

        .pay__button.is-expanded {
          margin: 20px 0 0 0;
        }
      }

      .ordersummary-title {
        flex: 0 0 70%;
        flex-wrap: wrap;
        word-break: break-all;
        word-wrap: break-word;

        &__split-line {
          display: none;
          margin: 10px 0 -5px 0;
        }

        &__split-line.is-show {
          display: inline-block;
          margin-bottom: 0;
        }

        > h3 {
          font-size: 16px;

          .ordersummary-title__collapse-trigger {
            text-decoration: none;
            cursor: pointer;
            color: @cerulean;
          }

          .ordersummary-title__icon-trigger {
            display: inline-block;
            vertical-align: baseline;
            color: @cerulean;
          }
        }
      }

      .common-ordersummary.is-unexpanded {
        display: flex;
        flex: 0 0 30%;
        .flex-layout('bottom');

        flex-direction: column;
        margin-top: 0;

        .common-ordersummary-duenow {
          margin-top: 0;
          font-size: 14px;
          line-height: 16px;
        }
      }

      .common-ordersummary {
        margin-top: 0;

        &-list {
          font-size: 14px;
        }

        &-duenow {
          margin-top: 12px;
          font-size: 21px;
        }
      }
    }
  }
}
