.sample-content {
  height: 2048px;
}

.output{
  width: 600px;
  padding-left: 20px;
  font-size: 30px;
}

.out-of-range{
  color: red;
  margin-left: 20px;
}

.field{
  width: 120px !important;
}

.side-bar {
  .options {
    .row {
      span {
        font-size: 15px;
        color: white;
        width: 200px;
        display: inline-block;
      }
      input[type="text"],
      select,
      textarea {
        width: 260px;
        height: 30px;
        border-radius: 5px;
        display: inline-block;
      }
      textarea {
        height: 200px;
      }
    }
  }
}