.collapse-panel {
  width: 100%;
  border: solid 2px #d7d8db;
  opacity: 0.8;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 52px;
    padding: 14px 20px;
    overflow: hidden;

    span > .icon {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  &__title {
    line-height: 24px;
    color: #40b0dc;
  }

  &__body {
    overflow: hidden;
  }

  &__content {
    overflow: auto;
  }

  .hidden {
    display: none;
  }
}
