@import '~shared/style/variables/index.less';
/* stylelint-disable */

.tooltip-title {
  position: relative;
  zoom: 1;
  padding-right: 40px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 14px;
  font-weight: @semibold;
  color: @river-bed;
}

.tooltip-status {
  position: absolute;
  top: 2px;
  right: 0;
  height: 14px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: @semibold;
  line-height: 14px;
  text-align: center;
  border-radius: 89px;
}

.tooltip-list {
  zoom: 1;
  width: 320px;
  margin: 0 0 5px 0;
  overflow: hidden;
  font-size: 0;
  vertical-align: top;

  dt {
    float: left;
    clear: both;
    width: 120px;
    font-size: 12px;
    font-weight: @semibold;
    line-height: 150%;
    text-align: right;
    text-transform: capitalize;
    white-space: normal;
    vertical-align: top;
  }

  dd.capitalize {
    text-transform: capitalize;
  }

  dd {
    float: right;
    width: 190px;
    margin: 0;
    font-size: 12px;
    line-height: 150%;
    white-space: normal;
  }
}

.tooltip-description {
  padding: 0;
  margin: 0;

  dt,
  dd {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    line-height: 120%;
    color: @river-bed;
  }

  dt {
    margin: 0;
  }
}

.tooltip-gray {
  dt,
  dd {
    font-weight: @semibold;
    color: #4a4a4a;
  }
}
