@color-science-blue: #0070d9;
@color-white: #ffffff;

.an-sc {
  min-width: 616px;
  width: 616px;
  color: #333;
}

.an-sc-body.an-calendar {
  min-width: auto;
  min-height: auto;
  width: auto;
  height: auto;
  color: #333;
}

.sc-sample {
  .an-sc-action-btn {
    color: @color-science-blue;

    &__disabled {
      color: #8a8a8a;
    }
  }

  .an-sc-day__today {
    color: @color-science-blue;
  }

  .an-sc-day__selected {
    color: @color-white;
    background-color: @color-science-blue;
    border-color: @color-science-blue;
  }

  .an-sc-day__waiting {
    color: #d1201d;
  }

  .an-sc-day__waiting.an-sc-day__selected {
    color: #333;
    background-color: #ffdc73;
    border-color: #ffdc73;
  }

  .an-sc-day__disabled {
    color: #8a8a8a;
    background: @color-white;
  }

  .an-sc-day__selected.an-sc-day__block-start {
    border-left-color: @color-white;
  }
  .an-sc-day__selected.an-sc-day__block-end {
    border-right-color: @color-white;
  }
}

.an-sc-action-customize {
  flex: 1;
  text-align: right;
}

button.btn {
  &.select-all-btn {
    margin-right: 10px;
    color: @color-white;
    background-color: @color-science-blue;
  }

  &.remove-all-btn {
    color: #525f66;
    background-color: @color-white;
  }

  &.select-all-btn,
  &.remove-all-btn {
    font-weight: 600;
  }
}
