@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth */

.billingaddress-list {
  padding-top: 15px;

  h4 {
    margin-bottom: 10px;
  }

  &-tip {
    margin-bottom: 10px;
  }

  &-label {
    .flex('flexbox');
    .flex-layout('between');
    .flex-layout('top');

    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 15px;

    &-detail {
      width: 100%;

      .billingaddress__detail-list {
        li {
          display: inline-block;
          flex-wrap: wrap;
          padding-bottom: 5px;
          word-break: break-word;
          word-wrap: break-word;
          vertical-align: top;
          list-style: none;
        }

        li:first-child {
          width: 26%;
          margin-right: 22px;
          text-align: right;
        }

        li:last-child {
          width: 66%;
        }

        .billingaddress--no-mailingname,
        .billingaddress--no-address {
          font-style: italic;
          color: @rolling-stone;
        }
      }
    }

    &-trigger.is-edit {
      margin-top: 5px;
      margin-left: 31%;
      cursor: pointer;
      color: @cerulean;

      &:hover {
        text-decoration: none;
      }

      .icon-svg {
        margin-right: 4px;
      }
    }
  }
}

@media @media-query-small {
  .billingaddress-list {
    &-label {
      &-detail {
        .billingaddress__detail-list {
          ul {
            li {
              display: block;
            }

            li:first-child {
              width: 100%;
              margin-right: 0;
              text-align: left;
            }

            li:last-child {
              width: 100%;
            }
          }

          ul:first-child {
            padding-bottom: 12px;
          }
        }
      }

      &-trigger.is-edit {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }

  .billingaddress-wrapper {
    & &__form {
      margin-top: 8px;
    }
  }
}
