@import '~shared/styles/variables.less';
@icon-wrapper-bg-color: #d9e1e4;
/* stylelint-disable max-nesting-depth,no-descending-specificity */

.receipt-transaction__pannel {
  .receipt__content__block {
    .receipt__content__title {
      padding-top: 15px;

      &--left {
        flex: 1 0 60%;
        flex-wrap: wrap;
        word-break: break-word;
        word-wrap: break-word;
      }

      .receipt-price {
        flex: 1 0 40%;
        flex-wrap: wrap;
        text-align: right;
        word-break: break-all;
        word-wrap: break-word;
      }
    }

    .transaction-detail {
      padding-top: 20px;
      padding-bottom: 10px;

      &__name-unspecified {
        margin-bottom: 10px;

        > span {
          padding-left: 2px;
        }
      }
    }

    .receipt__label {
      margin-bottom: 15px;
    }

    .receipt__line {
      padding-top: 5px;
    }

    .receipt__icon-wrapper {
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
      color: @white;
      background-color: @icon-wrapper-bg-color;
      border-radius: 8px;
      .svg-size(16px);
    }
  }

  .transaction-detail {
    text-transform: uppercase;
  }
}

@media @media-query-small {
  .receipt-transaction__pannel {
    .receipt__content__block {
      .receipt__content__title {
        padding-top: 5px;
      }
    }
  }
}
