@import '~shared/style/variables/index.less';
/* stylelint-disable */

.payment-credit {
  .aaui-flexbox {
    justify-content: space-between;
  }

  &-label {
    padding-left: 30px;
    font-weight: @semibold;

    span {
      padding-left: 10px;
      font-weight: normal;
    }
  }
}
