.light-form {
  margin-bottom: 20px;

  label {
    font-size: 16px;
  }

  .checkbox__text {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 20px;
  }
}
