@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth */

.transactions-layouts {
  .participant {
    &-header {
      margin: 2px 0 8px 0;

      @media @media-query-small {
        flex-direction: column;
        margin: 2px 0 10px 0;

        .an-bubble {
          .bubble-arrow('top');
        }

        > * {
          margin-bottom: 8px;
        }
      }
    }

    &-header__username {
      display: inline-block;
      text-align: right;

      > span {
        display: inline-block;
        word-break: break-word;
        word-wrap: break-word;
      }

      > span:first-child {
        padding-right: 5px;
      }
    }

    &-avator {
      width: 70px;

      div {
        box-shadow: inset -1px 2px 0 0 rgba(0, 0, 0, 0.1);
        width: 48px;
        height: 48px;
        margin: auto;
        font-size: 21px;
        line-height: 48px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        color: @dark-charcoal;
        border-radius: 50%;
      }
    }

    &-transactions {
      padding: 0 10px;

      > div:not(:last-child) {
        border-bottom: 1px dotted #d6d7da;
      }
    }
  }
}

@media @media-query-small {
  .transactions-layouts {
    .participant {
      &-header__username {
        display: inline-block;
        text-align: center;

        > span {
          display: inline-block;
          word-break: break-word;
          word-wrap: break-word;
        }

        > span:first-child {
          padding-right: 5px;
        }
      }
    }
  }
}
