@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth,font-weight-notation,no-descending-specificity */

@icon-wrapper-bg-color: #d9e1e4;

.transactions-layouts {
  .an-panel {
    padding-bottom: 0;
  }

  .transactions {
    padding: 0 10px;
  }

  .transaction {
    margin: 20px 0;

    &__title {
      padding-top: 10px;
      padding-left: 15px;
      font-size: 14px;
      font-weight: @font-weight-semiBold;
      color: @black;
      background: @normal-table-background-color;
    }

    &__package_amount {
      padding-top: 26px;
    }

    &__no_charges {
      padding-left: 15px;

      span {
        font-weight: normal;
        text-align: left;
      }
    }

    &-header {
      flex-wrap: nowrap;

      &__collapse {
        display: inline-flex;

        &:hover,
        &:active,
        &:focus,
        &:visited {
          text-decoration: none;
          cursor: pointer;
        }

        .trans-collapse-arrow {
          flex: 0 0 20px;
        }

        .icon-svg.icon-svg-type-link {
          margin-top: -2px;
          margin-left: 4px;
          .svg-size(20px);
        }
      }

      .an-col:first-child {
        flex: 0 0 70%;
        flex-wrap: wrap;
        word-break: break-word;
        word-wrap: break-word;
      }

      .an-col:last-child {
        position: relative;
        flex: 0 0 30%;
        flex-wrap: wrap;
        text-align: right;
        word-break: break-all;
        word-wrap: break-word;

        .coupon-amount {
          padding-right: 24px;
          font-size: 14px;
          text-decoration: line-through;
          color: @dove-gray;
        }
      }

      &__icon-wrapper {
        display: inline-block;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        color: @white;
        background-color: @icon-wrapper-bg-color;
        border-radius: 8px;
        .svg-size(16px);
      }
    }

    &-footer {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .payment-plan {
        .checkbox {
          margin-top: 14px;
        }
      }

      &__detail {
        flex: 1 0;
        flex-basis: calc(100% - 48px);

        > div:first-child {
          text-transform: uppercase;
        }

        > div {
          margin-top: 10px;
        }
      }

      &__name-unspecified {
        > span {
          padding-left: 2px;
        }

        .icon-svg-info-circle {
          cursor: default;
        }
      }

      .operation {
        &__labels {
          flex: 1 0;
          flex-basis: calc(100% - 48px);
          margin-top: 10px;

          .label {
            display: inline-block;

            + .label {
              margin-left: 5px;
            }
          }
        }

        &__actions {
          align-self: flex-end;
          width: 48px;
          margin-top: 10px;
          text-align: right;

          a {
            text-decoration: none;
            cursor: pointer;

            + a {
              margin-left: 20px;
            }
          }
        }
      }
    }

    @media @media-query-small {
      &-header {
        .an-col:first-child {
          max-width: 70%;
        }
      }
    }
  }
}
