@import '~shared/styles/variables.less';
/* stylelint-disable max-nesting-depth,no-descending-specificity */

@transactions-grid-last-td-width: 120px;
@transactions-grid-temp-text-color: #748288;
@transactions-grid-temp-title-color: #313741;

.transactions-layouts {
  .transaction {
    .an-simple-table:not(.an-sm-simple-table) {
      table-layout: fixed;

      tr {
        .flex('flexbox');
        .flex-layout('top');

        td {
          width: @transactions-grid-last-td-width;

          &:first-child {
            flex: 1;
            overflow: hidden;
            word-break: break-word;
            word-wrap: break-word;
          }

          .format-number {
            display: inline-block;
          }
        }
      }
    }

    .fee-detail-table {
      tr {
        td:nth-child(2) {
          width: 70px;
        }
      }
    }

    &__list {
      margin: 16px 0;
    }

    &__gather {
      .flex('flexbox');
      .flex-layout('top');

      padding: 6px 16px;
      font-weight: @font-weight-semiBold;

      > b {
        flex: 1;
        text-align: right;
      }

      > span {
        flex: 0;
        flex-basis: @transactions-grid-last-td-width;
        text-align: right;
      }

      > * {
        padding: 2px 0;
      }
    }

    &__gather-others {
      font-weight: @font-weight-Reg;
    }
  }
}

@media @media-query-small {
  .transactions-layouts {
    .transaction {
      .an-simple-table {
        table-layout: fixed;

        tr {
          > td {
            color: @transactions-grid-temp-text-color;
          }

          > td:last-child {
            width: auto;
          }

          td {
            > span {
              padding: 0 10px;
              overflow: hidden;
              word-break: break-word;
              word-wrap: break-word;
              color: @transactions-grid-temp-title-color;
            }

            &:before {
              flex: 0 1 40%;
            }
          }
        }
      }

      .fee-detail-table {
        tr {
          td:nth-child(2) {
            width: auto;
          }
        }
      }

      &__gather {
        > b {
          flex: 0 1 40%;
          padding-right: 0;
          text-align: right;
        }

        > span {
          flex: 0 1 60%;
          padding-left: 10px;
          overflow: hidden;
          font-weight: @font-weight-Reg;
          text-align: left;
          word-break: break-word;
          word-wrap: break-word;
          color: @transactions-grid-temp-title-color;
        }
      }
    }
  }
}
